<script setup>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import { Edit, Delete, CircleCheck, CircleClose } from '@element-plus/icons-vue';
import { Link } from '@inertiajs/inertia-vue3';
import JbButton from '@/Components/JbButton.vue';
import * as donateApi from '@/Api/Donate';
import CheckRole from '@/Mixins/CheckRole.js';
import changeAvatar from '@/Mixins/changeAvatar';

</script>
<template>
    <BreezeAuthenticatedLayout>
        <h2 class="intro-y text-lg font-medium mt-10">
            Danh sách donates
        </h2>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
            <!-- <Link v-if="check_role" :href="route('admin.donates.create')" class="btn btn-primary shadow-md mr-2">Thêm người dùng</Link> -->
                <div class="dropdown">
                    <button v-if="check_role" class="dropdown-toggle btn px-2 box" aria-expanded="false" data-tw-toggle="dropdown">
                        <span class="w-5 h-5 flex items-center justify-center"> <fa icon="plus" size="lg"></fa> </span>
                    </button>
                </div>
                <div class="hidden md:block mx-auto text-slate-500">Hiển thị {{ from }} đến {{ to }} của {{ total }} mục</div>
                <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
                    <div class="w-56 relative text-slate-500">
                        <el-input v-model="search" class="form-control box" size="large" placeholder="Search..." />
                    </div>
                </div>
            </div>
            <!-- BEGIN: Data List -->
            <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                <el-table :data="filterTableData" style="width: 100%">
                    <el-table-column type="index" label="Số thứ tự" width="100"/>
                    <el-table-column label="Mã đơn hàng" fixed>
                        <template #default="item">
                            <div class="text-slate-500 text-sm whitespace-nowrap mt-0.5">  {{ item?.row.order_id }} </div>
                        </template>

                    </el-table-column>
                    <el-table-column label="Nội dung">
                        <template #default="item">
                            <div class="text-slate-500 text-sm whitespace-nowrap mt-0.5">  {{ item?.row.order_info }} </div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Số tiền">
                        <template #default="item">
                            <div class="text-slate-500 text-sm whitespace-nowrap mt-0.5"> {{ item?.row.amount }}</div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Mã ngân hàng">
                        <template #default="item">
                            <div class="text-slate-500 text-sm whitespace-nowrap mt-0.5"> {{ item?.row.bank_code }}</div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Thời gian thanh toán">
                        <template #default="item">
                            <div class="text-slate-500 text-sm whitespace-nowrap mt-0.5"> {{ item?.row.pay_date }}</div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Trạng thái" align="center">
                        <template #default="scope">
                            <div class="flex items-center justify-center text-success" v-if="scope.row.transaction_status == '00'">
                                <el-icon :size="20" class="mr-2"><CircleCheck /></el-icon>
                                Thành công
                            </div>
                            <div class="flex items-center justify-center text-danger" v-else>
                                <el-icon :size="20" class="mr-2"><CircleClose /></el-icon>
                                Thất bại
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Hành động" align="right">
                        <template #default="item">
                                <el-button size="small">
                                    <el-link :underline="false" :href="route('admin.donates.edit', item?.row.id)">
                                        <el-icon :size="20">  <Edit /> </el-icon>
                                            Edit
                                    </el-link>
                                </el-button>

                            <el-button
                                type="danger" size="small"
                                @click="deletedonate(item)"
                            ><el-icon :size="20">  <Delete /> </el-icon>
                                            Delete</el-button
                            >
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <!-- END: Data List -->
            <!-- BEGIN: Pagination -->
            <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
                <nav class="w-full sm:w-auto sm:mr-auto">
                    <el-pagination
                        v-model:current-page="currentPage"
                        :page-sizes="[10, 25]"
                        layout="prev, pager, next"
                        :total="$attrs.donates.length"
                        @current-change="handleCurrentChange"
                    />
                    <!-- :total="$attrs.donates.length" -->
                </nav>

            </div>
            <!-- END: Pagination -->
        </div>

    </BreezeAuthenticatedLayout>
    <!-- BEGIN: Delete Confirmation Modal -->
    <el-dialog
            v-model="dialogVisible"
            title="Tips"
            width="30%"
            :before-close="handleClose"
        >
            <span>Bạn có muốn xóa ?</span>
            <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="onDelete(rowId)"
                >OK</el-button
                >
            </span>
            </template>
        </el-dialog>

    <!-- END: Delete Confirmation Modal -->
</template>

<script>
export default {
    name: "Index",
    mixins: [CheckRole, changeAvatar],
    data(){
        return {
            perPage: '',
            currentPage: 1,
            total: 1,
            lastPage: 1,
            from: 1,
            to:1,
            dataDonate: [],
            rowId: '',
            dialogVisible: false,
            search: null,
        }
    },
    created(){
        this.getDatadonate()
    },
    computed: {
        filterTableData(){
            return this.dataDonate.filter(
                (data) =>
                    !this.search ||
                    data.bank_code.toLowerCase().includes(this.search.toLowerCase())||
                    data.order_info.toLowerCase().includes(this.search.toLowerCase()) ||
                    data.card_type.toLowerCase().includes(this.search.toLowerCase())
            )
        }
    },
    methods:{
        async getDatadonate(){
            let response = await donateApi.getDonateList(this.currentPage)
            console.log("🚀 ~ file: Index.vue ~ line 167 ~ getDatadonate ~ response", response)
            this.dataDonate = response.data.data
            this.from = response.data.meta.from
            this.to = response.data.meta.to
            this.handleCurrentChange = response.data.meta.current_page
        },
        handleCurrentChange(value){
            this.currentPage = value
        },
        async onDelete(rowId){
            await donateApi.deleteDonate(rowId)
                .then(() => {
                    this.dialogVisible = false
                    this.getDatadonate()
                    this.$toast.success('Xóa thành công !')
                })
                .catch((e) => {
                    console.log(e)
                    this.$toast.error('Xóa thất bại !')
                })
        },
        deletedonate(item) {
            this.dialogVisible = true
            this.rowId = item.row.id
        },
        handleClose(){
            this.dialogVisible = false
        },
    },
    watch: {
        'currentPage'() {
            this.getDatadonate()
        },
    },
}
</script>

<style>

</style>
