<script setup>
import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
import {
    Edit,
    Delete,
    CircleCheck,
    CircleClose,
} from "@element-plus/icons-vue";
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import BreezeInput from "@/Components/Input.vue";
import BreezeLabel from "@/Components/Label.vue";
import * as userApi from "@/Api/User";
import ShowPassword from "@/Mixins/showPassword.js";
import showAddress from "@/Mixins/showAddress.js";
import changeAvatar from "@/Mixins/changeAvatar.js";
import axios from "axios";
</script>
<template>
    <BreezeAuthenticatedLayout>
        <div class="intro-y flex items-center mt-8">
            <h2 class="text-lg font-medium mr-auto">Thêm User</h2>
        </div>
        <div class="grid grid-cols-12 gap-6 mt-8">
            <div class="col-span-12 lg:col-span-9 2xl:col-span-10">
                <el-form ref="ruleFormRef">
                <div class="intro-y col-span-12 lg:col-span-6">
                    <!-- BEGIN: Form Layout -->
                    <div class="intro-y box p-5">
                        <div class="mt-3">
                            <BreezeLabel>Firstname</BreezeLabel>
                            <BreezeInput
                                id="first_name"
                                type="text"
                                v-model="form.first_name"
                                autofocus
                                placeholder="Firstname"
                                autocomplete="first_name"
                            />
                        </div>

                        <div class="mt-3">
                            <BreezeLabel>Lastname</BreezeLabel>
                            <BreezeInput
                                id="last_name"
                                type="text"
                                v-model="form.last_name"
                                autofocus
                                placeholder="Lastname"
                                autocomplete="last_name"
                                class="mt-4"
                            />
                        </div>

                        <div class="mt-3">
                            <BreezeLabel>Email</BreezeLabel>
                            <BreezeInput
                                id="email"
                                type="email"
                                v-model="form.email"
                                placeholder="Email"
                                autocomplete="email"
                                class="mt-4 form-control w-full block"
                            />
                        </div>

                        <div class="relative mt-4">
                            <BreezeLabel>Password</BreezeLabel>
                            <BreezeInput
                                :type="showPassword ? 'text' : 'password'"
                                v-model="form.password"
                                autofocus
                                placeholder="Password"
                                autocomplete="new-password"
                                :rules="[
                                    rules.required,
                                    rules.min,
                                    rules.strength,
                                ]"
                                :class="
                                    form.errors.password ? 'border-red-600' : ''
                                "
                            />
                            <fa
                                :icon="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                                size="lg"
                                class="absolute z-50 right-0 mr-2"
                                style="bottom: 15px"
                                @click="showPassword = !showPassword"
                            ></fa>
                        </div>

                        <div class="mt-3">
                            <BreezeLabel>Phone</BreezeLabel>
                            <BreezeInput
                                type="number"
                                v-model="form.phone"
                                autofocus
                                placeholder="Phone"
                                autocomplete="phone"
                                class="mt-4"
                            />
                        </div>

                        <div class="sm:grid grid-cols-2 gap-2 mt-4">
                            <div class="input-group">
                                <div
                                    id="input-group-3"
                                    class="input-group-text p-2"
                                >
                                    City
                                </div>
                                <el-select
                                    v-model="citySelect"
                                    filterable
                                    placeholder="City"
                                    aria-describedby="input-group-3"
                                    @change="getProvince(citySelect)"
                                >
                                    <el-option
                                        v-for="item in cities"
                                        :key="item.code"
                                        :label="item.name"
                                        :value="item.code"
                                    />
                                </el-select>
                            </div>

                            <div class="input-group mt-2 sm:mt-0">
                                <div
                                    id="input-group-4"
                                    class="input-group-text"
                                >
                                    Districts
                                </div>
                                <el-select
                                    v-model="districtSelect"
                                    filterable
                                    placeholder="Huyện"
                                    aria-describedby="input-group-3"
                                    @change="getWard(districtSelect)"
                                >
                                    <el-option
                                        v-for="item in districts"
                                        :key="item.code"
                                        :label="item.name"
                                        :value="item.code"
                                    />
                                </el-select>
                            </div>

                            <div class="input-group mt-2 sm:mt-0">
                                <div
                                    id="input-group-4"
                                    class="input-group-text"
                                >
                                    Wards
                                </div>
                                <el-select
                                    v-model="wardSelect"
                                    filterable
                                    placeholder="Xã/Phường"
                                    aria-describedby="input-group-3"
                                >
                                    <el-option
                                        v-for="item in wards"
                                        :key="item.code"
                                        :label="item.name"
                                        :value="item.code"
                                    />
                                </el-select>
                            </div>
                        </div>

                        <div class="mt-3">
                            <BreezeLabel>Quyền</BreezeLabel>
                            <div class="input-group block">
                                <el-select
                                    v-model="form.role_name"
                                    filterable
                                    placeholder=""
                                    aria-describedby="input-group-3"
                                >
                                    <el-option
                                        v-for="item in roles"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.name"
                                    />
                                </el-select>
                            </div>
                        </div>
                        <div class="mt-4 flex items-center">
                            <label>Trạng thái</label>
                            <div class="form-switch ml-3">
                                <el-switch
                                    v-model="form.status"
                                    :class="[
                                        'form-check-input',
                                        'is-checked' ? form.status : '',
                                    ]"
                                />
                            </div>
                        </div>
                        <div class="text-right mt-5">
                            <el-button
                                type="primary"
                                @click="submitForm(submit)"
                            >
                                Save
                            </el-button>
                        </div>
                    </div>
                </div>
            </el-form>
            </div>

        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
export default {
    mixins: [ShowPassword, showAddress, changeAvatar],
    props: {
        modelValue: {
            type: String,
        },
    },
    data() {
        return {
            form: useForm({
                email: "",
                first_name: "",
                last_name: "",
                password: "",
                phone: "",
                zip_code: "",
                avatar: "",
                imageUrl: "",
                city: "",
                district: "",
                ward: "",
                status: false,
                role_name: "",
            }),
            roles: [],
        };
    },
    created() {
        this.getRole();
    },
    methods: {
        submitForm() {
            axios
                .post(route("api.users.store"), this.form)
                .then((res) => {
                    this.$toast.success("Cập nhật thành công!");
                })
                .catch((err) => {
                    this.$toast.error("Cập nhật thất bại");
                });
        },
        getRole() {
            this.roles = this.$attrs.roles?.filter(
                (role) => role.name !== "super_admin"
            );
        },
    },
};
</script>

<style lang="scss" scoped>
.formLabel {
    position: absolute;
    right: 50%;
    bottom: 50%;
    cursor: pointer;
    z-index: 10;
    transform: translate(50%, 50%);
    padding: 10px;
    &:hover {
        color: #409eff;
    }
}
.el-select {
    width: 100%;
}
</style>
