<script setup>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import { Edit, Delete, CircleCheck, CircleClose, SwitchButton } from '@element-plus/icons-vue';
import { Link } from '@inertiajs/inertia-vue3';
import JbButton from '@/Components/JbButton.vue';
import * as userApi from '@/Api/User';
import CheckRole from '@/Mixins/CheckRole.js';
import changeAvatar from '@/Mixins/changeAvatar';

</script>
<template>
    <BreezeAuthenticatedLayout>
        <h2 class="intro-y text-lg font-medium mt-10">
            Danh sách người dùng
        </h2>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
            <Link v-if="check_role" :href="route('admin.users.create')" class="btn btn-primary shadow-md mr-2">Thêm người dùng</Link>
                <div class="dropdown">
                    <button v-if="check_role" class="dropdown-toggle btn px-2 box" aria-expanded="false" data-tw-toggle="dropdown">
                        <span class="w-5 h-5 flex items-center justify-center"> <fa icon="plus" size="lg"></fa> </span>
                    </button>
                </div>
                <div class="hidden md:block mx-auto text-slate-500">Hiển thị {{ from }} đến {{ to }} của {{ total }} mục</div>
                <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
                    <div class="w-56 relative text-slate-500">
                        <el-input v-model="search" class="form-control box" size="large" placeholder="Search..." />
                    </div>
                </div>
            </div>
            <!-- BEGIN: Data List -->
            <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                <el-table :data="filterTableData" style="width: 100%">
                    <el-table-column type="index" width="50"/>
                    <el-table-column label="Hình ảnh">
                        <template #default="item">
                            <el-image
                                v-if="item.row.profile_photo_path == '/storage/'"
                                style="width: 100px; height: 100px"
                                :src="url"
                                ></el-image>
                            <el-image v-else style="width: 100px; height: 100px" :src="item.row.profile_photo_path" />
                        </template>

                    </el-table-column>
                    <el-table-column label="Họ và tên" >
                        <template #default="item">
                            <el-link class="font-medium whitespace-nowrap" :href="route('admin.users.edit', item?.row.id)">
                                {{ item?.row.first_name }} {{ item?.row.last_name }}
                            </el-link>
                            <div class="text-slate-500 text-sm whitespace-nowrap mt-0.5"> {{ item?.row.phone }}</div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Quyền" >
                        <template #default="item">
                            <div class="text-slate-500 text-sm whitespace-nowrap mt-0.5 font-medium"> {{ item?.row.role_name }}</div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Trạng thái" align="center">
                        <template #default="scope">
                            <div class="flex items-center justify-center text-success" v-if="scope.row.status == 1">
                                <el-icon :size="20" class="mr-2"><CircleCheck /></el-icon>
                                Active
                            </div>
                            <div class="flex items-center justify-center text-danger" v-else>
                                <el-icon :size="20" class="mr-2"><CircleClose /></el-icon>
                                Inactive
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Hành động" align="right">
                        <template #default="item">
                            <el-button size="small" v-if="$attrs.auth.permissions.includes('update_user')">
                                <el-link :underline="false" :href="route('admin.users.edit', item?.row.id)">
                                    <el-icon :size="20">  <Edit /> </el-icon>
                                        Edit
                                </el-link>
                            </el-button>

                            <el-button v-if="$attrs.auth.permissions.includes('delete_user')"
                                type="danger" size="small"
                                @click="deleteUser(item)"
                            ><el-icon :size="20">  <Delete /> </el-icon>
                                        Delete
                            </el-button>

                            <el-button type="primary" size="small" class="mt-4">
                                <el-link :underline="false" :href="route('users.impersonate', item?.row.id)" class="text-white">
                                    <el-icon :size="20">  <SwitchButton /> </el-icon>
                                    Đăng nhập ẩn danh
                                </el-link>
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <!-- END: Data List -->
            <!-- BEGIN: Pagination -->
            <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
                <nav class="w-full sm:w-auto sm:mr-auto">
                    <el-pagination
                        v-model:current-page="currentPage"
                        :page-sizes="[10, 25]"
                        layout="prev, pager, next"
                        :total="$attrs.users.length"
                        @current-change="handleCurrentChange"
                    />
                </nav>

            </div>
            <!-- END: Pagination -->
        </div>

    </BreezeAuthenticatedLayout>
    <!-- BEGIN: Delete Confirmation Modal -->
    <el-dialog
            v-model="dialogVisible"
            title="Tips"
            width="30%"
            :before-close="handleClose"
        >
            <span>Bạn có muốn xóa ?</span>
            <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="onDelete(rowId)"
                >OK</el-button
                >
            </span>
            </template>
        </el-dialog>

    <!-- END: Delete Confirmation Modal -->
</template>

<script>
export default {
    name: "Index",
    mixins: [CheckRole, changeAvatar],
    data(){
        return {
            perPage: '',
            currentPage: 1,
            total: 1,
            lastPage: 1,
            from: 1,
            to:1,
            dataUser: [],
            rowId: '',
            dialogVisible: false,
            search: null,
            url: null
        }
    },
    created(){
        this.getDataUSer()
    },
    computed: {
        filterTableData(){
            return this.dataUser.filter(
                (data) =>
                    !this.search ||
                    data.last_name.toLowerCase().includes(this.search.toLowerCase())||
                    data.first_name.toLowerCase().includes(this.search.toLowerCase())
            )
        }
    },
    methods:{
        async getDataUSer(){
            let response = await userApi.getUserList(this.currentPage)
            this.dataUser = response.data.data
            this.from = response.data.meta.from
            this.to = response.data.meta.to
            this.handleCurrentChange = response.data.meta.current_page
            this.url = "https://element-plus.org/images/figure-1.png"
        },
        handleCurrentChange(value){
            this.currentPage = value
        },
        async onDelete(rowId){
            await userApi.deleteUser(rowId)
                .then(() => {
                    this.dialogVisible = false
                    this.getDataUSer()
                    this.$toast.success('Xóa thành công !')
                })
                .catch((e) => {
                    console.log(e)
                    this.$toast.error('Xóa thất bại !')
                })
        },
        deleteUser(item) {
            this.dialogVisible = true
            this.rowId = item.row.id
        },
        handleClose(){
            this.dialogVisible = false
        },
    },
    watch: {
        'currentPage'() {
            this.getDataUSer()
        },
    },
}
</script>

<style scoped>
.el-link__inner {
    color: #fff;
}
</style>
