<script setup>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import { Head } from '@inertiajs/inertia-vue3';
import GeneralReport from '@/Components/GeneralReport/Index.vue';
import SalesLineChart from '@/Components/SalesLineChart.vue';
import WeeklyTopSeller from '@/Components/WeeklyTopSeller.vue';
import SalesDoughnutChart from '@/Components/SalesDoughnutChart.vue';
import OfficialStore from '@/Components/OfficialStore.vue';
import WeeklyTopProducts from '@/Components/WeeklyTopProducts.vue';
import GeneralReportNew from '@/Components/GeneralReportNew.vue';
import Calendar from '@/Components/Calendar.vue';
import * as customerApi from '@/Api/Customer';

</script>

<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>

        <!-- BEGIN: Content -->
        <div class="content">
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12 2xl:col-span-12">
                    <div class="grid grid-cols-12 gap-6">
                        <!-- BEGIN: General Report -->
                        <general-report :dataCustomer="dataCustomer"></general-report>
                        <!-- END: General Report -->
                        <!-- BEGIN: Sales Report -->
                        <!-- END: Sales Report -->
                        <!-- BEGIN: Thống kê giới tính khách hàng -->
                        <weekly-top-seller :dataCustomer="dataCustomer"></weekly-top-seller>
                        <!-- END: Thống kê giới tính khách hàng -->
                        <!-- BEGIN: Sales Report -->
                        <sales-doughnut-chart></sales-doughnut-chart>
                        <!-- END: Sales Report -->
                        <!-- BEGIN: General Report -->
                        <!-- <general-report-new></general-report-new> -->
                        <!-- END: General Report -->
                        <!-- BEGIN: Weekly Top Products -->
                        <weekly-top-products></weekly-top-products>
                        <!-- END: Weekly Top Products -->

                    </div>
                </div>

                <div class="col-span-12 2xl:col-span-12">
                    <div class="2xl:border-l -mb-10 pb-10">
                        <!-- BEGIN: Calendar -->
                        <calendar/>
                        <!-- END: Calendar -->
                        <div class="2xl:pl-6 grid grid-cols-12 gap-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Content -->
    </BreezeAuthenticatedLayout>
</template>
<script>

export default {
    data(){
        return {
            dataCustomer: {}
        }
    },
    created(){
        this.getCustomer()
    },
    methods: {
        async getCustomer(){
            await customerApi.customers()
                .then(res => {
                    this.dataCustomer = res.data
                })
        }
    }
}
</script>
