<script setup>
import TotalUsers from './TotalUsers.vue';
import TotalCustomers from './TotalCustomer.vue';
import * as productApi from "@/Api/Product";

</script>
<template>
    <div class="col-span-12 mt-8">
        <div class="intro-y flex items-center h-10">
            <h2 class="text-lg font-medium truncate mr-5">
                Báo cáo tổng hợp
            </h2>
            <a href="" class="ml-auto flex items-center text-primary"> <i data-lucide="refresh-ccw" class="w-4 h-4 mr-3"></i> Reload Data </a>
        </div>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                <div class="report-box zoom-in">
                    <div class="box p-5">
                        <div class="flex">
                            <i data-lucide="credit-card" class="report-box__icon text-pending"></i>
                            <div class="ml-auto">
                                <div class="report-box__indicator bg-danger tooltip cursor-pointer" title="2% Lower than last month"> 2% <i data-lucide="chevron-down" class="w-4 h-4 ml-0.5"></i> </div>
                            </div>
                        </div>
                        <div class="text-3xl font-medium leading-8 mt-6">{{ dataProduct.length }}</div>
                        <div class="text-base text-slate-500 mt-1">Sản phẩm</div>
                    </div>
                </div>
            </div>
            <total-users></total-users>
            <total-customers :dataCustomer="dataCustomer"></total-customers>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            dataProduct: [],
        }
    },
    props: {
        dataCustomer: {
            type: Object,
        }
    },
    created() {
        this.fetchData()
    },
    methods: {
        async fetchData(){
            const data = await productApi.getProductList(this.currentPage)
            this.dataProduct = data.data.data
        },
    }
}
</script>

<style>

</style>
