<template>
<div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
    <div class="report-box zoom-in">
        <div class="box p-5">
            <div class="flex">
                <i data-lucide="shopping-cart" class="report-box__icon text-primary"></i>
                <div class="ml-auto">
                    <div class="report-box__indicator bg-success tooltip cursor-pointer" title="33% Higher than last month"> 33% <fa icon="chevron-up" class="w-4 h-4 ml-0.5"></fa> </div>
                </div>
            </div>
            <div class="text-3xl font-medium leading-8 mt-6">{{ dataCustomer.customers?.length }}</div>
            <div class="text-base text-slate-500 mt-1">Khách hàng</div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
        dataCustomer: {
            type: Object,
        }
    },

}
</script>

<style>

</style>
