[multiple]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, select:focus, textarea:focus{
    --tw-ring-shadow: none;
}
.text-red-600, .bg-red-600 {
    color:  #c45656;
}
.border-red-600 {
    border: 1px solid #c45656;
}
.el-select .el-input__inner {
    height: 35px;
}
.dark\:bg-theme-1 {
    background-color: #1C3FAA;
}
.truncate{
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden;
}
.el-empty{
    position: relative;
}
.el-empty__image svg{
    position: absolute;
    top: 0;
    right: 0;
    height: auto !important;
    width: auto !important;
}
.text-white .el-link__inner {
    color: #fff;
}
