<template>
<div class="col-span-12 md:col-span-6 xl:col-span-4 2xl:col-span-12 xl:col-start-1 xl:row-start-2 2xl:col-start-auto 2xl:row-start-auto mt-3">
    <div class="intro-x flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Lịch
        </h2>
        <!-- <a href="" class="ml-auto text-primary truncate flex items-center"> <i data-lucide="plus" class="w-4 h-4 mr-1"></i> Add New Schedules </a> -->
    </div>
    <div class="mt-5">
        <div class="intro-x box">
            <div class="p-5">
                <el-calendar v-model="value" />
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            value: new Date()
        }
    }
}
</script>
