<script setup>
import { computed } from 'vue'

const props = defineProps({
    label: {
        type: [String, Number],
        default: null
    },
    tag: {
        type: String,
        default: null
    },
    width: {
        type: Number,
        default: 150
    },
    as: {
        type: String,
        default: null
    },
    fields: {
      type: Array,
      default: () => [],
    },
})

</script>
<template>
    <el-table
        ref="table"
        border
    >
        <el-table-column
            v-for="(field, index) in fields"
            :key="index"
            :label="field.label"
            :align="field.align || `left`"
            :width="field.width || 'auto'"
            :label-class-name="field.lableClassName || `left`"
        >
            <!-- Pass on all scoped slots -->
            <template #default="scope">
                <slot :name="field.key" v-bind="scope">
                    {{ scope.row[field.key] }}
                </slot>
            </template>
        </el-table-column>
    </el-table>
</template>

<script>
export default {

}
</script>

<style>

</style>
