
<script setup>
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';
const props = defineProps({
    label: {
        type: String,
        default: null
    },
    fields: {
      type: Array,
      default: () => [],
    },
    type: {
        type: String,
        default: null
    },
    placeholder: {
        type: String,
        default: null
    },
    modelValue: {
      type: [String, Number],
      default: "",
    },
    disabled: {
        type: String,
        default: null
    },
})

defineEmits(['update:modelValue']);
</script>
<template>
    <div class="mt-3">
        <BreezeLabel>{{ label }}</BreezeLabel>
        <BreezeInput
            :id="label"
            :type="type"
            :placeholder="placeholder"
            :value="modelValue"
            @input="updateInput"
            :disabled="disabled"
        />
    </div>
</template>

<script>
export default {
    methods: {
        updateInput(event) {
            this.$emit("update:modelValue", event.target.value);
        }
    }
}
</script>

<style>

</style>
