<script setup>
import { SwitchButton } from "@element-plus/icons-vue";
</script>
<template>
    <div>
        <el-button type="primary" size="small" class="mt-4">
            <el-link
                :underline="false"
                :href="route('users.leave-impersonate')"
                class="text-white"
            >
                <el-icon :size="20"> <SwitchButton /> </el-icon>
                Đăng xuất ẩn danh
            </el-link>
        </el-button>
    </div>
</template>

<script>
export default {
    data(){
        return {
            impersonate: null
        }
    },
    async created(){
        console.log(this.$attrs)
    }
};
</script>

<style></style>
