<script setup>
import { computed } from 'vue'

const props = defineProps({
  label: {
    type: [String, Number],
    default: null
  },
  href: {
    type: String,
    default: null
  },
  target: {
    type: String,
    default: null
  },
  to: {
    type: [String, Object],
    default: null
  },
  type: {
    type: String,
    default: null
  },
  as: {
    type: String,
    default: null
  },
  small: Boolean,
  outline: Boolean,
  active: Boolean,
  disabled: Boolean
})

const is = computed(() => {
  if (props.as) {
    return props.as
  }

  if (props.href) {
    return 'el-link'
  }

  return 'el-button'
})

const computedType = computed(() => {
  if (is.value === 'button') {
    return 'submit'
  }

  return null
})

const labelClass = computed(() => props.small && props.icon ? 'px-1' : '')

const componentClass = computed(() => {
  const base = [
    'btn w-full',
    props.active ? 'el-button--primary xl:mr-3' : 'xl:mt-0',
  ]

  // if (props.disabled) {
  //   base.push('cursor-not-allowed', props.outline ? 'opacity-50' : 'opacity-70')
  // }

  return base
})
</script>

<template>
  <component
    :is="is"
    :class="componentClass"
    :href="href"
    :type="computedType"
    :target="target"
    :disabled="disabled"
    :underline="false"
  >
    {{label}}
  </component>
</template>
<style>

</style>
