<script setup>
defineProps(['value']);
</script>

<template>
    <label class="block form-label capitalize" style="text-align: left;">
        <span v-if="value">{{ value }}</span>
        <span v-else><slot /></span>
    </label>
</template>
