<template>
    <div class="fixed w-full h-full overlay-loading z-50 top-0">
        <div class="loading-1">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.overlay-loading {
  background: rgba(135, 206, 235, 0.123);
}
.loading-1{
    margin-top: 50vh;
    margin-left: 45vw;
    position: relative;
}
.loading-1 i {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 9px;
    height: 5px;
    background: #9b59b6;
    animation: loading-1 1.5s  infinite ease-in-out;
}
.loading-1 i:nth-child(2){
  left: 11px;
  animation-delay: .2s;
}
.loading-1 i:nth-child(3){
  left:22px;
  animation-delay: .4s;
}
.loading-1 i:nth-child(4){
  left:33px;
  animation-delay: .6s;
}
.loading-1 i:nth-child(5){
  left:44px;
  animation-delay: .8s;
}
@keyframes loading-1 {
  0% {
  height:5px;transform:translateY(0px);background:#9b59b6;
  }
    25% {height:30px;transform:translateY(15px);background:#1c3888;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}
</style>
