<template>
    <div class="col-span-12 lg:col-span-6 mt-8">
        <div class="intro-y block sm:flex items-center h-10">
            <h2 class="text-lg font-medium truncate mr-5">
                Sales Report
            </h2>
            <div class="sm:ml-auto mt-3 sm:mt-0 relative text-slate-500">
                <i data-lucide="calendar" class="w-4 h-4 z-10 absolute my-auto inset-y-0 ml-3 left-0"></i> 
                <input type="text" class="datepicker form-control sm:w-56 box pl-10">
            </div>
        </div>
        <div class="intro-y box p-5 mt-12 sm:mt-5">
            <div class="flex flex-col xl:flex-row xl:items-center">
                <div class="flex">
                    <div>
                        <div class="text-primary dark:text-slate-300 text-lg xl:text-xl font-medium">$15,000</div>
                        <div class="mt-0.5 text-slate-500">This Month</div>
                    </div>
                    <div class="w-px h-12 border border-r border-dashed border-slate-200 dark:border-darkmode-300 mx-4 xl:mx-5"></div>
                    <div>
                        <div class="text-slate-500 text-lg xl:text-xl font-medium">$10,000</div>
                        <div class="mt-0.5 text-slate-500">Last Month</div>
                    </div>
                </div>
                <div class="dropdown xl:ml-auto mt-5 xl:mt-0">
                    <button class="dropdown-toggle btn btn-outline-secondary font-normal" aria-expanded="false" data-tw-toggle="dropdown"> Filter by Category <i data-lucide="chevron-down" class="w-4 h-4 ml-2"></i> </button>
                    <div class="dropdown-menu w-40">
                        <ul class="dropdown-content overflow-y-auto h-32">
                            <li><a href="" class="dropdown-item">PC & Laptop</a></li>
                            <li><a href="" class="dropdown-item">Smartphone</a></li>
                            <li><a href="" class="dropdown-item">Electronic</a></li>
                            <li><a href="" class="dropdown-item">Photography</a></li>
                            <li><a href="" class="dropdown-item">Sport</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="report-chart">
                <canvas id="report-line-chart" height="169" class="mt-6"></canvas>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>