<script setup>
import { Bar } from "vue-chartjs";
import {
    Chart as ChartJS,
    Title,
    Tooltip,
    Legend,
    BarElement,
    CategoryScale,
    LinearScale,
} from "chart.js";
ChartJS.register(
    Title,
    Tooltip,
    Legend,
    BarElement,
    CategoryScale,
    LinearScale
);
</script>
<template>
    <div class="col-span-12 sm:col-span-6 lg:col-span-6 mt-8">
        <div class="intro-y flex items-center h-10">
            <h2 class="text-lg font-medium truncate mr-5">Thống kê Donate 7 ngày gần nhất</h2>
            <!-- <a href="" class="ml-auto text-primary truncate">Show More</a> -->
        </div>
        <div class="intro-y box p-5 mt-5">
            <Bar
                :chart-options="chartOptions"
                :chart-data="chartData"
                :chart-id="chartId"
                :dataset-id-key="datasetIdKey"
                :plugins="plugins"
                :css-classes="cssClasses"
                :styles="styles"
                :width="width"
                :height="height"
            />
            <div class="mt-8">
                <div class="flex items-center">
                    <div class="w-2 h-2 bg-primary rounded-full mr-3"></div>
                    <span class="truncate">Số tiền lớn nhất của ngày trong tuần: </span>
                    <span class="font-medium xl:ml-auto">{{ dataDonate?.data?.dataDonate?.maxDonate.toLocaleString() }}</span>
                </div>
                <!-- <div class="flex items-center mt-4">
                    <div class="w-2 h-2 bg-pending rounded-full mr-3"></div>
                    <span class="truncate">31 - 50 Years old</span>
                    <span class="font-medium xl:ml-auto">33%</span>
                </div>
                <div class="flex items-center mt-4">
                    <div class="w-2 h-2 bg-warning rounded-full mr-3"></div>
                    <span class="truncate">>= 50 Years old</span>
                    <span class="font-medium xl:ml-auto">10%</span>
                </div> -->
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "BarChart",
    props: {
        chartId: {
            type: String,
            default: "bar-chart",
        },
        datasetIdKey: {
            type: String,
            default: "label",
        },
        width: {
            type: Number,
            default: 400,
        },
        height: {
            type: Number,
            default: 400,
        },
        cssClasses: {
            default: "",
            type: String,
        },
        styles: {
            type: Object,
            default: () => {},
        },
        plugins: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            dataDonate: [],
            chartData: {
                labels: [],
                datasets: [
                    {
                        label: "Số tiền",
                        backgroundColor: "#f87979",
                        data: [],
                    },
                ],
            },
            chartOptions: {
                responsive: true,
                maintainAspectRatio: false,
            },
        };
    },
    created(){
        this.getDataBarChart()
    },
    methods: {
        async getDataBarChart(){
            this.dataDonate = await axios.get(route('api.get.donate.time'))
            this.chartData.labels = this.dataDonate.data.dataLabels
            this.chartData.datasets[0].data = this.dataDonate.data.dataDonate.dataPeriod
        }
    },
};
</script>

<style></style>
