<template>
    <div class="col-span-12 mt-6">
        <div class="intro-y block sm:flex items-center h-10">
            <h2 class="text-lg font-medium truncate mr-5">
                Top 10 sản phẩm xem nhiều nhất
            </h2>
            <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
                <button class="btn box flex items-center text-slate-600 dark:text-slate-300"> <i data-lucide="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> Export to Excel </button>
                <button class="ml-3 btn box flex items-center text-slate-600 dark:text-slate-300"> <i data-lucide="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> Export to PDF </button>
            </div>
        </div>
        <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
            <table class="table table-report sm:mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap">Hình ảnh</th>
                        <th class="whitespace-nowrap">Tên sản phẩm</th>
                        <th class="text-center whitespace-nowrap">Lượt xem</th>
                        <th class="text-center whitespace-nowrap">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="intro-x" v-for="(product, index) in dataTopProduct" :key="index">
                        <td class="w-40">
                            <div class="flex">
                                <div class="w-10 h-10 image-fit zoom-in">
                                    <img v-if="product.img != null" :alt="product.name" class="tooltip rounded-full" :src="product.img" title="Uploaded at 16 October 2020">
                                    <el-empty v-else description=" " />
                                </div>
                            </div>
                        </td>
                        <td>
                            <a :href="route('admin.products.edit', product.id)" class="font-medium whitespace-nowrap">{{ product.name }}</a>
                            <div class="text-slate-500 text-sm whitespace-nowrap mt-0.5">{{ product.categories?.name }}</div>
                        </td>
                        <td class="text-center">{{ product.total_views }}</td>
                        <td class="w-40">
                            <div class="flex items-center justify-center text-danger"> <i data-lucide="check-square" class="w-4 h-4 mr-2"></i> {{ product.order_status || 'Chưa xác nhận' }} </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            dataTopProduct: [],
        }
    },
    created() {
        this.getDataTopProduct()
    },
    methods: {
        getDataTopProduct(){
            axios.get(route('api.top_products.index'))
                .then(res => {
                    this.dataTopProduct = res.data.products
                })
        }
    }
}
</script>

<style>

</style>
