<script setup>
import { Pie } from 'vue-chartjs';
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale
} from 'chart.js';
ChartJS.register(Title, Tooltip, Legend, ArcElement, CategoryScale)
</script>
<template>
    <div class="col-span-12 sm:col-span-6 lg:col-span-6 mt-8">
        <div class="intro-y flex items-center h-10">
            <h2 class="text-lg font-medium truncate mr-5">
                Thống kê giới tính khách hàng
            </h2>
            <a href="" class="ml-auto text-primary truncate">Show More</a>
        </div>
        <div class="intro-y box p-5 mt-5">
            <Pie
                :chart-options="chartOptions"
                :chart-data="chartData"
                :chart-id="chartId"
                :dataset-id-key="datasetIdKey"
                :plugins="plugins"
                :width="width"
                :height="height"
            />
            <div class="mt-8">
                <div class="flex items-center">
                    <div class="w-2 h-2 bg-primary rounded-full mr-3"></div>
                    <span class="truncate">Nam</span> <span class="font-medium xl:ml-auto"> {{ formatRound(dataCustomer.dataGender?.[0]) ?? '' }}%</span>
                </div>
                <div class="flex items-center mt-4">
                    <div class="w-2 h-2 bg-pending rounded-full mr-3"></div>
                    <span class="truncate">Nữ</span> <span class="font-medium xl:ml-auto">{{ formatRound(dataCustomer.dataGender?.[1]) ?? '' }}%</span>
                </div>
                <div class="flex items-center mt-4">
                    <div class="w-2 h-2 bg-warning rounded-full mr-3"></div>
                    <span class="truncate">Khác</span> <span class="font-medium xl:ml-auto">{{ formatRound(dataCustomer.dataGender?.[2]) ?? '' }}%</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'PieChart',
    props: {
        chartId: {
            type: String,
            default: 'pie-chart'
        },
        datasetIdKey: {
            type: String,
            default: 'label'
        },
        width: {
            type: Number,
            default: 400
        },
        height: {
            type: Number,
            default: 400
        },
        plugins: {
            type: Array,
            default: () => []
        },
        dataCustomer: {
            type: Object,
        }
    },
    data() {
        return {
            chartData: {
                labels: [],
                datasets: [
                    {
                        data: [],
                        backgroundColor: ['#41B883', '#E46651', '#00D8FF'],
                        fill: false,
                        lineTension: 0.5,
                    }
                ]
            },
            chartOptions: {
                responsive: true,
                maintainAspectRatio: false
            }
        }
    },
    beforeUpdate(){
        this.chartBar()
    },
    methods: {
        formatRound(number){
            return Math.round(number * 100) / 100
        },
        chartBar(){
            this.labels = this.dataCustomer.gender
            this.chartData.datasets[0].data = this.dataCustomer.dataGender

            // = this.dataCustomer.dataGender
        }
    }
}
</script>

<style>

</style>
