<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import { Edit, Delete, CircleCheck, CircleClose } from '@element-plus/icons-vue';
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import DataForm from '@/Components/DataForm.vue';
</script>
<template>
    <BreezeAuthenticatedLayout>
        <div class="intro-y flex items-center mt-8">
            <h2 class="text-lg font-medium mr-auto">
                Thêm sản phẩm
            </h2>
        </div>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="intro-y col-span-12 lg:col-span-6 m-auto">
                <!-- BEGIN: Form Layout -->
                <div class="intro-y box p-5">
                    <form>
                        <data-form label="name" v-model="form.name" type="text" autofocus></data-form>
                        <data-form label="website" v-model="form.website" type="text" autofocus></data-form>
                        <data-form label="tel" v-model="form.tel" type="number" autofocus></data-form>
                        <data-form label="hotline" v-model="form.hotline" type="number" autofocus></data-form>
                        <data-form label="email" v-model="form.email" type="text" autofocus></data-form>
                        <data-form label="Địa chỉ" v-model="form.address" type="text" autofocus></data-form>
                        <data-form label="Giá ban đầu" v-model="form.initial_price" type="number" autofocus></data-form>
                        <data-form label="Giá hiện tại" v-model="form.current_price" type="number" autofocus></data-form>
                        <data-form label="Doanh thu" v-model="form.revenue" type="text" autofocus></data-form>
                        <data-form label="Kích thước" v-model="form.size" type="text" autofocus></data-form>
                        <data-form label="Giờ làm việc" v-model="form.working_hours" type="time" min="09:00" max="18:00" autofocus></data-form>
                        <data-form label="Đã giảm" v-model="form.reduce" type="text" autofocus></data-form>
                        <data-form label="Thời hạn bảo hành" v-model="form.insurance" type="text" autofocus></data-form>
                        <data-form label="cpu" v-model="form.cpu" type="text" autofocus></data-form>
                        <data-form label="lcd" v-model="form.lcd" type="text" autofocus></data-form>
                        <data-form label="ram" v-model="form.ram" type="text" autofocus></data-form>
                        <data-form label="Màn hình" v-model="form.screen" type="text" autofocus></data-form>
                        <data-form label="Cân nặng" v-model="form.weight" type="text" autofocus></data-form>
                        <data-form label="Cảm ứng" v-model="form.touch" type="text" autofocus></data-form>
                        <data-form label="Hệ điều hành" v-model="form.operating_system" type="text" autofocus></data-form>
                        <data-form label="Nguồn gốc / xuất xứ" v-model="form.origin" type="text" autofocus></data-form>
                        <data-form label="Phiên bản" v-model="form.version" type="text" autofocus></data-form>
                        <data-form label="hdmi" v-model="form.hdmi" type="text" autofocus></data-form>
                        <data-form label="zalo" v-model="form.zalo" type="text" autofocus></data-form>
                        <data-form label="pin" v-model="form.pin" type="text" autofocus></data-form>
                        <data-form label="bluetooth" v-model="form.bluetooth" type="text" autofocus></data-form>
                        <data-form label="wifi" v-model="form.wifi" type="text" autofocus></data-form>
                        <data-form label="voice" v-model="form.voice" type="text" autofocus></data-form>
                        <data-form label="usb" v-model="form.usb" type="text" autofocus></data-form>
                        <data-form label="Đồ họa" v-model="form.graphics" type="text" autofocus></data-form>
                        <data-form label="Độ phân giải" v-model="form.resolution" type="text" autofocus></data-form>
                        <data-form label="Hỗ trợ mạng" v-model="form.network_support" type="text" autofocus></data-form>
                        <data-form label="Công nghệ sạc" v-model="form.charging_technology" type="text" autofocus></data-form>
                        <data-form label="Loại" v-model="form.type" type="text" autofocus></data-form>
                        <data-form label="Xử lí hình ảnh" v-model="form.image_processing" type="text" autofocus></data-form>
                        <data-form label="Âm thanh" v-model="form.audio" type="text" autofocus></data-form>
                        <data-form label="Loa ngoài" v-model="form.speakerphone" type="text" autofocus></data-form>
                        <data-form label="Tai nghe" v-model="form.headphone" type="text" autofocus></data-form>
                        <data-form label="Công suất" v-model="form.wattage" type="text" autofocus></data-form>
                        <data-form label="Thời hạn bảo hành" v-model="form.warranty_period" type="text" autofocus></data-form>
                        <data-form label="Tình trạng đặt hàng" v-model="form.order_status" type="text" autofocus></data-form>
                        <data-form label="nfc" v-model="form.nfc" type="text" autofocus></data-form>
                        <data-form label="vga" v-model="form.vga" type="text" autofocus></data-form>
                        <data-form label="Nhà sản xuất" v-model="form.producer" type="text" autofocus></data-form>

                        <div class="text-right mt-5">
                            <el-button type="primary" @click="submit">
                                Lưu
                            </el-button>
                        </div>
                    </form>
                </div> <!-- END: Form Layout -->
            </div>
            <div class="col-span-12 lg:col-span-6 mx-auto">
                <div>Logo</div>
                <div id="file-type-validation-1" class="p-5">
                    <div class="preview">
                        <form class="w-40 h-40 relative">
                            <label class="formLabel text-gray-400 hover:text-sky-500 focus:text-sky-500" for="logo"><fa icon="pen" size="lg"></fa>
                            <input style="display: none" type="file" @change="upload_logo" name="logo"
                                id="logo">
                            </label>

                            <el-image v-if="imgUploadLogo"
                                class="rounded absolute h-full w-full left-0 top-0 -z-10"
                                :src="imageUrlLogo" alt=""/>

                        </form>
                    </div>
                    <div class="source-code hidden">
                        <button data-target="#copy-file-type-validation" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-lucide="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                        <div class="overflow-y-auto mt-3 rounded-md">
                            <pre id="copy-file-type-validation" class="source-preview"> <code class="html"> HTMLOpenTagform data-file-types=&quot;image/jpeg|image/png|image/jpg&quot; action=&quot;/file-upload&quot; class=&quot;dropzone&quot;HTMLCloseTag HTMLOpenTagdiv class=&quot;fallback&quot;HTMLCloseTag HTMLOpenTaginput name=&quot;file&quot; type=&quot;file&quot; /HTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;dz-message&quot; data-dz-messageHTMLCloseTag HTMLOpenTagdiv class=&quot;text-lg font-medium&quot;HTMLCloseTagDrop files here or click to upload.HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;text-slate-500&quot;HTMLCloseTag This is just a demo dropzone. Selected files are HTMLOpenTagspan class=&quot;font-medium&quot;HTMLCloseTagnotHTMLOpenTag/spanHTMLCloseTag actually uploaded. HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/formHTMLCloseTag </code> </pre>
                        </div>
                    </div>
                </div>
                <div>Hình ảnh đại diện sản phẩm</div>
                <div id="file-type-validation-2" class="p-5">
                    <div class="preview">
                        <form class="w-40 h-40 relative">
                            <label class="formLabel text-gray-400 hover:text-sky-500 focus:text-sky-500" for="avatar"><fa icon="pen" size="lg"></fa>
                            <input style="display: none" type="file" @change="upload_product" name="avatar"
                                id="avatar">
                            </label>

                            <el-image v-if="imgUploadProduct"
                                class="rounded absolute h-full w-full left-0 top-0 -z-10"
                                :src="imageUrlProduct" alt=""/>

                        </form>
                    </div>
                    <div class="source-code hidden">
                        <button data-target="#copy-file-type-validation" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-lucide="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                        <div class="overflow-y-auto mt-3 rounded-md">
                            <pre id="copy-file-type-validation" class="source-preview"> <code class="html"> HTMLOpenTagform data-file-types=&quot;image/jpeg|image/png|image/jpg&quot; action=&quot;/file-upload&quot; class=&quot;dropzone&quot;HTMLCloseTag HTMLOpenTagdiv class=&quot;fallback&quot;HTMLCloseTag HTMLOpenTaginput name=&quot;file&quot; type=&quot;file&quot; /HTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;dz-message&quot; data-dz-messageHTMLCloseTag HTMLOpenTagdiv class=&quot;text-lg font-medium&quot;HTMLCloseTagDrop files here or click to upload.HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;text-slate-500&quot;HTMLCloseTag This is just a demo dropzone. Selected files are HTMLOpenTagspan class=&quot;font-medium&quot;HTMLCloseTagnotHTMLOpenTag/spanHTMLCloseTag actually uploaded. HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/formHTMLCloseTag </code> </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
export default {
    data() {
        return {
            form: useForm({
            }),
            imageUrlLogo: '',
            imgUploadLogo: [],
            fileUpdateLogo: null,
            imageUrlProduct: '',
            imgUploadProduct: [],
            fileUpdateProduct: null,
        }
    },


    methods: {
        submit() {
            axios
                .post(route('api.products.store'), this.form)
                    .then((res) => {
                        this.$toast.success('Cập nhật thành công!')
                    })
                    .catch((err) =>{
                        this.$toast.error('Cập nhật thất bại')
                    });
        },

        // upload_logo(event) {
        //     this.fileUpdateLogo = event.target.files[0]
        //     this.imgUploadLogo.push(URL.createObjectURL(this.fileUpdateLogo))
        //     this.form.logo = this.fileUpdateLogo
        //     if(event.isTrusted){
        //         this.imageUrlLogo = this.imgUploadLogo.slice(-1)[0]
        //     }
        //     let formData = new FormData();
        //     // append data
        //     formData.append('logo', this.form.logo);
        //     formData.append('_method', 'PUT')

        //     axios
        //         .post(route('api.product-logo.upload', this.$attrs.product_id), formData, {
        //             headers: {
        //                 'content-type': 'multipart/form-data'
        //             }
        //         })
        //         .then((res) => {
        //             this.$toast.success('Thay đổi hình ảnh thành công !');
        //         })
        //         .catch((err) =>{
        //             this.$toast.error('Thay đổi hình ảnh thất bại!');
        //         })
        // },

        // upload_product(event) {
        //     this.fileUpdateProduct = event.target.files[0]
        //     this.imgUploadProduct.push(URL.createObjectURL(this.fileUpdateProduct))
        //     this.form.logo = this.fileUpdateProduct
        //     if(event.isTrusted){
        //         this.imageUrlProduct = this.imgUploadProduct.slice(-1)[0]
        //     }
        //     let formData = new FormData();
        //     // append data
        //     formData.append('product', this.form.logo);
        //     formData.append('_method', 'PUT')

        //     axios
        //         .post(route('api.product-image.upload', this.$attrs.product_id), formData, {
        //             headers: {
        //                 'content-type': 'multipart/form-data'
        //             }
        //         })
        //         .then((res) => {
        //             this.$toast.success('Thay đổi hình ảnh thành công !');
        //         })
        //         .catch((err) =>{
        //             this.$toast.error('Thay đổi hình ảnh thất bại!');
        //         })
        // },
    },
}
</script>

<style lang="scss" scoped>
.formLabel {
    position: absolute;
    right: 50%;
    bottom: 50%;
    cursor: pointer;
    z-index: 10;
    transform: translate(50%, 50%);
    padding: 10px;
    &:hover{
        color: #409eff
    }
}
</style>
