<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import { Edit, Delete, CircleCheck, CircleClose } from '@element-plus/icons-vue';
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import DataForm from '@/Components/DataForm.vue';

</script>
<template>
    <BreezeAuthenticatedLayout>
        <div class="intro-y flex items-center mt-8">
            <h2 class="text-lg font-medium mr-auto">
                Sửa sản phẩm
            </h2>
        </div>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="intro-y col-span-12 lg:col-span-6 m-auto">
                <!-- BEGIN: Form Layout -->
                <div class="intro-y box p-5">
                    <data-form label="name" v-model="form.name" type="text" autofocus></data-form>
                    <data-form label="website" v-model="form.website" type="text" autofocus></data-form>
                    <data-form label="tel" v-model="form.tel" type="text" autofocus></data-form>
                    <data-form label="hotline" v-model="form.hotline" type="text" autofocus></data-form>
                    <data-form label="email" v-model="form.email" type="text" autofocus></data-form>
                    <data-form label="Địa chỉ" v-model="form.address" type="text" autofocus></data-form>
                    <data-form label="Giá ban đầu" v-model="form.initial_price" type="text" autofocus></data-form>
                    <data-form label="Giá hiện tại" v-model="form.current_price" type="text" autofocus></data-form>
                    <data-form label="Cấu tạo" v-model="form.fabric" type="text" autofocus></data-form>
                    <data-form label="Doanh thu" v-model="form.revenue" type="text" autofocus></data-form>
                    <data-form label="Kích thước" v-model="form.size" type="text" autofocus></data-form>
                    <data-form label="Giờ làm việc" v-model="form.working_hours" type="text" autofocus></data-form>
                    <data-form label="Đã giảm" v-model="form.reduce" type="text" autofocus></data-form>
                    <data-form label="Thời hạn bảo hành" v-model="form.insurance" type="text" autofocus></data-form>
                    <data-form label="cpu" v-model="form.cpu" type="text" autofocus></data-form>
                    <data-form label="lcd" v-model="form.lcd" type="text" autofocus></data-form>
                    <data-form label="ram" v-model="form.ram" type="text" autofocus></data-form>
                    <data-form label="Màn hình" v-model="form.screen" type="text" autofocus></data-form>
                    <data-form label="Cân nặng" v-model="form.weight" type="text" autofocus></data-form>
                    <data-form label="Cảm ứng" v-model="form.touch" type="text" autofocus></data-form>
                    <data-form label="Hệ điều hành" v-model="form.operating_system" type="text" autofocus></data-form>
                    <data-form label="Nguồn gốc / xuất xứ" v-model="form.origin" type="text" autofocus></data-form>
                    <data-form label="Phiên bản" v-model="form.version" type="text" autofocus></data-form>
                    <data-form label="hdmi" v-model="form.hdmi" type="text" autofocus></data-form>
                    <data-form label="zalo" v-model="form.zalo" type="text" autofocus></data-form>
                    <data-form label="pin" v-model="form.pin" type="text" autofocus></data-form>
                    <data-form label="bluetooth" v-model="form.bluetooth" type="text" autofocus></data-form>
                    <data-form label="wifi" v-model="form.wifi" type="text" autofocus></data-form>
                    <data-form label="voice" v-model="form.voice" type="text" autofocus></data-form>
                    <data-form label="usb" v-model="form.usb" type="text" autofocus></data-form>
                    <data-form label="Đồ họa" v-model="form.graphics" type="text" autofocus></data-form>
                    <data-form label="Độ phân giải" v-model="form.resolution" type="text" autofocus></data-form>
                    <data-form label="Hỗ trợ mạng" v-model="form.network_support" type="text" autofocus></data-form>
                    <data-form label="Công nghệ sạc" v-model="form.charging_technology" type="text" autofocus></data-form>
                    <data-form label="Loại" v-model="form.type" type="text" autofocus></data-form>
                    <data-form label="Xử lí hình ảnh" v-model="form.image_processing" type="text" autofocus></data-form>
                    <data-form label="Âm thanh" v-model="form.audio" type="text" autofocus></data-form>
                    <data-form label="Loa ngoài" v-model="form.speakerphone" type="text" autofocus></data-form>
                    <data-form label="Tai nghe" v-model="form.headphone" type="text" autofocus></data-form>
                    <data-form label="Công suất" v-model="form.wattage" type="text" autofocus></data-form>
                    <data-form label="Thời hạn bảo hành" v-model="form.warranty_period" type="text" autofocus></data-form>
                    <data-form label="Tình trạng đặt hàng" v-model="form.order_status" type="text" autofocus></data-form>
                    <data-form label="nfc" v-model="form.nfc" type="text" autofocus></data-form>
                    <data-form label="vga" v-model="form.vga" type="text" autofocus></data-form>
                    <data-form label="Nhà sản xuất" v-model="form.producer" type="text" autofocus></data-form>

                    <div class="text-right mt-5">
                        <el-button type="primary" @click="submit">
                            Lưu
                        </el-button>
                    </div>
                </div> <!-- END: Form Layout -->
            </div>
            <div class="col-span-12 lg:col-span-6 mx-auto">
                <data-form label="Bộ nhớ đệm" v-model="form.caching" type="text" autofocus></data-form>
                <data-form label="Tốc độ CPU" v-model="form.cpu_speed" type="text" autofocus></data-form>
                <data-form label="Dugn lượng RAM" v-model="form.ram_capacity" type="text" autofocus></data-form>
                <data-form label="Tốc độ bus RAM" v-model="form.bus_speed" type="text" autofocus></data-form>
                <data-form label="Dung tích" v-model="form.capacity" type="text" autofocus></data-form>
                <data-form label="Ổ cứng" v-model="form.hard_drive" type="text" autofocus></data-form>
                <data-form label="Chiều dài" v-model="form.longs" type="text" autofocus></data-form>
                <data-form label="Chiều rộng" v-model="form.width" type="text" autofocus></data-form>
                <data-form label="Chiều cao" v-model="form.height" type="text" autofocus></data-form>
                <data-form label="Camera" v-model="form.camera" type="text" autofocus></data-form>
                <data-form label="Kết nối" v-model="form.connect" type="text" autofocus></data-form>
                <data-form label="chuẩn LAN" v-model="form.lan_standard" type="text" autofocus></data-form>
                <data-form label="Tính năng" v-model="form.features" type="text" autofocus></data-form>
                <data-form label="Webcam" v-model="form.webcam" type="text" autofocus></data-form>
                <data-form label="Chipset" v-model="form.chipset" type="text" autofocus></data-form>
                <data-form label="Bộ nhớ" v-model="form.memory" type="text" autofocus></data-form>
                <data-form label="Camera trước" v-model="form.before_camera" type="text" autofocus></data-form>
                <data-form label="Video trước" v-model="form.before_video" type="text" autofocus></data-form>
                <data-form label="Camera sau" v-model="form.after_camera" type="text" autofocus></data-form>
                <data-form label="Video sau" v-model="form.after_video" type="text" autofocus></data-form>
                <data-form label="SIM" v-model="form.sim" type="text" autofocus></data-form>
                <data-form label="Đèn flash" v-model="form.flash_light" type="text" autofocus></data-form>
                <data-form label="SIM" v-model="form.sim" type="text" autofocus></data-form>
                <data-form label="Cảm biến vân tay" v-model="form.fingerprint_sensor" type="text" autofocus></data-form>
                <data-form label="Tính năng đặc biệt" v-model="form.special_features" type="text" autofocus></data-form>
                <data-form label="Các loại cảm biến" v-model="form.types_of_sensors" type="text" autofocus></data-form>
                <data-form label="Loa điện thoại" v-model="form.speaker_phone" type="text" autofocus></data-form>
                <data-form label="Khử mùi" v-model="form.deodorant" type="text" autofocus></data-form>
                <data-form label="Bộ vi xử lí" v-model="form.processor" type="text" autofocus></data-form>
                <data-form label="Tổng công suất loa" v-model="form.total_peaker_power" type="text" autofocus></data-form>
                <data-form label="Chia sẻ thông minh" v-model="form.smart_sharing" type="text" autofocus></data-form>
                <data-form label="Số lượng loa" v-model="form.number_of_speakers" type="text" autofocus></data-form>
                <data-form label="Kích thước chân đế" v-model="form.dimensions_with_stand" type="text" autofocus></data-form>
                <data-form label="Khối lượng chân đế" v-model="form.bracket_weight" type="text" autofocus></data-form>
                <data-form label="Số cửa" v-model="form.door_number" type="text" autofocus></data-form>
                <data-form label="Dung tích ngăn đá" v-model="form.freezer_capacity" type="text" autofocus></data-form>
                <data-form label="Dung tích ngăn lạnh" v-model="form.freezer_compartment_capacity" type="text" autofocus></data-form>
                <data-form label="Tuyết" v-model="form.sow" type="text" autofocus></data-form>
                <data-form label="Công nghệ làm lạnh" v-model="form.refrigerator_technology" type="text" autofocus></data-form>
                <data-form label="chất liệu khay" v-model="form.tray_material" type="text" autofocus></data-form>
                <data-form label="chất liệu bên ngoài" v-model="form.outer_material" type="text" autofocus></data-form>
                <data-form label="chuông báo cửa" v-model="form.door_bell" type="text" autofocus></data-form>
                <data-form label="chất liệu" v-model="form.material" type="text" autofocus></data-form>
                <data-form label="chế độ" v-model="form.regime" type="text" autofocus></data-form>
                <data-form label="khay hấp" v-model="form.steaming_tray" type="text" autofocus></data-form>
                <data-form label="Tốc độ làm lạnh tối thiểu" v-model="form.minimum_cooling_rate" type="text" autofocus></data-form>
                <data-form label="Tốc độ làm lạnh trung bình" v-model="form.average_cooling_speed" type="text" autofocus></data-form>
                <data-form label="Tốc độ làm lạnh tối đa" v-model="form.maximum_cooling_speed" type="text" autofocus></data-form>
                <data-form label="làm lạnh nhanh" v-model="form.rapid_cooling" type="text" autofocus></data-form>
                <data-form label="tự đoán lỗi" v-model="form.error_guessing" type="text" autofocus></data-form>
                <data-form label="tự khởi động" v-model="form.auto_restart" type="text" autofocus></data-form>
                <data-form label="Xua muỗi" v-model="form.mosquito_repellent" type="text" autofocus></data-form>
                <data-form label="Gas" v-model="form.gas" type="text" autofocus></data-form>
                <data-form label="Hút ẩm" v-model="form.hygroscopic" type="text" autofocus></data-form>
                <data-form label="độ ồn" v-model="form.noise_level" type="text" autofocus></data-form>
                <data-form label="Phạm vi hiệu quả" v-model="form.effective_range" type="text" autofocus></data-form>

                <div>Logo</div>
                <div id="file-type-validation-1" class="p-5">
                    <div class="preview">
                        <form class="w-40 h-40 relative">
                            <label class="formLabel text-gray-400 hover:text-sky-500 focus:text-sky-500" for="logo"><fa icon="pen" size="lg"></fa>
                            <input style="display: none" type="file" @change="upload_logo" name="logo"
                                id="logo">
                            </label>

                            <img v-if="imgUploadLogo"
                                class="rounded absolute h-full w-full left-0 top-0 -z-10"
                                :src="imageUrlLogo" alt=""/>

                        </form>
                    </div>
                    <div class="source-code hidden">
                        <button data-target="#copy-file-type-validation" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-lucide="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                        <div class="overflow-y-auto mt-3 rounded-md">
                            <pre id="copy-file-type-validation" class="source-preview"> <code class="html"> HTMLOpenTagform data-file-types=&quot;image/jpeg|image/png|image/jpg&quot; action=&quot;/file-upload&quot; class=&quot;dropzone&quot;HTMLCloseTag HTMLOpenTagdiv class=&quot;fallback&quot;HTMLCloseTag HTMLOpenTaginput name=&quot;file&quot; type=&quot;file&quot; /HTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;dz-message&quot; data-dz-messageHTMLCloseTag HTMLOpenTagdiv class=&quot;text-lg font-medium&quot;HTMLCloseTagDrop files here or click to upload.HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;text-slate-500&quot;HTMLCloseTag This is just a demo dropzone. Selected files are HTMLOpenTagspan class=&quot;font-medium&quot;HTMLCloseTagnotHTMLOpenTag/spanHTMLCloseTag actually uploaded. HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/formHTMLCloseTag </code> </pre>
                        </div>
                    </div>
                </div>
                <div>Hình ảnh sản phẩm</div>
                <div id="file-type-validation-2" class="p-5">
                    <div class="preview">
                        <form class="w-40 h-40 relative">
                            <label class="formLabel text-gray-400 hover:text-sky-500 focus:text-sky-500" for="avatar"><fa icon="pen" size="lg"></fa>
                            <input style="display: none" type="file" @change="upload_avatar" name="avatar"
                                id="avatar">
                            </label>

                            <el-image v-if="imgUpload"
                                class="rounded absolute h-full w-full left-0 top-0 -z-10"
                                :src="imageUrl" alt=""/>

                        </form>
                    </div>
                    <div class="source-code hidden">
                        <button data-target="#copy-file-type-validation" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-lucide="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                        <div class="overflow-y-auto mt-3 rounded-md">
                            <pre id="copy-file-type-validation" class="source-preview"> <code class="html"> HTMLOpenTagform data-file-types=&quot;image/jpeg|image/png|image/jpg&quot; action=&quot;/file-upload&quot; class=&quot;dropzone&quot;HTMLCloseTag HTMLOpenTagdiv class=&quot;fallback&quot;HTMLCloseTag HTMLOpenTaginput name=&quot;file&quot; type=&quot;file&quot; /HTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;dz-message&quot; data-dz-messageHTMLCloseTag HTMLOpenTagdiv class=&quot;text-lg font-medium&quot;HTMLCloseTagDrop files here or click to upload.HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;text-slate-500&quot;HTMLCloseTag This is just a demo dropzone. Selected files are HTMLOpenTagspan class=&quot;font-medium&quot;HTMLCloseTagnotHTMLOpenTag/spanHTMLCloseTag actually uploaded. HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/formHTMLCloseTag </code> </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
export default {
    data() {
        return {
            form: useForm({
            }),
            imageUrlLogo: '',
            imgUploadLogo: [],
            fileUpdateLogo: null,
            // imageUrlImage: '',
            // imgUploadImage: [],
            // fileUpdateImage: null,
        }
    },

    created(){
        this.getUser()
    },
    methods: {
        getUser(){
            axios
                .get(route('api.products.show', this.$attrs.product_id))
                    .then((res) => {
                        this.form = JSON.parse(JSON.stringify(res.data?.data))
                        this.imageUrlLogo = this.form.logo
            })
        },

        submit() {
            axios
                .put(route('api.products.update', this.$attrs.product_id), this.form)
                    .then((res) => {
                        this.$toast.success('Cập nhật thành công!')
                    })
                    .catch((err) =>{
                        this.$toast.error('Cập nhật thất bại')
                    });
        },

        upload_logo(event) {
            this.fileUpdateLogo = event.target.files[0]
            this.imgUploadLogo.push(URL.createObjectURL(this.fileUpdateLogo))
            this.form.name_image = this.fileUpdateLogo
            if(event.isTrusted){
                this.imageUrlLogo = this.imgUploadLogo.slice(-1)[0]
            }
            let formData = new FormData();
            // append data
            formData.append('name_image', this.form.name_image);
            formData.append('_method', 'PUT')

            axios
                .post(route('api.product-logo.upload', this.$attrs.product_id), formData, {
                    headers: {
                        'content-type': 'multipart/form-data'
                    }
                })
                .then((res) => {
                    this.$toast.success('Thay đổi hình ảnh thành công !');
                })
                .catch((err) =>{
                    this.$toast.error('Thay đổi hình ảnh thất bại!');
                })
        },
    },
    watch: {
        'form.status'(e){
            if(e){
                this.form.status == 1;
            }else{
                this.form.status == 0;
            }

        }
    }


}
</script>

<style lang="scss" scoped>
.formLabel {
    position: absolute;
    right: 50%;
    bottom: 50%;
    cursor: pointer;
    z-index: 10;
    transform: translate(50%, 50%);
    padding: 10px;
    &:hover{
        color: #409eff
    }
}
</style>
