<script setup>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Edit, Delete, CircleCheck, CircleClose } from "@element-plus/icons-vue";
import { Link } from "@inertiajs/inertia-vue3";
import JbButton from "@/Components/JbButton.vue";
import DataTable from "@/Components/DataTable.vue";
import * as productApi from "@/Api/Product";
import CheckRole from "@/Mixins/CheckRole.js";




</script>
<template>
    <BreezeAuthenticatedLayout>
        <h2 class="intro-y text-lg font-medium mt-10">Sản phẩm</h2>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
                <Link v-if="check_role" :href="route('admin.products.create')" class="btn btn-primary shadow-md mr-2"
                >Thêm sản phẩm</Link
                >
                <div class="dropdown" v-if="check_role">
                <a
                    :href="route('admin.products.create')"
                    class="dropdown-toggle btn px-2 box"
                    aria-expanded="false"
                    data-tw-toggle="dropdown"
                >
                    <span class="w-5 h-5 flex items-center justify-center">
                    <fa icon="plus" size="lg"></fa>
                    </span>
                </a>
                </div>
                <div class="hidden md:block mx-auto text-slate-500">{{ }}
                Hiển thị {{ from }} đến {{ to }} của {{ total }} mục
                </div>
                <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
                <div class="w-56 relative text-slate-500">
                    <el-input
                    v-model="search"
                    class="form-control box"
                    size="large"
                    placeholder="Search..."
                    />
                </div>
                </div>
            </div>
            <!-- BEGIN: Data List -->
            <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                <data-table :data="filterTableData" style="width: 100%"
                    disable-table-info
                    footer-center
                    :fields="fields"
                    :items="dataProduct"
                >
                    <template #address="{ row }">
                        <div class="truncate">{{ row.address }}</div>
                    </template>
                    <template #description="{ row }">
                        <div class="truncate">{{ row.description }}</div>
                    </template>
                    <template #img="{ row }">
                        <el-image :src="convertImg(row)" style="width: 100px"></el-image>
                    </template>
                    <template #logo="{ row }">
                        <el-image :src="convertLogo(row)" style="width: 100" />
                    </template>
                    <template #action="{ row }">
                        <el-button size="small">
                            <el-link
                            :underline="false"
                            :href="route('admin.products.edit', row.id)"
                            >
                            <el-icon :size="20"> <Edit /> </el-icon>
                            Edit
                            </el-link>
                        </el-button>

                        <el-button type="danger" size="small" @click="deleteProduct(row.id)"
                            ><el-icon :size="20"> <Delete /> </el-icon> Delete</el-button
                        >
                    </template>
                </data-table>
            </div>
            <!-- END: Data List -->
            <!-- BEGIN: Pagination -->
            <div
                class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center"
            >
                <nav class="w-full sm:w-auto sm:mr-auto">
                <el-pagination
                    v-model:current-page="currentPage"
                    :page-sizes="[10, 25, 35, 40]"
                    layout="prev, pager, next"
                    :total="total"
                    @current-change="handleCurrentChange"
                />
                </nav>
            </div>
            <!-- END: Pagination -->
        </div>
    </BreezeAuthenticatedLayout>
    <!-- BEGIN: Delete Confirmation Modal -->
    <el-dialog
      v-model="dialogVisible"
      title="Tips"
      width="30%"
      :before-close="handleClose"
    >
      <span>Bạn có muốn xóa ?</span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">Cancel</el-button>
          <el-button type="primary" @click="onDelete(rowId)">OK</el-button>
        </span>
      </template>
    </el-dialog>
    <!-- END: Delete Confirmation Modal -->
</template>

<script>
export default {
    mixins: [CheckRole],
    data(){
        return {
            perPage: '',
            currentPage: 1,
            total: 1,
            lastPage: 1,
            from: 1,
            to:1,
            dataProduct: [],
            rowId: '',
            dialogVisible: false,
            search: null,
            fields: [
                {
                    key: 'id', label: 'STT'
                },
                {
                    key: 'crawled_at',
                    label: 'Thời gian bắt đầu thu thập',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'name',
                    label: 'Tên',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'website',
                    label: 'Website',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'tel',
                    label: 'Tel',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'email',
                    label: 'Email',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'address',
                    label: 'Địa chỉ',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'historical_cost',
                    label: 'Chi phí lịch sử',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'initial_price',
                    label: 'Giá ban đầu',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'historical_cost',
                    label: 'Chi phí lịch sử',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'current_price',
                    label: 'Giá hiện tại',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'fabric',
                    label: 'Cấu tạo',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'revenue',
                    label: 'Doanh thu',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'size',
                    label: 'Kích thước',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'working_hous',
                    label: 'Giờ làm việc',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'description',
                    label: 'Mô tả chi tiết',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'reduce',
                    label: 'Đã giảm',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'insurance',
                    label: 'Thời hạn bảo hành',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'img',
                    label: 'Hình ảnh sản phẩm',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'logo',
                    label: 'Logo website',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'cpu',
                    label: 'CPU',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'lcd',
                    label: 'LCD',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'ram',
                    label: 'RAM',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'screen',
                    label: 'Màn hình',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'weight',
                    label: 'Cân nặng',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'touch',
                    label: 'Cảm ứng',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'operating_system',
                    label: 'Hệ điều hành',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'origin',
                    label: 'Nguồn gốc / xuất xứ',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'version',
                    label: 'Phiên bản',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'hdmi',
                    label: 'HDMI',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'pin',
                    label: 'PIN',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'bluetooth',
                    label: 'Bluetooth',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'wifi',
                    label: 'Wifi',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'voice',
                    label: 'Voice',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'usb',
                    label: 'USB',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'graphics',
                    label: 'Đồ họa',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'resolution',
                    label: 'Độ phân giải',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'network_support',
                    label: 'Hỗ trợ mạng',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'charging_technology',
                    label: 'Công nghệ sạc',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'network_support',
                    label: 'Hỗ trợ mạng',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'type',
                    label: 'Loại',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'image_processing',
                    label: 'Xử lí hình ảnh',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'audio',
                    label: 'Âm thanh',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'speakerphone',
                    label: 'Loa ngoài',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'headphone',
                    label: 'Tai nghe',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'wattage',
                    label: 'Công suất',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'warranty_period',
                    label: 'Thời hạn bảo hành',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'order_status',
                    label: 'Tình trạng đặt hàng',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'nfc',
                    label: 'NFC',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'vga',
                    label: 'VGA',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'producer',
                    label: 'Nhà sản xuất',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'zalo',
                    label: 'Zalo',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },
                {
                    key: 'action',
                    label: 'Hành động',
                    align: 'center',
                    width: screen.width / 58 >= 240 ? screen.width / 58 : 200,
                },

            ]
        }
    },
    created(){
        this.getDataProduct();
    },
    computed: {
        filterTableData(){
            return this.dataProduct.filter(
                (data) =>
                    !this.search ||
                    data.name?.toLowerCase().includes(this.search?.toLowerCase())
            )
        }
    },
    methods: {
        async getDataProduct(){
            let response = await productApi.getProductList(this.currentPage)
            this.dataProduct = response.data.data
            this.total = response.data.meta.total
            this.from = response.data.meta.from
            this.to = response.data.meta.to
            this.handleCurrentChange = response.data.meta.current_page
        },
        handleCurrentChange(value){
            this.currentPage = value
        },
        handleClose(){
            this.dialogVisible = false
        },
        formatDatetime(item){
            let date = new Date(item.row.crawled_at)
            const day = date.getDate()
            const month = date.getMonth() + 1
            const year = date.getFullYear()

            const hours = date.getHours()
            const minutes = date.getMinutes()

            return `${day}/${month}/${year} - ${hours}giờ-${minutes}phút`;

        },
        deleteProduct(item) {
            this.dialogVisible = true
            this.rowId = item
        },
        async onDelete(value){
            await productApi.deleteProduct(value)
                .then(() => {
                    this.dialogVisible = false
                    this.getDataProduct()
                    this.$toast.success('Xóa thành công !')
                })
                .catch((e) => {
                    this.$toast.error('Xóa thất bại !')
                })
        },
        convertImg(row){
            return row.img.replace('/storage/', '')
        },
        convertLogo(row){
            return row.logo.replace('/storage/', '')
        }
    },
    watch: {
        'currentPage'() {
            this.getDataProduct()
        },
    },
};
</script>

<style></style>
