a {
    transition: 0.5s;
    text-decoration: none;
    outline: 0;
  }
  a:hover {
    text-decoration: none;
  }

  ul, li {
    list-style-type: none;
    margin: 0;
  }

  .h4, .h5, .h6, h4, h5, h6 {
    margin: 0;
  }

  body, button, input, select, optgroup, textarea {
    color: #666666;
    font-family: sans-serif;
    line-height: 1.8;
  }

  .p0 {
    padding: 0;
  }

  .blurb-remove {
    color: #aba9a9;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: #646464;
    margin: 0;
    font-size: 100%;
    font-variant-ligatures: none;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  }
  #error, .error {
    font-size: 12px;
    color: red;
    font-weight: 600;
  }
  .success {
    font-size: 12px;
    color: #28a745!important;
    font-weight: 600;
  }
  .login-section {
    /* padding: 95px 49px 30px 30px; */
  }
  .amazon.ebay.ali_express{
    background-color: #f3f0f063;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  }
  .login-form {
    margin-top: 36px;
    color: #666666;
  }
  .login-form .form-control {
    border-radius: 0;
    padding: 16px;
    background: #f6f6f6;
    border-color: #ececec;
    font-size: 14px;
    }
    .login-form .wd-login-btn {
        width: 100%;
        padding: 12px !important;
        background: #ff9800 !important;
        color: #fff !important;
        font-size: 16px;
        margin-bottom: 17px;
        border-radius: 0;
        cursor: pointer;
        text-transform: uppercase;
    }
    .account-section button {
        color: #333333;
        padding: 0;
        background: transparent;
        border-color: transparent;
        cursor: pointer;
        transition: 0.5s;
    }
    .login-form .form-check {
        margin-bottom: 20px;
        font-weight: 300;
    }

  .singup-section {
    /* padding: 50px 49px 30px 30px; */
  }
  .sign-up-section .form-control {
    padding: 10px 16px;
    font-size: 14px;
    }

  .blurb-price-color {
    color: #ff250d;
  }
  .modal-section{
    position: relative;
  }
  .modal-section-box {
    position: absolute;
    z-index: 10;
    width: 50%;
    right: 0;
    background: #f4f4f4;
    top: 0;
    height: 100%;
  }
  .nav-tabs .nav-link.active{
    border-color: transparent;
    box-shadow: none;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    color: #000000 !important;

  }
  .nav-tabs .nav-item button {
    padding: 23px 0;
    font-size: 20px;
    text-transform: uppercase;
    width: 199px;
    color: #999999!important;
  }
  @media (min-width: 576px){
    .modal-dialog {
        max-width: 800px;
    }
  }

  @media (min-width: 768px){
    .modal-dialog {
        width: 800px;
    }
  }

  .star-rating {

    margin-left: 5px;
  }
  .star-rating-box {
    margin-left: 5px;
    position: relative;
    line-height: 22px;
    font-size: 13px;
    text-align: center;
  }
  .star-rating i {
    margin-right: 4px;
    font-size: 14px;
    line-height: 20px;
  }

  .star-rating i, .wishlist-ratings {
    color: #ffa200;
  }

  .wishlist-ratings {
    font-size: 20px;
    font-weight: 700;
  }

  .wd-btn-search:hover, .fst-color-border, .header-cart .wd-compare-btn .go-compare-page:hover, #wd-header-2 .wd-search-btn:hover, .add-review-btn:hover, .review-comment:hover, .product-detail-collapse:hover, .product-detail-collapse:active, .select-market-btn:hover, .compare-products .select-market-btn:hover, .product-box:hover .compare-btn a, .compare-btn a:hover, .footer-2.footer .newsletter-btn:hover, .footer .newsletter-btn:hover, .subscribe .subscribe-btn:hover, .wd-search-btn:hover, .amazon-review .amazon-details, .review-page .cat-search-ph input:focus, .product-search-input input:focus, .contact-us .wd-contact-btn:hover, .blurb-paginate ul li:last-child a:hover, .blurb-paginate ul li:first-child a:hover, .weekly-news .weekly-news-box:hover .figure-caption, .wishlist-compare-products .select-market-btn:hover, .blog-section .collapse-category, .coupon-feedback a.mod-store-btn, .coupon-soc li:hover, #wd-header .wd-search-btn:hover, #wd-header-2 .wd-search-btn:hover, button.go-back:hover, .footer-2.footer .newsletter-btn:hover, #subscribe .subscribe-btn:hover, .review-comment:hover, .product-detail-collapse:hover, .product-detail-collapse:active, .wd-search-btn, .review-page #cat-search-ph input:focus, .product-search-input .wd-btn-search, .select-market-btn, #contact-us .wd-contact-btn:hover, .product-view-modal .product-view .owl-dots .active, .wd-tab-section .wd-tab-menu, .product-search-input .wd-btn-search:hover, .btn.btn-primary.wd-shop-btn:hover, .blurb-post-container .single_post_share a:hover, .product-review-details .single_review_share a:hover, .elementor-widget-im-sec-product-and-review .product_wrap a:hover, .blurb-blog-container .sticky .blog-box, .blurb-home-container .sticky .blog-box, .blurb-archive-container .sticky .blog-box, .blurb-search-container .sticky .blog-box, .comment-content blockquote, .blog-content blockquote, .blog-content .wp-block-quote:not(.is-large), .blog-content .wp-block-quote:not(.is-style-large), .wp-block-pullquote blockquote, blockquote, .post-password-form input[type=submit], .combine_header .is-sticky #main-menu, .radius-icon, #main-menu-sticky-wrapper, .page-links a span:hover, .page-links span, .wd-header-nav, .header-general #main-menu, .tab-chart-bord .nav-item a.active, .wd-megamenu ul ul {
    border-color: #ff250d;
  }

  .wd-shop-btn, .fst-color-bg, #scrollUp:hover, .quick-view-btn:hover .compare-btn button, .compare-btn a, .wd-btn-search:hover, .header-cart .wd-compare-btn .go-compare-page:hover, .product-slier-details .lSAction a:hover:after, .product-slier-details .lSAction a:hover:before, .header-cart .wd-compare-btn .go-compare-page:hover, .login-form .wd-login-btn, #wd-header-2 .wd-search-btn:hover, .blurb_el_main_slider .slider_box .slider_item .slider_item_wrap .im-link, .footer a:before, .footer-2.footer .newsletter-btn, .footer .newsletter-btn, .sidebar-search .btn-secondary:hover, .filter .dropdown-item:active, .preload, .sidebar-review-box .owl-theme .owl-nav .owl-next:hover, .product-details .choose-markets .select-market-btn:hover, .wd-star-market-badge, .product-detail-collapse:hover, .product-detail-collapse:active, .review-page-section .active, .select-market-btn:hover, .amazon-review .amazon-details:hover, .compare-products .select-market-btn:hover, .add-review-btn:hover, .wd-tab-section .wd-tab-menu a:hover, .wd-tab-section .wd-tab-menu .active, .trending .owl-theme .owl-nav .owl-prev:hover, .trending .owl-theme .owl-nav .owl-next:hover, .contact-us .wd-contact-btn:hover, .wishlist-compare-products .select-market-btn:hover, .blog-section .archive-option a:before, #wd-header-top .dropdown-item:active, .blurb-paginate a:hover, .blurb-paginate ul li.active a, .weekly-news .weekly-news-box:hover .weekly-news-shape, .weekly-news .blog-meta-box a:hover, .blog-section .collapse-category, .csb-inner input[type=submit], .coupon-sin-sidebar h2::after, .aff-buynow, .f3 .aff-buynow, .pro-plan-con > a, button.go-back, #wd-header .wd-search-btn:hover, #wd-header-2 .wd-search-btn:hover, .blurb_el_main_slider .slider_full .slider_item .slider_item_wrap .im-link, .widget .title::after, .widget_tag_cloud a:hover, .copyright-text a:after, .footer-2.footer .newsletter-btn, .footer .newsletter-btn, #trending .owl-prev:hover, #trending .owl-next:hover, .wd-news-box:hover .wd-news-info::after, .sidebar-search .btn-secondary:hover, .product-details .choose-markets .select-market-btn:hover, .wd-bg-yellow, .star-view-market .wd-star-market-badge, .review-comment:hover, .product-detail-collapse:hover, .product-detail-collapse:active, .product-reviews-page .active, .wd-search-btn, .compare-products .compare-details-section .compare-details-btn:hover, .product-search-input .wd-btn-search, .select-market-btn, #contact-us .wd-contact-btn:hover, .radius-icon-area:hover .radius-icon, .widget_search .btn-secondary:hover, input[type=submit], .active .compare-bar-header, .blog-section .blog-date, .filter .dropdown-item:active, .blurb_el_categories .categories_wrap .cat_tiem:after, .footer_about .footer_social_link a:hover, .product-reviews-page .review-btn:after, .btn_load_more:hover, #bsmenu:before, #commentform #submit:hover, .save_coupon_details:hover, .content_product_4 .content_product_item .item_status .price a, .blurb-market-compare-banner .banner-content.text-left:after, .blurb-post-container .single_post_share a:hover, .product-review-details .single_review_share a:hover, .review-slider-section .review-search-slider-section .collapse_search_btn, .footer-widgets #mc_embed_signup input[type=submit], .elementor-widget-im-sec-product-and-review .product_wrap a, .blurb_el_contact .contact_form_wrap #mc_embed_signup .button:hover, .wp-block-button .wp-block-button__link, #bmenu .megamenu .sub-column-item > a:before, #bsmenu ul .sub-column-item > a:before, .blurb_el_header.header_divider h2:after {
    background-color: #ff250d;
  }

  #scrollUp {
    bottom: 60px;
    right: 20px;
    line-height: 55px;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #544e70;
    color: #fff;
    border-radius: 100%;
    opacity: 0;
    visibility: hidden;
  }

  #scrollUp.show {
    opacity: 1;
    visibility: visible;
  }

  .close, .close:focus {
    opacity: 1;
  }
  .compare {
    background-color: #f9f9f9;
    padding: 100px 0;
    min-height: 500px;
  }
  .compare__products {
    display: flex;
    border-top: 1px solid #ddd;
    position: relative;
  }
  .compare__products-item {
    height: 300px;
  }
  .compare__products-item + li {
    height: 200px;
  }
  .compare__products ul {
    padding: 0;
  }
  .compare__products ul:first-child {
    width: 160px;
    border-right: 0;
  }
  .compare__products ul .overview {
    height: 70px !important;
    background: #f9f9f9 !important;
    border: none !important;
  }
  .compare__products ul .overview ~ li {
    height: 79px;
  }
  .compare__products ul li {
    text-align: center;
    background: #fff;
    padding: 15px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;
    font-size: 16px;
  }
  .compare__products ul li .compare__products-count{
    margin-top: 65px;
  }
  .compare__products ul li:last-child {
    border-right: 1px solid #ddd;
    display: list-item;
  }
  .compare__products ul li-count {
    margin-top: 65px;
  }
  .compare__products ul li i {
    color: #bdbdbd;
  }
  .compare__products ul li h6 {
    font-size: 16px;
    color: #333;
    font-weight: 400;
  }
  .compare__products ul li p {
    color: #999;
    text-decoration: underline;
    font-weight: 300;
    margin-bottom: 8px;
    font-size: 16px;
  }
  .compare__products ul li .wishlist {
    font-size: 20px;
    top: 9px;
    left: 17px;
    color: white;
    position: absolute;
    right: 20px;
    text-align: left;
  }
  .compare__products-heading {
    padding: 20px 0;
    border-left-color: transparent;
    border-right-color: transparent;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    height: 70px;
  }
  .compare__products-heading ~ li {
    height: 79px;
  }
  .compare__products .chart__item ul {
    width: 100%;
  }
  .compare__products .chart__item ul li:nth-child(2) {
    background: #f2f2f2;
  }
  .compare__products .chart__item li {
    background: #fff;
    text-align: center;
    /* height: 59px; */
  }
  .compare__products .chart__item li:last-child {
    color: #686868;
    font-weight: 300;
    font-size: 15px;
  }
  .compare__products .chart__item li h2 {
    font-size: 14px;
    font-weight: 400;
    padding: 11px 0;
    text-align: center;
  }
  .compare__products .chart__item li h2 a {
    color: #ff250d;
    font-size: 16px;
    font-weight: 500;
    font-weight: bold;
  }
  .compare__products .chart__item li:first-child {
    height: 300px;
  }
  .compare__products .chart__item li:first-child .blurb-remove {
    position: absolute;
    right: 14px;
    top: 6px;
    color: #b3afaf;
    z-index: 99;
    font-size: 20px;
  }
  .compare__products .chart__item li:first-child .product__img {
    min-height: 150px;
    max-height: 150px;
    text-align: center;
    margin-top: 23px;
  }
  .compare__products .chart__item li:first-child .product__img img {
    max-height: 150px;
    width: auto;
  }
  .compare__products .chart__item li .chart__item-price {
    width: auto;
    margin: 0 auto;
    border: 1px solid #ddd;
    text-align: center;
    padding: 0 11px;
    border-radius: 7px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding-left: 0;
    overflow: hidden;
  }
  .compare__products .chart__item li .chart__item-price a {
    border-right: 1px solid #ddd;
    padding: 7px 0;
    padding-right: 11px;
    color: #333;
    margin-right: 10px;
    padding-left: 10px;
  }
  .compare__products .chart__item-img {
    min-height: 150px;
    max-height: 150px;
    text-align: center;
    margin-top: 23px;
  }
  .compare__products .chart__item-img img {
    max-height: 150px;
    width: auto;
    margin: 0 auto;
  }
  .compare__products .chart__item-logo {
    color: #686868;
    font-weight: 300;
    font-size: 15px;
    background: #fff;
    text-align: left;
    height: 200px;
  }
  .compare__products .chart__item-logo img {
    width: auto;
    display: inline-block;
    margin-bottom: 13px;
    max-height: 36px;
  }
  .compare__products-carousel {
    width: calc(100% - 160px);
    position: relative;
  }
  .theme_ul, .theme_li {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
  }

  #lightSlider li {
    background: #f8f8f8;
    text-align: center;
    padding: 0 18px;
  }
  @media only screen and (max-width: 480px) {
    #lightSlider li {
      padding: 0;
    }
  }
  #lightSlider li img {
    max-width: 100%;
    height: 500px;
  }

  .lSAction {
    display: none !important;
  }

  #lightSlider .lSGallery img {
    height: auto;
    max-width: 100%;
    display: block;
  }

  .lSGallery li {
    background: #f8f8f8;
    text-align: center;
  }
  .lSGallery li a {
    display: inline-block;
  }
  .lSGallery li a img {
    display: inline-block;
    transform: scale(0.8);
    height: auto;
    max-width: 100%;
    height: 95px !important;
  }

  .product__slide-title {
    font-size: 26px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #343434;
    margin: 0;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  @media only screen and (max-width: 768px) {
    .product__slide-title h2 {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .product__slide-evaluate {
    padding: 19px 19px 19px 0;
    border-bottom: 1px solid #f5f5f5;
  }
  .product__slide-evaluate ul {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .product__slide-evaluate ul li {
    display: inline-block;
    position: relative;
    padding: 0 8px;
  }
  .product__slide-evaluate ul li:first-child {
    padding-left: 0;
  }
  @media only screen and (max-width: 768px) {
    .product__slide-evaluate ul li {
      padding: 0 5px;
    }
  }
  .product__slide-evaluate ul li .p {
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
    color: #7a7878;
  }
  .product__slide-evaluate ul li .p span {
    color: #000000;
  }
  .product__slide-evaluate ul li:not(:last-child)::after {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    content: "";
    height: 12px;
    width: 2px;
    background: #c3c3c3;
  }
  .product__slide-evaluate ul li .star-rating {
    margin: 0;
    width: 100%;
  }
  .product__slide-evaluate .product__slide-wishlist {
    display: flex;
    align-items: center;
  }
  .product__slide-evaluate .product__slide-wishlist .wishlist__heart {
    background: #ff250d;
    margin-right: 5px;
  }
  .product__slide-evaluate .product__slide-wishlist a {
    width: 33px;
    height: 34px;
    line-height: 37px;
    border-radius: 3px;
    text-align: center;
    background: #cecece;
    display: inline-block;
    transition: all 0.3s;
    padding: 0;
    border: none;
    font-size: 100%;
    vertical-align: baseline;
  }
  .product__slide-evaluate .product__slide-wishlist a i {
    font-size: 16px;
    color: #ffffff;
  }
  .product__slide-description {
    padding: 28px 0 14px;
  }
  @media only screen and (max-width: 1024px) {
    .product__slide-description {
      padding: 24px 0 20px;
    }
  }
  .product__slide-description li {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    letter-spacing: 1.1px;
    line-height: 28px;
  }
  .product__slide-publicer {
    display: flex;
    align-items: center;
    padding: 14px 0 25px;
    border-bottom: 1px solid #ebebeb;
  }
  .product__slide-publicer .im-publicer {
    font-size: 13px;
    line-height: 22px;
    color: #3c3c3c;
  }
  .product__slide-publicer .im-publicer a {
    color: #e05647;
  }
  .product__slide-market {
    padding: 15px;
    background: #f5f5f5;
    margin-top: 29px;
    height: 334px;
    overflow-y: scroll;
  }
  @media only screen and (max-width: 1024px) {
    .product__slide-market {
      height: auto;
      overflow-y: hidden;
    }
  }
  .product__slide-market li {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding-right: 20px;
    position: relative;
    overflow-x: hidden;
  }
  .product__slide-market li:not(:last-child) {
    margin-bottom: 15px;
  }
  .product__slide-market li .product__logo {
    width: 145px;
    text-align: center;
    line-height: 92px;
    border-right: 1px solid #f8f8f8;
    background-color: #f8f8f8;
  }
  .product__slide-market li .product__logo img {
    transform: scale(0.7);
    width: 150px
  }
  .product__slide-market li .product__price {
    border-right: 1px solid;
    border-color: #bbbbbb;
  }
  .product__slide-market li .product__price-min, .product__slide-market li .product__price- {
    color: #e05647;
  }
  @media only screen and (max-width: 1024px) {
    .product__slide-market li .product__price-active {
      font-size: 15px;
      font-weight: 700;
      padding: 0 13px 0 13px;
    }
  }
  @media only screen and (max-width: 480px) {
    .product__slide-market li .product__price-active {
      font-size: 14px;
      padding: 0 15px 0 15px;
    }
  }
  .product__slide-market li .p {
    font-size: 14px;
    font-weight: 700;
    padding: 0 15px 0 15px;
    line-height: 17px;
    text-align: center;

  }
  .product__price-tooltip {
    position: absolute;
    top: 15px;
    width: 250px;
    left: 45%;
    display: none;
    border-bottom: 1px dotted black;
    visibility: hidden;
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  }
  .product__slide-market li .p:hover .product__price-tooltip{
    visibility: visible;
    display: inline-block;

  }
  .product__slide-market li .im-btn-1 {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 15px;
    background: #484848;
    color: #ffffff;
    display: inline-block;
    border-radius: 4px;
  }
  @media only screen and (max-width: 1024px) {
    .product__slide-market li .im-btn-1 {
      padding: 7px 10px;
    }
  }
  @media only screen and (max-width: 480px) {
    .product__slide-market li .im-btn-1 {
      font-size: 12px;
      padding: 5px 7px;
    }
  }
  .product__slide-market::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #000000;
  }
  .product__slide-market::-webkit-scrollbar-track {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
  .product__slide-market::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }


  @media only screen and (max-width: 1024px) {
    .modal-dialog-centered {
      width: 93%;
      height: 510px;
      overflow: scroll;
    }
  }
  @media only screen and (max-width: 768px) {
    .modal-dialog-centered {
      width: 500px;
      height: 400px;
      overflow: scroll;
    }
  }
  @media only screen and (max-width: 480px) {
    .modal-dialog-centered {
      width: 350px;
      height: 300px;
      overflow: scroll;
    }
  }

  .modal-content {
    /* border: 8px solid #ddd; */
    box-shadow: 0px 0px 29.12px 2.88px rgba(69, 68, 68, 0.03);
    margin-bottom: 30px;
  }

  .top__bar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color:  #000;
    height: 52px;
  }
  .top__bar-media {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .top__bar-media a {
    color: #fff;
  }
  .top__bar-media a:not(:last-child) {
    margin-right: 10px;
  }
  .top__bar-text {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
  }
  .top__bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
  }
  .top__bar-right button {
    margin-right: 10px;
    border: none;
    border-radius: 0;
    background-color: red;
    color: #fff;
    height: 52px;
    width: 52px;
  }
  .top__bar-right .select{
    padding: 5px;
    margin: 10px 0;
    background-color: #242529;
    border-radius: 10px
  }
  .top__bar-right .account__section {
    margin-left: 10px;
  }
  .top__bar-right .account__section select {
    font-size: 12px;
    font-weight: bold;
  }

  .center__bar {
    padding: 35px 0;
    background: #fff;
  }
  .center__bar .logo img {
    width: 50%;
    max-width: 100%;
  }
  .center__bar-search {
    height: 45px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .center__bar-search .header__search-form {
    position: relative;
    z-index: 1000;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    outline: none;
    border: 1px solid #ebebeb;
    background: #f7f7f7;
    font-size: 14px;
    padding: 14px 18px;
    border-radius: 4px;
    height: 45px;
    letter-spacing: 0.1px;
    color: #333333;
  }
  .center__bar-search .header__search-form:focus {
    background-color: whitesmoke;
    border-color: #ececec;
  }
  .center__bar-search .header__search-icon {
    height: 100%;
  }
  .center__bar-search .header__search-icon button {
    height: 100%;
    padding: 15px 18px;
    border: 1px solid #ebebeb;
    line-height: 1.25;
    border-radius: 0.25rem;
    background: #f7f7f7;
    color: #ff250d;
    transition: all 0.15s ease-in-out;
  }
  .center__bar-search .header__search-icon button:hover {
    background-color: #ff250d;
    color: #ebebeb;
  }
  .center__bar-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  .center__bar-cart button {
    border: none;
    background: transparent;
    margin-right: 24px;
  }
  .center__bar-cart button i {
    font-size: 17px;
  }
  .center__bar-cart a, .center__bar-cart button {
    font-size: 17px;
    color: #333333;
    position: relative;
  }
  .center__bar-cart a:not(:last-child), .center__bar-cart button:not(:last-child) {
    margin-right: 26px;
  }
  .center__bar-cart a .count, .center__bar-cart button .count {
    background-color: #ff250d;
    position: absolute;
    top: -3px;
    right: -9px;
    width: 12px;
    height: 14px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 1px;
    border-radius: 10px;
    line-height: 12px;
  }

  .navigation {
    width: 100%;
    height: 70px;
    display: table;
    position: relative;
    font-family: inherit;
    background-color: #fff;
  }
  .navigation * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  .navigation-portrait {
    height: 48px;
  }
  .navigation-portrait .nav-brand {
    font-size: 18px;
    line-height: 48px;
  }
  .navigation-portrait .nav-logo > img {
    height: 36px;
    margin: 6px auto 6px 15px;
    padding: 0;
  }
  .navigation-portrait .nav-toggle {
    display: block;
  }
  .navigation-portrait .nav-menus-wrapper {
    width: 320px;
    height: 100%;
    top: 0;
    left: -400px;
    position: fixed;
    background-color: #fff;
    z-index: 20000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  .navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
    left: auto;
    right: -400px;
  }
  .navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
    left: 0;
  }
  .navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
    left: auto;
    right: 0;
  }
  .navigation-portrait .nav-menus-wrapper-close-button {
    display: block;
  }
  .navigation-portrait .nav-menu {
    width: 100%;
  }
  .navigation-portrait .nav-menu > li {
    width: 100%;
    position: relative;
  }
  .navigation-portrait .nav-menu > li:last-child {
    border-bottom: solid 1px #f0f0f0;
  }
  .navigation-portrait .nav-menu > li > a {
    width: 100%;
    height: auto;
    padding: 12px 15px 12px 26px;
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 30px;
  }
  .navigation-portrait .nav-menu.nav-menu-social {
    width: 100%;
    text-align: center;
  }
  .navigation-portrait .nav-menu.nav-menu-social > li {
    width: auto;
  }
  .navigation-portrait .nav-menu.nav-menu-social > li > a {
    padding: 15px;
  }
  .navigation-portrait .submenu-indicator {
    width: 54px;
    height: 44px;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 20000;
  }
  .navigation-portrait .submenu-indicator-chevron {
    position: absolute;
    top: 18px;
    left: 24px;
  }
  .navigation-portrait .submenu-indicator.submenu-indicator-up {
    transform: rotate(-180deg);
  }
  .navigation-portrait .nav-search {
    height: 48px;
    padding: 0 10px;
    margin-right: 52px;
  }
  .navigation-portrait .nav-search-button {
    width: 50px;
    height: 48px;
    line-height: 46px;
    font-size: 22px;
  }
  .navigation-portrait .nav-search-inner {
    height: 48px;
  }
  .navigation-portrait .nav-search-inner input[type=text] {
    height: 48px;
    font-size: 18px;
    line-height: 48px;
  }
  .navigation-portrait .nav-search-inner input[type=search] {
    height: 48px;
    font-size: 18px;
    line-height: 48px;
  }
  .navigation-portrait .nav-search-close-button {
    top: 10px;
    right: 14px;
  }
  .navigation-portrait .nav-button {
    width: calc(100% - 52px);
    margin: 17px 26px;
  }
  .navigation-portrait .nav-text {
    width: calc(100% - 52px);
    margin: 12px 26px 0;
  }
  .navigation-portrait .nav-text + ul {
    margin-top: 15px;
  }
  .navigation-portrait .nav-dropdown {
    width: 100%;
    position: static;
    left: 0;
  }
  .navigation-portrait .nav-dropdown > li > a {
    padding: 12px 20px 12px 30px;
  }
  .navigation-portrait .nav-dropdown > li > ul > li > a {
    padding-left: 50px;
  }
  .navigation-portrait .nav-dropdown > li > ul > li > ul > li > a {
    padding-left: 70px;
  }
  .navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > a {
    padding-left: 90px;
  }
  .navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 110px;
  }
  .navigation-portrait .nav-dropdown .submenu-indicator {
    right: 0;
    top: 0;
  }
  .navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    transform: rotate(45deg);
  }
  .navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal {
    border-top: none;
  }
  .navigation-portrait .nav-dropdown-horizontal > li {
    width: 100%;
  }
  .navigation-portrait .nav-dropdown-horizontal .submenu-indicator {
    height: 42px;
    top: 0;
    transform: rotate(0deg);
  }
  .navigation-portrait .nav-dropdown-horizontal .submenu-indicator.submenu-indicator-up {
    transform: rotate(-180deg);
  }
  .navigation-portrait .nav-submenu {
    margin-top: 2px;
  }
  .navigation-portrait .megamenu-panel {
    padding: 25px;
    position: static;
    display: block;
  }
  .navigation-portrait .megamenu-panel-half {
    width: 100%;
  }
  .navigation-portrait .megamenu-panel-quarter {
    width: 100%;
  }
  .navigation-portrait .megamenu-panel-row [class*=col-] {
    float: none;
    display: block;
    width: 100% !important;
    margin-left: 0;
    margin-top: 15px;
  }
  .navigation-portrait .megamenu-panel-row:first-child [class*=col-]:first-child {
    margin-top: 0;
  }
  .navigation-portrait .megamenu-tabs-nav {
    width: 100%;
  }
  .navigation-portrait .megamenu-tabs-pane {
    width: 100%;
  }

  .navigation-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19998;
  }

  .navigation-hidden {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .navigation-hidden .nav-header {
    display: none;
  }
  .navigation-hidden .nav-search {
    display: none;
  }

  .align-to-right {
    float: right;
  }

  .nav-header {
    float: left;
  }
  .nav-header-bar {
    height: 70px;
    padding: 26px 15px;
  }
  .nav-header-bar span {
    color: #000000;
    padding: 14px 20px 14px 0;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
  }
  .nav-header-bar i {
    margin-right: 6px;
    font-size: 20px;
    vertical-align: middle;
    transform: translateY(-1px);
    color: #ff250d;
  }
  @media only screen and (max-width: 1170px) {
    .nav-header {
      display: none;
    }
  }

  .nav-brand {
    line-height: 70px;
    padding: 0;
    color: #343a40;
    font-size: 24px;
    text-decoration: none !important;
  }
  .nav-brand:hover {
    color: #343a40;
  }
  .nav-brand:focus {
    color: #343a40;
  }

  .nav-logo > img {
    height: 48px;
    margin: 11px auto;
    padding: 0 15px;
    float: left;
  }
  .nav-logo:focus > img {
    outline: initial;
  }

  .nav-toggle {
    width: 30px;
    height: 30px;
    padding: 6px 2px 0;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 15px;
    display: none;
    cursor: pointer;
  }
  .nav-toggle:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 0.5em 0 0 #343a40, 0 1em 0 0 #343a40;
  }

  .nav-menus-wrapper-close-button {
    width: 30px;
    height: 40px;
    margin: 10px 7px;
    display: none;
    float: right;
    color: #343a40;
    font-size: 26px;
    cursor: pointer;
  }

  .nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
    font-size: 0;
  }
  .nav-menu > li {
    display: inline-block;
    float: left;
    text-align: left;
  }
  .nav-menu > li > a {
    height: 70px;
    padding: 26px 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    transition: color 0.3s, background 0.3s;
    text-transform: uppercase;
    font-weight: bold;
  }
  .nav-menu > li > a > i {
    width: 18px;
    height: 16px;
    line-height: 16px;
    transform: scale(1.4);
  }
  .nav-menu > li > a > [class*=ion-] {
    width: 18px;
    height: 16px;
    line-height: 16px;
    transform: scale(1.4);
    width: 16px;
    display: inline-block;
    transform: scale(1.8);
  }
  .nav-menu > li:hover > a {
    color: #ff250d;
  }
  .nav-menu > li:hover > a .submenu-indicator-chevron {
    border-color: transparent #ff250d #ff250d transparent;
  }
  .nav-menu > li > .nav-dropdown {
    border-top: solid 1px #f0f0f0;
  }
  .nav-menu + .nav-menu > li:first-child {
    border-top: none;
  }
  .nav-menu > li.active > a {
    color: #ff250d;
  }
  .nav-menu > li.focus > a {
    color: #ff250d;
  }
  .nav-menu > .active > a .submenu-indicator-chevron {
    border-color: transparent #967adc #967adc transparent;
  }
  .nav-menu > .focus > a .submenu-indicator-chevron {
    border-color: transparent #967adc #967adc transparent;
  }

  .navigation-landscape .nav-menu.nav-menu-centered {
    float: none;
    text-align: center;
  }
  .navigation-landscape .nav-menu.nav-menu-centered > li {
    float: none;
  }
  .navigation-landscape .nav-dropdown.nav-dropdown-left > li > a {
    text-align: right;
  }
  .navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator {
    left: 10px;
  }
  .navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
    transform: rotate(135deg);
  }
  .navigation-landscape .megamenu-list {
    margin: -15px 0;
    padding-right: 40px;
    padding-left: 0;
  }
  .navigation-landscape .megamenu-list:last-child {
    border: none;
  }
  .navigation-landscape .list-col-2 {
    width: 50%;
  }
  .navigation-landscape .list-col-3 {
    width: 33%;
  }
  .navigation-landscape .list-col-4 {
    width: 33.33%;
  }
  .navigation-landscape .list-col-5 {
    width: 20%;
  }

  .nav-menu.nav-menu-social > li {
    text-align: center;
    float: none;
    border: none !important;
  }
  .nav-menu.nav-menu-social > li > a > [class*=ion-] {
    font-size: 12px;
  }
  .nav-menu.nav-menu-social > li > a > .fa {
    font-size: 14px;
  }

  .submenu-indicator {
    margin-left: 6px;
    margin-top: 3px;
    float: right;
    transition: all 0.2s;
  }

  .submenu-indicator-chevron {
    height: 7px;
    width: 7px;
    display: block;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: transparent #000 #000 transparent;
    transform: rotate(45deg);
    transition: border 0.2s;
  }

  .nav-overlay-panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 19999;
  }

  .no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .nav-search {
    height: 70px;
    float: right;
    z-index: 19998;
  }
  .nav-search > form {
    width: 100%;
    height: 100%;
    padding: 0 auto;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 99;
  }

  .nav-search-button {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    background-color: #fbfcfd;
  }
  .nav-search-button:hover .nav-search-icon {
    color: #ff250d;
  }

  .nav-search-icon {
    width: 14px;
    height: 14px;
    margin: 2px 8px 8px 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #343a40;
    text-align: left;
    text-indent: -9999px;
    border: 2px solid;
    border-radius: 50%;
    transform: rotate(-45deg);
  }
  .nav-search-icon:after {
    content: "";
    pointer-events: none;
  }
  .nav-search-icon:before {
    content: "";
    pointer-events: none;
    width: 2px;
    height: 11px;
    top: 11px;
    position: absolute;
    left: 50%;
    border-radius: 0 0 1px 1px;
    box-shadow: inset 0 0 0 32px;
    transform: translateX(-50%);
  }

  .nav-search-inner {
    width: 70%;
    height: 70px;
    margin: auto;
    display: table;
  }
  .nav-search-inner input[type=text] {
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    font-size: 26px;
    text-align: center;
    color: #343a40;
    outline: none;
    line-height: 70px;
    border: none;
    background-color: transparent;
    transition: all 0.3s;
  }
  .nav-search-inner input[type=search] {
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    font-size: 26px;
    text-align: center;
    color: #343a40;
    outline: none;
    line-height: 70px;
    border: none;
    background-color: transparent;
    transition: all 0.3s;
  }

  .nav-search-close-button {
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: normal;
    color: #343a40;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }

  .nav-button {
    margin: 18px 15px 0;
    padding: 8px 14px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
  }
  .nav-button:hover {
    color: #fff;
    text-decoration: none;
  }
  .nav-button:focus {
    color: #fff;
    text-decoration: none;
  }

  .nav-text {
    margin: 25px 15px;
    display: inline-block;
    color: #343a40;
    font-size: 14px;
  }

  .nav-dropdown, .megamenu-panel {
    top: 101%;
    z-index: 99999;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #ff250d;
  }

  .nav-dropdown {
    min-width: 180px;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    list-style: none;
    z-index: 98;
    white-space: nowrap;
  }
  .nav-dropdown .nav-dropdown {
    left: 100%;
  }
  .nav-dropdown > li {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    text-align: left;
  }
  .nav-dropdown > li > a {
    width: 100%;
    padding: 16px 20px;
    display: inline-block;
    text-decoration: none;
    float: left;
    font-size: 13px;
    color: #343a40;
    background-color: #fdfdfd;
    color: #343a40;
    padding: 10px 20px;
    border-bottom: 1px solid #f6f6f6;
  }
  .nav-dropdown > li > a:hover {
    color: #ff250d;
  }
  .nav-dropdown > li > a:focus {
    color: #ff250d;
  }
  .nav-dropdown > li:hover > a {
    color: #ff250d;
  }
  .nav-dropdown > li:hover > a .submenu-indicator-chevron {
    border-color: transparent #ff250d #ff250d transparent;
  }
  .nav-dropdown > li > .nav-dropdown-left {
    left: auto;
    right: 100%;
  }
  .nav-dropdown > li.focus > a {
    color: #ff250d;
  }
  .nav-dropdown .submenu-indicator {
    right: 15px;
    top: 10px;
    position: absolute;
  }
  .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    transform: rotate(-45deg);
  }
  .nav-dropdown > .focus > a .submenu-indicator-chevron {
    border-color: transparent #ff250d #ff250d transparent;
  }

  .nav-dropdown.nav-dropdown-left {
    right: 0;
  }

  .nav-dropdown-horizontal {
    width: 100%;
    left: 0;
    background-color: #fdfdfd;
    border-top: solid 1px #f0f0f0;
  }
  .nav-dropdown-horizontal .nav-dropdown-horizontal {
    width: 100%;
    top: 100%;
    left: 0;
  }
  .nav-dropdown-horizontal > li {
    width: auto;
    clear: none;
    position: static;
  }
  .nav-dropdown-horizontal > li > a {
    position: relative;
  }
  .nav-dropdown-horizontal .submenu-indicator {
    height: 18px;
    top: 11px;
    transform: rotate(90deg);
  }

  .megamenu-panel {
    width: 100%;
    padding: 37px 20px 23px 20px;
    display: none;
    position: absolute;
    font-size: 14px;
    z-index: 98;
    text-align: left;
    color: inherit;
    border-top: solid 1px #f0f0f0;
    background-color: #fdfdfd;
    box-shadow: 0px 10px 9px 0px rgba(180, 30, 11, 0.22);
  }
  .megamenu-panel [class*=container] {
    width: 100%;
  }
  .megamenu-panel [class*=container] [class*=col-] {
    padding: 0;
  }

  .megamenu-panel-half {
    width: 50%;
  }

  .megamenu-panel-quarter {
    width: 25%;
  }

  .megamenu-panel-row {
    width: 100%;
  }
  .megamenu-panel-row:before {
    content: "";
    display: table;
    line-height: 0;
  }
  .megamenu-panel-row:after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
  }
  .megamenu-panel-row [class*=col-] {
    display: block;
    min-height: 20px;
    float: left;
    margin-left: 3%;
  }
  .megamenu-panel-row [class*=col-]:first-child {
    margin-left: 0;
  }
  .megamenu-panel-row .col-1 {
    width: 5.5833333333%;
  }
  .megamenu-panel-row .col-2 {
    width: 14.1666666667%;
  }
  .megamenu-panel-row .col-3 {
    width: 22.75%;
  }
  .megamenu-panel-row .col-4 {
    width: 31.3333333333%;
  }
  .megamenu-panel-row .col-5 {
    width: 39.9166666667%;
  }
  .megamenu-panel-row .col-6 {
    width: 48.5%;
  }
  .megamenu-panel-row .col-7 {
    width: 57.0833333333%;
  }
  .megamenu-panel-row .col-8 {
    width: 65.6666666667%;
  }
  .megamenu-panel-row .col-9 {
    width: 74.25%;
  }
  .megamenu-panel-row .col-10 {
    width: 82.8333333333%;
  }
  .megamenu-panel-row .col-11 {
    width: 91.4166666667%;
  }
  .megamenu-panel-row .col-12 {
    width: 100%;
  }

  .megamenu-tabs {
    width: 100%;
    float: left;
    display: block;
  }

  .megamenu-tabs-nav {
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
  }
  .megamenu-tabs-nav > li > a {
    width: 100%;
    padding: 10px 16px;
    float: left;
    font-size: 13px;
    text-decoration: none;
    color: #343a40;
    border: solid 1px #eff0f2;
    outline: 0;
    background-color: #fff;
  }
  .megamenu-tabs-nav > li:hover a {
    background-color: #f5f5f5;
  }
  .megamenu-tabs-nav > li.active a {
    background-color: #f5f5f5;
  }

  .megamenu-tabs-pane {
    width: 80%;
    min-height: 30px;
    padding: 20px;
    float: right;
    display: none;
    font-size: 13px;
    color: #343a40;
    border: solid 1px #eff0f2;
    background-color: #fff;
  }

  .megamenu-tabs-pane.active {
    display: block;
  }

  .megamenu-lists {
    width: 100%;
    display: table;
  }
  .megamenu-lists:not(:last-child) {
    padding-right: 40px;
    padding-left: 0;
  }
  .megamenu-lists > li {
    border-bottom: 0px solid #000;
    font-size: 14px;
    position: relative;
    padding: 0 25px;
  }
  .megamenu-lists li {
    padding: 15px 0;
  }
  .megamenu-lists li a {
    letter-spacing: 0.4px;
    transition: all 0.3s;
  }
  .megamenu-lists li .sub-menu > .menu__item:hover i, .megamenu-lists li .sub-menu > .menu__item:hover .menu__item-link {
    color: #ff250d;
  }

  .megamenu-list {
    width: 100%;
    margin: 0 0 15px;
    padding: 0;
    display: inline-block;
    float: left;
    list-style: none;
  }
  .megamenu-list:last-child {
    border: none;
  }
  .megamenu-list > li > a {
    color: #424040;
    font-size: 13px !important;
    opacity: 1;
    font-weight: 700 !important;
    padding: 0 0;
    text-transform: uppercase;
    line-height: 1.2;
    border: 0;
    position: relative;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(0);
  }
  .megamenu-list > li > a::before {
    background-color: #ff250d;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 2px;
  }
  .megamenu-list > li a {
    font-size: 13px;
    letter-spacing: 0.4px;
    border-bottom: 0;
    margin-bottom: 1px;
    color: #424040;
    font-weight: 400;
    transition: all 0.3s;
  }
  .megamenu-list > li.megamenu-list-title > a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #343a40;
  }
  .megamenu-list > li.megamenu-list-title > a:hover {
    background-color: transparent;
  }
  .megamenu-list .sub-menu {
    position: relative;
    left: auto;
    right: 0;
    border: 0px;
    padding: 0;
    background: none;
  }
  .megamenu-list .sub-menu li:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }
  .megamenu-list .sub-menu i {
    font-size: 11px;
    font-weight: 400;
    margin-right: 5px;
  }

  .main_header_area {
    min-height: 50px;
    position: relative;
  }

  .main_header_area.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  }

  .transparent-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .nav-dropdown > li > a {
      width: 65%;
    }
    .megamenu-list > li > a {
      width: 65%;
    }
  }
  .nav-menu-toggle {
    position: absolute;
    padding: 0;
    top: 100%;
    left: 0;
    width: 300px;
    max-width: 300px;
    z-index: 10;
    border-color: rgb(234, 234, 234);
    box-shadow: 0px 10px 9px 0px rgba(180, 30, 11, 0.22);
    color: rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0;
    border: 1px solid rgb(234, 234, 234);
    display: none;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  .nav-menu-toggle :nth-child(2):hover .megamenu {
    transition: 0.5s;
    display: flex;
  }
  .nav-menu-toggle :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-menu-toggle :nth-child(1) i {
    font-size: 12px;
  }
  .nav-menu-toggle > :not(:last-child) {
    border-bottom: 1px solid #eeeeee;
  }
  .nav-menu-toggle > li {
    display: block;
    padding: 17px 25px;
    position: relative;
  }
  .nav-menu-toggle > li > a {
    color: #222222;
    transition: 0.5s;
    font-weight: 400;
    font-size: 13px;
  }
  .nav-menu-toggle li:hover a {
    color: #ff250d;
  }
  .nav-menu-toggle li a {
    text-transform: uppercase;
  }
  .nav-menu-toggle .sub-menu {
    width: 810px;
    padding: 37px 20px 23px 40px;
    border-left-width: 1px;
    border-bottom: solid;
    max-width: 810px;
    box-shadow: 0px 10px 9px 0px rgba(180, 30, 11, 0.22);
    border-color: #eeeeee;
  }
  .nav-menu-toggle .sub-menu > li {
    padding: 0;
  }
  .nav-menu-toggle .sub-menu > li:not(:last-child) {
    padding-right: 30px;
  }
  .nav-menu-toggle .sub-menu > li a {
    color: #565656;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    position: relative;
  }
  .nav-menu-toggle .sub-menu > li > a {
    padding: 10px 0 15px;
  }
  .nav-menu-toggle .sub-menu > li > a::before {
    background-color: #ff250d;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 2px;
  }
  .nav-menu-toggle .sub-menu li {
    width: 33%;
  }
  .nav-menu-toggle .sub-menu-column {
    padding: 0;
    margin-left: 0;
  }
  .nav-menu-toggle .sub-menu-column li {
    list-style: none;
  }
  .nav-menu-toggle .sub-menu-column li a {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: block;
    position: relative;
    text-transform: capitalize;
  }
  .nav-menu-toggle .megamenu {
    display: none;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    position: absolute;
    left: calc(100% + 1px);
    top: 0;
    padding: 25px 40px 25px;
    transition: 0.5s;
    margin: 0;
    list-style: none;
  }
  .nav-menu-toggle .megamenu :first-child {
    display: block;
  }
  .nav-menu-toggle .megamenu .sub-menu-column {
    margin-top: 20px;
  }
  .nav-menu-toggle .megamenu .sub-menu-column li:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }
  .nav-menu-toggle .megamenu .sub-menu-column .menu__item {
    width: 100%;
    position: relative;
  }
  .nav-menu-toggle .megamenu .sub-menu-column .menu__item-link {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: block;
    text-transform: capitalize;
    padding: 10px 15px;
  }
  .nav-menu-toggle .megamenu .sub-menu-column .menu__item i {
    position: absolute;
    top: 35%;
    left: 0;
    color: #333;
    font-size: 13px;
    font-weight: 400;
  }
  .nav-menu-toggle .megamenu .sub-menu-column .menu__item:hover .menu__item-link, .nav-menu-toggle .megamenu .sub-menu-column .menu__item:hover i {
    color: #ff250d;
  }

  .nav-menu-toggle.open {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .banner__box {
    position: relative;
  }
  .banner__box-slide .slide__item {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    align-items: center;
  }
  .banner__box-slide .slide__item-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 140px 0; */
    min-height: 72vh;
  }
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #e38803;
    border-color: #e38803;
    font-size: 14px;
  }
  .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #e38803;
    font-size: 14px;
  }
  .pagination>li>a, .pagination>li>span {
    color: #e38803;
    font-size: 14px;
  }
  @media only screen and (max-width: 1024px) {
    .banner__box-slide .slide__item-wrap {
      padding: 120px 0;
    }
  }
  @media only screen and (max-width: 768px) {
    .banner__box-slide .slide__item-wrap {
      padding: 80px 0;
    }
  }
  @media only screen and (max-width: 480px) {
    .banner__box-slide .slide__item-wrap {
      padding: 80px 15px;
      flex-wrap: wrap;
    }
  }
  .banner__box-slide .slide__item-wrap .slide__img {
    width: 100%;
    max-width: 50%;
    order: 2;
  }
  .banner__box-slide .slide__item-wrap .slide__img img {
    max-width: 100%;
    transition-delay: 0.3s;
  }
  @media only screen and (max-width: 768px) {
    .banner__box-slide .slide__item-wrap .slide__img {
      padding: 0 20px 0 0px;
    }
  }
  @media only screen and (max-width: 480px) {
    .banner__box-slide .slide__item-wrap .slide__img {
      max-width: 100%;
      text-align: center;
      margin-bottom: 20px;
      padding: 0px;
      order: 1;
    }
  }
  .banner__box-slide .slide__item-wrap .slide__text {
    order: 1;
    width: 100%;
    max-width: 50%;
    padding: 0 30px 0 0px;
  }
  @media only screen and (max-width: 768px) {
    .banner__box-slide .slide__item-wrap .slide__text {
      padding: 0 20px 0 0px;
    }
  }
  @media only screen and (max-width: 480px) {
    .banner__box-slide .slide__item-wrap .slide__text {
      padding: 0px;
      max-width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  .banner__box-slide .slide__item-wrap .slide__text-title {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 11px 9px rgba(69, 13, 4, 0.07);
  }
  .banner__box-slide .slide__item-wrap .slide__text-title span {
    display: block;
    font-size: 30px;
  }
  .banner__box-slide .slide__item-wrap .slide__text-title span mark {
    background: transparent;
    color: #333333;
    padding: 0;
  }
  @media only screen and (max-width: 1024px) {
    .banner__box-slide .slide__item-wrap .slide__text-title {
      font-size: 50px !important;
      line-height: 50px;
    }
    .banner__box-slide .slide__item-wrap .slide__text-title span {
      font-size: 21px !important;
    }
  }
  @media only screen and (max-width: 768px) {
    .banner__box-slide .slide__item-wrap .slide__text-title {
      font-size: 32px !important;
      line-height: 36px;
    }
    .banner__box-slide .slide__item-wrap .slide__text-title span {
      font-size: 28px;
    }
  }
  .banner__box-slide .slide__item-wrap .slide__text h1 {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 11px 9px rgba(69, 13, 4, 0.07);
  }
  .banner__box-slide .slide__item-wrap .slide__text-content {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    padding: 0 0 0 100px;
    color: #ffffff;
    margin-top: 42px;
  }
  .banner__box-slide .slide__item-wrap .slide__text-content::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 85px;
    height: 2px;
    background: #ffffff;
  }
  @media only screen and (max-width: 1170px) {
    .banner__box-slide .slide__item-wrap .slide__text-content::after {
      width: 65px;
    }
  }
  @media only screen and (max-width: 768px) {
    .banner__box-slide .slide__item-wrap .slide__text-content::after {
      display: none;
    }
  }
  @media only screen and (max-width: 1170px) {
    .banner__box-slide .slide__item-wrap .slide__text-content {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    .banner__box-slide .slide__item-wrap .slide__text-content {
      font-size: 16px;
      letter-spacing: 1px;
      margin-top: 29px;
    }
  }
  @media only screen and (max-width: 480px) {
    .banner__box-slide .slide__item-wrap .slide__text-content {
      padding: 0;
    }
  }
  .banner__box-slide .slide__item-wrap .slide__text-link {
    background: whitesmoke;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 25px;
    display: inline-block;
    margin-top: 45px;
    box-shadow: 0px 11px 9px 0px rgba(69, 13, 4, 0.07);
    transition: 0.3s linear;
    letter-spacing: 1px;
    border-radius: 4px;
    color: #ff250d;
  }
  .banner__box-slide .slide__item-wrap .slide__text-link:hover {
    background: #333333;
    color: #ffffff;
  }
  @media only screen and (max-width: 768px) {
    .banner__box-slide .slide__item-wrap .slide__text-link {
      margin-top: 23px !important;
    }
  }
  @media only screen and (max-width: 1024px) {
    .banner__box-slide .slide__item-wrap .slide__text-link {
      margin-top: 35px;
    }
  }
  .banner__box .owl-nav {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }
  .banner__box .owl-nav .sldier_arrow_path {
    opacity: 0;
  }
  .banner__box .owl-nav:hover {
    opacity: 1;
  }
  .banner__box .owl-nav:hover path#Forma_1, .banner__box .owl-nav:hover path#Forma_2 {
    fill: #ffdb84;
    opacity: 1;
    transition: all 0.3s linear;
  }
  .banner__box .owl-nav .owl-prev {
    fill: #ffffff;
    transform: translateY(-50%);
  }
  .banner__box .owl-nav .owl-next {
    fill: #ffffff;
    transform: translateY(-50%);
  }
  .banner__box .owl-nav button:hover {
    background: transparent !important;
  }

  .amazon {
    /* background: #f3f3f0; */
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 95px 15px 45px 15px;
  }
  .amazon__title {
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
    text-align: left;
    letter-spacing: 0.5px;
  }
  @media only screen and (max-width: 1024px) {
    .amazon__title {
      font-size: 26px;
    }
  }
  @media only screen and (max-width: 768px) {
    .amazon__title {
      font-size: 20px;
    }
  }
  .amazon__title-color {
    color: #ff250d;
  }
  .amazon__line {
    border: 1px solid #efefec;
    position: relative;
    margin-bottom: 40px;
    padding: 0 15px;
  }
  .amazon__line-small {
    position: absolute;
    border: 1px solid #ff250d;
    width: 30px;
    right: 0;
  }
  .amazon__product {
    position: relative;
  }
  .amazon__product article {
    margin-top: 2px;
    padding: 0 10px;
  }
  .amazon__product-box {
    transition: 0.5s;
    transform: translateY(0);
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgba(110, 110, 110, 0.2);
    margin: 0 0 1rem !important;
  }
  .amazon__product-box:hover {
    box-shadow: 0px 8px 16px 0px rgba(130, 156, 199, 0.2);
  }
  .amazon__product-box:hover .product__view {
    top: 30% !important;
    opacity: 1 !important;
  }
  .amazon__product-box:hover .product__meta-top .compare-btn button {
    background-color: #ff250d;
    color: #fff;
  }
  .amazon__product-box:hover .product__img img {
    transform: scale(0.9);
  }
  .amazon__product-box .product__meta-top {
    background: #f1f1f1;
    position: relative;
  }
  .amazon__product-box .product__meta-top .product__img {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    overflow: hidden;
    transition: 0s;
  }
  .amazon__product-box .product__meta-top .product__img img {
    width: auto;
    display: inline-block;
    max-width: 100%;
    border: none;
    height: 142px;
  }
  .amazon__product-box .product__meta-top .product__view {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.5s;
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  .amazon__product-box .product__meta-top .product__view button {
    color: #ff250d;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    background: #fff;
    border-radius: 20px;
    border-color: transparent;
    cursor: pointer;
    line-height: 20px;
  }
  .amazon__product-box .product__meta-top .product__view button i {
    margin-right: 6px;
  }
  .amazon__product-box .product__img {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    overflow: hidden;
    transition: 0s;
  }
  .amazon__product-box .product__img img {
    transition: 0.5s;
    transform: scale(0.8);
  }
  .amazon__product-box .product__meta-bottom {
    width: 100%;
    padding-bottom: 15px;
    background: #fff;
  }
  .amazon__product-box .product__meta-bottom a {
    display: block;
  }
  .amazon__product-box .product__meta-bottom a h6 {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    padding: 0 15px;
    text-align: left;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .amazon__product-box .product__meta-footer {
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0;
    text-align: left;
    margin-top: 17px;
    font-size: 14px;
    align-items: center;
  }
  .amazon__product-box .product__meta-footer .left__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .amazon__product-box .product__meta-footer .left__content span {
    color: #888888;
    display: none;
  }
  .amazon__product-box .product__meta-footer .left__content a {
    color: #464646;
  }
  .amazon__product-box .product__meta-footer .left__content i {
    color: #e38803;
    margin-right: 10px;
  }
  .amazon__product-box .product__meta-footer .compare-btn {
    margin-top: 0;
    position: relative;
  }
  .amazon__product-box .product__meta-footer .compare-btn span a {
    font-size: 17px;
    border-radius: 5px;
    background: transparent;
    border-color: transparent;
    padding: 0;
    border-radius: 20px;
    background-color: transparent !important;
    color: #ff6600;
  }
  .amazon__product .owl-nav {
    position: absolute;
    top: -121px;
    right: 0;
  }
  .amazon__product .owl-nav button:hover {
    background: transparent !important;
  }
  .amazon__product .owl-nav, .amazon__product .owl-next {
    background: none;
    border-radius: 0;
    transition: 0.5s;
    padding-left: 15px;
    padding-top: 15px;
  }
  .amazon__product .owl-nav i, .amazon__product .owl-next i {
    color: #bfbfb8;
    font-size: 20px;
  }
  .amazon__product .owl-nav i:hover, .amazon__product .owl-next i:hover {
    color: #DF4D3A !important;
  }
  @media only screen and (max-width: 768px) {
    .amazon__product .owl-nav i, .amazon__product .owl-next i {
      font-size: 16px !important;
    }
  }
  .amazon__product .owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    padding: 4px 7px;
    margin: 0 !important;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
  }
  .amazon__product .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
  }
  .amazon__product .owl-prev {
    margin-right: 15px !important;
    margin-left: 0px !important;
  }
  .amazon__product .owl-prev::before {
    display: block;
    content: "";
    clear: both;
    border: 1px solid #bfbfb8;
    transform: skew(5deg, 125deg);
    position: relative;
    top: 11px;
    left: 32px;
    width: 90%;
    height: 0;
  }
  .amazon__product .owl-next {
    margin-left: 20px !important;
  }

  .product__rating {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background: #fff;
    width: 80%;
    margin: 0 auto;
    margin-top: -20px;
    z-index: 99995;
    position: relative;
    padding: 5px 5px;
    margin-bottom: 15px;
    line-height: 23px;
    font-size: 13px;
  }

  .product__rating-right{
    display: flex;
  }
  .product__line {
    background: #ddd;
    width: 1px;
    height: 15px;
    margin: 3px 10px 0 10px;
  }
  .post-views {
    color: #b6b6b6;
  }
  .price-start {
    text-align: left;
    padding: 0 15px;
    overflow: hidden;
    white-space: nowrap;
  }
  .price-start p {
    color: #666666;
    font-size: 14px;
    display: flex;
  }
  .price-start p strong {
    margin-left: 5px;
    display: inline-flex;
    font-size: 16px;
  }

  .ebay__title {
    text-align: center;
  }
  .ebay__subtitle {
    color: #605b5b;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: center;
  }
  .ebay .amazon__product .owl-prev::before {
    display: none;
  }
  .ebay .amazon__product .owl-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .ebay .amazon__line-small.left {
    left: 0;
  }

  .ali_express__content-link {
    position: relative;
  }
  .ali_express__content {
    background: #ffffff;
    padding: 24px;
  }
  .ali_express__content-description {
    color: #868e96;
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 0.4px;
    line-height: 1.6;
  }
  .ali_express__content-link .owl-nav .owl-prev, .ali_express__content-link .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    background: rgba(250, 250, 250, 0.6) !important;
    height: 27px;
    width: 27px;
    line-height: 27px;
    text-align: center;
    padding: 0;
    border-radius: 0;
    transition: all 0.3s;
  }
  .ali_express__content-link .owl-nav .owl-prev:hover, .ali_express__content-link .owl-nav .owl-next:hover {
    background: rgb(250, 250, 250) !important;
  }
  .ali_express__content-link .owl-nav .owl-prev i, .ali_express__content-link .owl-nav .owl-next i {
    color: #ffa200;
    font-size: 14px;
    line-height: 27px;
  }
  .ali_express__content-link .owl-nav .owl-prev {
    left: 0;
  }
  .ali_express__content-link .owl-nav .owl-next {
    right: 0;
  }
  .ali_express__content-user {
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .ali_express__content-user .user_name {
    margin-left: 10px;
  }
  .ali_express__content-user .user_img img {
    border-radius: 50%;
    margin-right: 10px;
  }
  .ali_express__content-user .user_name .im-link .name {
    color: #333333;
    font-size: 16px;
    display: block;
  }
  .ali_express__content-user .user_name .role {
    color: #868e96;
    font-size: 12px;
  }
  .ali_express__content-user .star-rating {
    text-align: right;
    position: absolute;
    line-height: 22px;
    margin-bottom: 0px;
    right: 0;
    top: 0;
  }
  .ali_express__video iframe {
    width: 100%;
    display: inline-block;
  }

  .weekly__title {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 15px 45px 15px;
  }
  .weekly__content-top img {
    max-width: 100%;
    height: auto;
  }
  .weekly__content-caption {
    background: transparent;
    transition: all 0.3s;
    border: 1px solid #f2f2f2;
    padding: 0 0;
  }
  .weekly__content-caption .weekly__info {
    border-bottom: 1px solid #e9e9d3;
    padding: 0 20px;
  }
  .weekly__content-caption .weekly__info ul {
    padding: 15px 0 17px;
    margin: 0;
  }
  .weekly__content-caption .weekly__info ul li {
    display: inline-block;
    color: #999;
    font-size: 12px;
    border-right: 2px solid #aeaeae;
    padding-right: 15px;
    margin-right: 13px;
    line-height: 14px;
  }
  .weekly__content-caption .weekly__info ul li:first-child span {
    color: #e05547;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
  .weekly__content-caption .weekly__info ul li span {
    font-weight: 700;
    color: #000000;
    letter-spacing: 0.3px;
  }
  .weekly__content-caption .weekly__info ul li a {
    color: #909090;
    font-size: 12px;
    font-weight: 500;
  }
  .weekly__content-caption .weekly__info ul li:last-child {
    border-right: 2px solid transparent;
    margin-right: 0;
    padding-right: 0;
  }
  @media only screen and (max-width: 480px) {
    .weekly__content-caption .weekly__info ul li {
      padding-right: 7px;
      margin-right: 7px;
    }
  }
  @media only screen and (max-width: 768px) {
    .weekly__content-caption .weekly__info ul {
      padding: 10px 0;
    }
  }
  .weekly__content-caption .weekly__blog {
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #333333;
    line-height: 26px;
    font-weight: 700;
    margin: 20px 20px 0;
  }
  @media only screen and (max-width: 480px) {
    .weekly__content-caption .weekly__blog {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .weekly__content-caption .weekly__description {
    padding: 10px 20px 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
  @media only screen and (max-width: 480px) {
    .weekly__content-caption .weekly__description {
      font-size: 13px;
      color: #616161;
    }
  }
  .weekly__content-caption .weekly__description a {
    font-size: 14px;
    font-weight: 400;
    color: #616161;
    line-height: 30px;
  }

  .purchase {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 40px;
  }
  @media only screen and (max-width: 480px) {
    .purchase {
      padding: 30px 15px;
    }
  }
  .purchase__step {
    background-color: #f7f7f7;
    display: flex;
    flex-basis: 25%;
    position: relative;
    padding: 30px 20px 30px 35px;
    justify-content: center;
    transition: 0.5s;
    align-items: center;
  }
  .purchase__step:first-child {
    padding-left: 18px;
  }
  .purchase__step-img {
    padding: 0;
    margin: 0;
    max-width: 25%;
  }
  .purchase__step-img img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .purchase__step-content {
    padding-left: 23px !important;
    max-width: 75% !important;
  }
  .purchase__step-content h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #383737;
    font-family: "Rubik", sans-serif;
    letter-spacing: 1px;
  }
  @media only screen and (max-width: 1024px) {
    .purchase__step-content {
      transform: translateX(0);
    }
  }
  .purchase__step-arow {
    position: absolute;
    top: 0;
    right: -30px;
    height: 100%;
    z-index: 10;
  }
  .purchase__step-arow img {
    height: 100%;
  }
  @media only screen and (max-width: 1024px) {
    .purchase__step-arow {
      display: none;
    }
  }
  .purchase__step:hover .purchase__step-img img {
    transform: translateY(2px);
    transition: 0.5s;
  }
  @media only screen and (max-width: 1024px) {
    .purchase__step {
      flex-basis: 50%;
    }
  }
  @media only screen and (max-width: 768px) {
    .purchase__step {
      flex-basis: 100%;
    }
  }
  .purchase .step-active {
    background-color: #f7f7f7;
    background-image: url(https://themeim.com/wp/blurb/wp-content/uploads/2019/05/New_Home_1.png);
    background-size: cover;
  }
  .purchase .step-active .purchase__step-img {
    margin-left: auto;
  }
  .purchase .step-active .purchase__step-content {
    padding: 0 10px 0 0;
    margin-right: auto;
  }
  .purchase .step-active .purchase__step-content h3 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding-left: 25px;
  }

  button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
  }

  .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 400px;
    height: 100%;
    transform: translate3d(0%, 0, 0);
  }
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  .modal.right .modal-body {
    padding: 15px 15px 80px;
    transition: all 0.6s ease-in-out;
    background: #ecf0f1;
    z-index: 1;
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
  }
  .modal.right .modal-body .compare__tab {
    padding: 65px 20px 40px;
    box-sizing: border-box;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .modal.right .modal-body .compare__tab-header ul .compare__item {
    cursor: pointer;
    color: #ff250d;
    padding: 10px 0;
    font-size: 15px;
    line-height: 15px;
    display: inline-block;
    margin: 0 15px 15px 0;
    text-transform: capitalize;
  }
  .modal.right .modal-body .compare__tab-header ul .compare__item .nav-link{
        background: transparent;
        color: #333;
    }
    .modal.right .modal-body .compare__tab-header ul .compare__item .nav-link.active{
        color: #ff250d;
    }
    .tab-content {
        padding: 0 20px;
    }
  .modal.right .modal-body .compare__tab-content {
    padding: 0 20px;
    position: relative;
    display: block;
  }
  .modal.right .modal-body .compare__tab-content .compare__box {
    margin-bottom: 30px;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item {
    border: 1px solid #ddd;
    padding: 12px 15px;
    margin-bottom: 19px;
    background: #f5f5f5;
    position: relative;
    display: flex;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item .item__box-icon {
    position: absolute;
    right: 6px;
    top: 6px;
    color: #717171;
    font-size: 16px;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item .item__box-img {
    display: inline-block;
    width: 20%;
    height: auto;
    vertical-align: top;
    margin-right: 10px;
    margin-top: 7px;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item .item__box-img a img {
    max-width: 100%;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content .box__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content .box__title a {
    color: #000;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content .product__rating {
    line-height: 0;
    margin-top: 3px;
    background: none;
    padding: 0;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content .product__rating .star-rating {
    background: none;
    margin: 0;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content .product__rating .star-rating-box {
    text-align: left;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content .product__rating i {
    font-size: 11px;
    margin-right: 3px;
  }
  .modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content p {
    font-size: 14px;
    margin-top: 5px;
  }
  .modal.right .modal-body .compare__tab-content .compare__btn {
    background-color: #ff250d;
    font-size: 14px;
    font-weight: 700;
    padding: 11px 21px;
    border: 1px solid;
    border-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
  }
  .modal.right .modal-body .compare__tab-content .compare__btn:hover {
    background: #fff;
    text-decoration: none;
    border-color: #ff250d;
    color: #ff250d;
  }
  .modal.right .modal-body .compare__tab-content .compare__btn:hover i {
    color: #ff250d;
  }
  .modal.right .modal-body .compare__tab-content .compare__btn i {
    font-size: 15px;
    margin-left: 8px;
    color: #fff;
  }
  .modal.right .modal-body .compare__tab-content .btn-primary {
    color: #fff;
  }
  .modal.right .modal-header {
    padding: 10px;
    background-color: #ff250d;
    transition: top 0.3s 0.3s;
    z-index: 999;
    position: relative;
    top: 0;
    right: 0;
    justify-content: start;
  }
  .modal.right .modal-header h5 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    position: relative;
  }
  .modal.right .modal-header button {
    position: absolute;
    top: 50%;
    right: 20px;
    color: #fff;
    transform: translatey(-50%);
    height: inherit;
    width: inherit;
    z-index: 10;
  }

  .modal.right.fade .modal-dialog {
    right: -320px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
  }

  .modal.right.fade.in .modal-dialog {
    right: 0;
  }

  .close:focus, .close:hover {
    opacity: 1;
  }

  .service {
    background-color: #f3f0f063;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 15px 70px 15px;
    position: relative;
  }
  .service__box {
    display: flex;
    background: #fff;
    padding: 38px 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    transform: translateY(0);
  }
  .service__box:hover {
    box-shadow: 0px 8px 16px 0px rgba(130, 156, 199, 0.2);
    transform: translateY(-10px);
  }
  .service__box:hover::before {
    width: 0;
  }
  .service__box:hover::after {
    width: 100%;
  }
  .service__box:hover .service__box-hover img {
    transform: scale(1.3);
  }
  .service__box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transition: 0.5s;
  }
  .service__box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 2px;
    transition: 0.5s;
  }
  .service__box img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .service__box-text {
    margin-left: 15px;
  }
  .service__box-text h5 {
    color: #333333;
    font-size: 16px;
    letter-spacing: 0.25px;
    font-weight: bold;
  }
  .service__box-hover {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .service__box-hover img {
    transition: 0.5s;
    height: auto;
    max-width: 100%;
    border: none;
  }
  .service .row .col-6:nth-child(1) .service__box::before, .service .row .col-6:nth-child(1) .service__box::after {
    background: #19b2f7;
  }
  .service .row .col-6:nth-child(2) .service__box::before, .service .row .col-6:nth-child(2) .service__box::after {
    background: #f7cf00;
  }
  .service .row .col-6:nth-child(3) .service__box::before, .service .row .col-6:nth-child(3) .service__box::after {
    background: #ff6969;
  }
  .service .row .col-6:nth-child(4) .service__box::before, .service .row .col-6:nth-child(4) .service__box::after {
    background: #00c9e2;
  }
  #productList{
    position: absolute;
    top: 100%;
    width: 100%;
  }
  #productList ul li a {
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .footer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #111111;
    padding: 80px 0;
    font-size: 14px;
  }
  .footer__widget-about {
    max-width: 318px;
  }
  .footer__widget-about a {
    color: #696565;
    font-size: 14px;
    font-weight: 400;
    position: relative;
  }
  .footer__widget-text p {
    color: #bfbfbf;
    font-size: 14px;
    line-height: 30px;
    margin-top: 30px;
  }
  .footer__widget-social {
    margin-top: 22px;
    display: flex;
    align-items: center;
  }
  .footer__widget-social a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    background: #5d5d5d;
    font-size: 14px;
    margin-right: 6px;
    line-height: 41px;
    margin-bottom: 10px;
  }
  .footer__widget-social a i {
    width: 100%;
    height: 100%;
  }
  .footer__widget a, .footer__widget p {
    color: #aeabab;
  }
  .footer__widget-nav .widget-title {
    color: #e1e0e0;
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 24px;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.3px;
  }
  .footer__widget-nav ul {
    margin-top: -5px;
    padding-left: 0px;
  }
  .footer__widget-nav ul li:not(:last-child) {
    margin-bottom: 12px;
  }
  .footer__widget-nav .widget-menu {
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }
  .footer__widget-nav .widget-menu:not(:last-child) {
    border-bottom-color: rgba(54, 54, 54, 0.49);
    border-bottom: 1px solid;
  }
  .footer__widget-nav .widget-menu-img {
    max-width: 65px;
    background-color: #edecec;
    width: 27%;
  }
  .footer__widget-nav .widget-menu-img img {
    max-width: 100%;
    height: auto;
  }
  .footer__widget-nav .widget-menu-content {
    width: 70%;
    padding-left: 12px;
  }
  .footer__widget-nav .widget-menu-content a {
    line-height: 26px;
    color: #696565;
    font-size: 14px;
    font-weight: 400;
    position: relative;
  }
  .footer__widget-nav .widget-menu-content .star-rating {
    margin-top: -5px;
    margin-left: 0;
    padding-left: 0;
    background: transparent;
  }
  .footer__widget-nav .widget-custom-text {
    margin-top: -4px;
    margin-bottom: 20px;
  }
  .footer__widget-nav .widget-custom-letter form {
    padding: 0 !important;
    background: transparent;
    display: block;
    position: relative;
    text-align: left;
  }
  .footer__widget-nav .widget-custom-letter form .form-control {
    width: 100% !important;
    padding-bottom: 0 !important;
    min-height: auto !important;
    margin-bottom: 10px 0px 5px 0px;
    padding: 0 8px;
  }
  .footer__widget-nav .widget-custom-letter form .form-control input {
    font-size: 12px;
    line-height: 30px;
    color: #909090;
    background: #ffffff;
    width: 100%;
    border-radius: 0;
    height: auto;
    text-indent: 2%;
    border: none;
    outline: none;
  }
  .footer__widget-nav .widget-custom-letter form .form-control input:focus-visible {
    outline: none;
    border: none;
  }
  .footer__widget-nav .widget-custom-letter form button {
    background-color: #ff250d;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
    width: 100%;
    border-radius: 0;
    height: 45px;
    padding: inherit;
    border-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s linear;
    margin: 0;
    border-radius: 3px;
  }
  .footer__banner {
    background-image: url(https://themeim.com/wp/blurb/wp-content/uploads/2019/05/call_to_action-4.jpg);
    background-color: #ffffff;
    background-size: cover;
    padding: 35px 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  .footer__banner-title {
    color: #f7f7f7;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .footer__banner-title span {
    color: #ff250d;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .footer__banner-title span + span {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #d7d6d6;
    margin-top: 15px;
    text-transform: capitalize;
  }
  .footer__banner-buy a {
    background-color: #ff250d;
    font-size: 14px;
    font-weight: 700;
    padding: 11px 21px;
    border: 1px solid;
    border-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
  }

  .product-detail .slide__item-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .product-detail .slide__item-wrap .slide__text {
    max-width: 100%;
  }
  .product-detail .slide__item-wrap .slide__text-title {
    font-size: 50px !important;
    line-height: 64px;
    letter-spacing: 1px;
    font-family: "Rubik", sans-serif;
    text-transform: capitalize;
  }
  .product-detail .slide__item-wrap .slide__text-content {
    margin: 0;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    display: inline-block;
  }
  .product-detail .slide__item-wrap .slide__text-content a {
    color: #fff;
  }

  .blog__section {
    padding: 100px 0;
    min-height: 500px;
  }

  .product-details {
    background: #f9f9f9;
  }
  .product-details #lightSlider li {
    padding: 0;
  }
  .product-details .im-product-gallery-wrapper {
    padding: 30px;
    box-shadow: 0px 0px 29.12px 2.88px rgba(69, 68, 68, 0.03);
    padding: 30px;
    margin-bottom: 30px;
    background: #ffffff;
  }
  .product-details .im-product-details-tab-area {
    padding-bottom: 60px;
  }
  .product-details .im-product-details-tab-area ul .product__item {
    position: relative;
  }
  .product-details .im-product-details-tab-area ul .product__item button {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    background: #ffffff;
    transition: all 0.3s linear;
    color: #484848;
    padding: 17px 45px 14px;
    border-radius: 2px 2px 0 0;
    display: inline-block;
    border: 1px solid #fff;
  }
  .product-details .im-product-details-tab-area ul .product__item::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    width: 0%;
    transition: all 0.3s;
  }
  .product-details .im-product-details-tab-area ul .product__item:hover::after {
    width: 100%;
  }
  .product-details .im-product-details-tab-area ul .product__item:hover .product__item-link, .product-details .im-product-details-tab-area ul .product__item .product__item-link.active, .product-details .im-product-details-tab-area ul .product__item::after {
    background: #ff250d;
    color: #ffffff;
    border-color: #ff250d;
  }
  .product-details .im-product-details-tab-area .scpecifiction__list {
    padding: 0;
  }
  .product-details .im-product-details-tab-area .scpecifiction__list li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-bottom: 0px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-size: 16px;
  }
  .product-details .im-product-details-tab-area .scpecifiction__list li:last-child {
    border-bottom: 1px solid transparent;
  }
  .product-details .im-product-details-tab-area .scpecifiction__list-info:first-child {
    width: 100%;
    max-width: 25%;
    font-weight: 600;
    position: relative;
  }
  .product-details .im-product-details-tab-area .scpecifiction__list-info:last-child {
    font-weight: 400;
    width: 100%;
    max-width: 75%;
  }
  .product-details .im-product-details-tab-area .nav {
    margin-bottom: 0 !important;
  }
  .product-details .product__slide-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #343434;
    margin-bottom: 7px;
    text-transform: capitalize;
  }

  .fade {
    opacity: 1;
  }

  .tab-pane > .im-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    padding: 15px 0;
    color: #504a4a;
    letter-spacing: 0.5px;
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
  }
  .tab-pane > .p {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 15px;
    color: #5d5d5d;
    letter-spacing: 0.3px;
  }
  .tab-pane h3 {
    margin: 0;
    font-weight: 600;
  }
  .tab-pane-product {
    padding: 26px 0 46px;
  }
  .tab-pane-product .tab__item {
    box-shadow: 0px 0px 9px 0px rgba(88, 89, 91, 0.15);
  }
  .tab-pane-product .tab__item:not(:last-child) {
    margin-bottom: 17px;
  }
  .tab-pane-product .tab__item-img {
    background: #f8f8f8;
  }
  .tab-pane-product .tab__item-wrapper {
    margin: 0 auto;
  }
  .tab-pane-product .tab__item-wrapper .p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #484848;
    display: inline-block;
  }
  .tab-pane-product .tab__item-wrapper .im-price {
    margin-left: 130px;
  }
  .tab-pane-product .tab__item-btn {
    padding: 16px 55px 16px 100px;
    border-left: 1px solid #f3f2f2;
  }
  .tab-pane-product .tab__item-btn a {
    font-size: 14px;
    font-weight: 700;
    padding: 9px 20px;
    color: #ffffff;
    display: inline-block;
    border-radius: 4px;
    background: #ff250d;
  }
  .tab-pane-product .tab__item-btn a:hover {
    color: #ffffff;
    background: #484848;
  }
  .tab-pane .right {
    padding: 0;
  }
  .tab-pane .right .tab__item-wrapper {
    text-align: center;
  }
  .tab-pane .right .tab__item-btn {
    padding: 0;
  }
  .tab-pane .right .tab__item-btn a {
    margin-top: 4px;
    font-size: 13px;
    font-weight: 700;
    padding: 6px 15px;
  }
  .tab-pane .right .tab__item-img:last-child {
    background: #fff;
  }
  .tab-pane-list {
    margin-top: 6px;
  }
  .tab-pane-list li {
    position: relative;
    color: #6f6f6f;
    font-size: 14px;
    letter-spacing: 0.1px;
    padding: 6px 0px 6px 165px;
    line-height: 24px;
    font-weight: 500;
  }
  .tab-pane-list li span {
    position: absolute;
    top: 5px;
    left: 22px;
    color: #000000;
    font-weight: 600;
  }
  .tab-pane-list li::after {
    position: absolute;
    top: 13px;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #565555;
    content: "";
  }

  .related_items {
    background: white;
    overflow: hidden;
    padding: 0 30px;
    max-width: 100%;
    min-height: 1px;
    width: 100%;
    position: relative;
  }
  .related_items .amazon__title {
    padding: 26px 0 0px 0;
    position: relative;
    letter-spacing: 1px;
  }
  .related_items .amazon__product-box {
    margin-bottom: 30px !important;
  }

  .sidebar .search-2 {
    margin-bottom: 30px;
    border: 1px solid #ececec;
    padding: 0;
    overflow: hidden;
  }
  .sidebar .search-2 .center__bar-search {
    margin: 0;
  }
  .sidebar .search-2 .center__bar-search input {
    border-right: none;
  }
  .sidebar .search-2 .center__bar-search span button {
    border-left: none;
  }
  .sidebar .widget {
    padding: 25px 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 18px 0px rgba(72, 72, 72, 0.07);
  }
  .sidebar .widget .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    position: relative;
    color: #333333;
  }
  .sidebar .widget .title::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 52px;
    height: 3px;
    background-color: #ff250d;
  }
  .sidebar .widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sidebar .widget ul li {
    position: relative;
  }
  .sidebar .widget ul li i {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 12px;
  }
  .sidebar .widget ul > li {
    padding-left: 17px;
  }
  .sidebar .widget ul > li:first-child {
    margin-top: -13px;
  }
  .sidebar .widget ul > li > a {
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
  }
  .sidebar .recent-comments-2 ul li .comment__link {
    font-weight: 700;
  }
  .sidebar .recent-comments-2 ul li .comment__link a {
    word-break: break-all;
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
    color: #666666;
  }
  .sidebar .recent-comments-2 ul > li {
    padding-left: 0;
  }
  .sidebar .recent__img-box {
    overflow: hidden;
    padding: 20px 0 20px 0;
    padding-left: 0px !important;
    display: flex;
  }
  .sidebar .recent__img-box:not(:last-child) {
    border-bottom: 1px solid;
    border-bottom-color: #e7e7e7;
  }
  .sidebar .recent__img-box:first-child {
    padding-top: 0px;
  }
  .sidebar .recent__img-thumbnail {
    width: 30%;
  }
  .sidebar .recent__img-thumbnail img {
    max-width: 100%;
    height: 100%;
  }
  .sidebar .recent__img-content {
    width: 70%;
    padding-left: 12px;
  }
  .sidebar .recent__img-content a {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .widget, .widgets select {
    font-weight: 400;
    font-size: 14px;
  }
  .widget li, .widgets select li {
    position: relative;
    border-top: 1px solid #ededed;
    padding: 8px 0 8px;
  }
  .widget li:hover a, .widget li:hover i, .widgets select li:hover a, .widgets select li:hover i {
    color: #ff250d;
  }
  .widget li:first-child, .widgets select li:first-child {
    border-top: none;
  }
  .widget a, .widgets select a {
    color: #666666;
    padding: 8px 0 8px;
    position: relative;
  }

  .wishlist__product .table {
    margin: 0;
    background: #fff;
    border: 1px solid #ececec;
  }
  .wishlist__product-title th {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background: #f8f8f8;
    padding: 17px 0;
    border-right: 1px solid;
    border-color: #ececec !important;
  }
  .wishlist__product td {
    position: relative;
    vertical-align: middle !important;
    border-right: 1px solid;
    border-color: #ececec !important;
    width: 190px;
  }
  .wishlist__product td .vertical-center {
    position: relative;
    width: 100%;
    font-size: 14px;
  }
  .wishlist__product td img {
    max-width: 100%;
  }
  .wishlist__product td .product-ratings-text {
    font-size: 13px;
  }
  .wishlist__product td .wishlist-price {
    font-size: 14px;
  }
  .wishlist__product td p {
    color: #646464;
  }
  .wishlist__product td .green-color {
    color: #86b816 !important;
  }
  .wishlist__product td .select-market-btn {
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    padding: 9px 16px;
    line-height: 0px;
    background: #ff250d;
    font-weight: 700;
  }
  .wishlist__product td .select-market-btn i {
    margin-left: 10px;
    transition: 0.3s;
    width: 6px;
  }
  .wishlist__product td .select-market-btn:hover i {
    transform: translateX(5px);
    transition: 0.3s;
  }

  .blurb-page-container {
    background-color: #f9f9f9;
  }
  #overlay{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0,0,0,0.6);
  }
  .cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #ff250d solid;
    border-radius: 50%;
    animation: sp-anime 1.8s infinite linear;
  }
  .error-notice {
    display: none;
  }
  /* Scrollbar Styling */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: #ebebeb;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #6d6d6d;
    }
  @keyframes sp-anime {
    100% {
      transform: rotate(360deg);
    }
  }
  .is-hide{
    display:none;
  }
  .max_price {
    text-decoration: line-through;
  }
