<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import { Edit, Delete, CircleCheck, CircleClose } from '@element-plus/icons-vue';
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';
import DataForm from '@/Components/DataForm.vue';
</script>
<template>
    <BreezeAuthenticatedLayout>
        <div class="intro-y flex items-center mt-8">
            <h2 class="text-lg font-medium mr-auto">
                Thêm quyền
            </h2>
        </div>
        <div class="grid grid-cols-6 gap-4 mt-5">
            <div class="intro-y col-start-2 col-span-4 m-auto">
                <!-- BEGIN: Form Layout -->
                <div class="intro-y box p-5 mx-auto w-1/2">
                    <form>
                        <data-form label="Tên" v-model="form.name" type="text" autofocus></data-form>
                        <div class="mt-3">
                            <BreezeLabel class="mt-3">Vai trò<table></table></BreezeLabel>
                            <div class="input-group block">
                                <el-checkbox v-model="checkAll"
                                            :indeterminate="isIndeterminate"
                                            @change="handleCheckAllChange"
                                            label="Chọn tất cả: "
                                            size="large" />
                                <el-checkbox-group
                                    v-model="checkedPermissions"
                                    @change="handleCheckedPermissionsChange"
                                >
                                    <el-checkbox v-for="permission in permissions" :key="permission" :label="permission.name">
                                        {{ permission.name }}
                                    </el-checkbox>
                                </el-checkbox-group>
                            </div>
                        </div>
                        <div class="text-right mt-5">
                            <el-button type="primary" @click="submit">
                                Save
                            </el-button>
                        </div>
                    </form>
                </div> <!-- END: Form Layout -->
            </div>

        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
export default {
    data() {
        return {
            form: useForm({
                name: '',
            }),
            checkAll: false,
            isIndeterminate: true,
            checkedPermissions: [],
            permissions: []

        }
    },
    created() {
        this.getPermission();
    },
    methods: {
        async getPermission(){
            let fetchData = await axios.get(route('api.roles.create'))
            this.permissions = fetchData.data
        },
        handleCheckAllChange(val) {
            this.checkedPermissions.value = this.permissions
            this.isIndeterminate = false
        },
        handleCheckedPermissionsChange(value){
            const checkedCount = value.length
            this.checkAll = checkedCount === this.permissions.length
            this.isIndeterminate = checkedCount > 0 && checkedCount < this.permissions.length
        },
        submit() {
            axios
                .post(route('api.roles.store'), {
                    form: this.form,
                    permissions: this.checkedPermissions
                })
                    .then((res) => {
                        this.$toast.success('Cập nhật thành công!')
                    })
                    .catch((err) =>{
                        this.$toast.error('Cập nhật thất bại')
                    });
        },

    },
    watch: {
        "handleCheckAllChange"(e){
            this.checkedPermissions.value = this.permissions
            this.isIndeterminate = false
        }
    }
}
</script>

<style lang="scss" scoped>
.formLabel {
    position: absolute;
    right: 50%;
    bottom: 50%;
    cursor: pointer;
    z-index: 10;
    transform: translate(50%, 50%);
    padding: 10px;
    &:hover{
        color: #409eff
    }
}
.el-select {
    width: 100%;
    margin-top: 0.25rem;
}
</style>
