<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import { Edit, Delete, CircleCheck, CircleClose } from "@element-plus/icons-vue";
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import changeAvatar from '@/Mixins/changeAvatar.js';
import DataForm from '@/Components/DataForm.vue';
import JbButton from "@/Components/JbButton.vue";
import DataTable from "@/Components/DataTable.vue";
import * as roleApi from "@/Api/Role";
import CheckRole from "@/Mixins/CheckRole.js";

</script>
<template>
    <BreezeAuthenticatedLayout>
        <h2 class="intro-y text-lg font-medium mt-10">Quyền</h2>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
                <Link v-if="check_role" :href="route('admin.roles.create')" class="btn btn-primary shadow-md mr-2"
                >Thêm quyền</Link
                >
                <div class="dropdown" v-if="check_role">
                    <a
                        :href="route('admin.roles.create')"
                        class="dropdown-toggle btn px-2 box"
                        aria-expanded="false"
                        data-tw-toggle="dropdown"
                    >
                        <span class="w-5 h-5 flex items-center justify-center">
                        <fa icon="plus" size="lg"></fa>
                        </span>
                    </a>
                </div>
                <div class="hidden md:block mx-auto text-slate-500">{{ }}
                Hiển thị {{ from }} đến {{ to }} của {{ total }} mục
                </div>
                <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
                    <div class="w-56 relative text-slate-500">
                        <el-input
                        v-model="search"
                        class="form-control box"
                        size="large"
                        placeholder="Search..."
                        />
                    </div>
                </div>
            </div>
            <!-- BEGIN: Data List -->
            <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                <data-table :data="filterTableData" style="width: 100%"
                    disable-table-info
                    footer-center
                    :fields="fields"
                    :items="dataRole"
                >
                    <template #name="{ row }">
                        <div class="truncate">{{ row.name }}</div>
                    </template>
                    <template #action="{ row }">
                        <el-button size="small">
                            <el-link
                            :underline="false"
                            :href="route('admin.roles.edit', row.id)"
                            >
                            <el-icon :size="20"> <Edit /> </el-icon>
                            Edit
                            </el-link>
                        </el-button>

                        <el-button type="danger" size="small" @click="deleteRole(row.id)"
                            ><el-icon :size="20"> <Delete /> </el-icon> Delete</el-button
                        >
                    </template>
                </data-table>
            </div>
            <!-- END: Data List -->
            <!-- BEGIN: Pagination -->
            <div
                class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center"
            >
                <nav class="w-full sm:w-auto sm:mr-auto">
                <el-pagination
                    v-model:current-page="currentPage"
                    :page-sizes="[10, 25, 35, 40]"
                    layout="prev, pager, next"
                    :total="total"
                    @current-change="handleCurrentChange"
                />
                </nav>
            </div>
            <!-- END: Pagination -->
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
export default {
    mixins: [CheckRole],
    data(){
        return {
            perPage: '',
            currentPage: 1,
            total: 1,
            lastPage: 1,
            from: 1,
            to:1,
            dataRole: [],
            rowId: '',
            dialogVisible: false,
            search: null,
            fields: [
                {
                    key: 'id', label: 'STT'
                },
                {
                    key: 'name',
                    label: 'Tên',
                    align: 'center',
                },
                {
                    key: 'action',
                    label: 'Hành động',
                    align: 'center',
                },
            ],
        }
    },
    created(){
        this.getDataRole();
    },
    computed: {
        filterTableData(){
            return this.dataRole.filter(
                (data) =>
                    !this.search ||
                    data.name?.toLowerCase().includes(this.search?.toLowerCase())
            )
        }
    },
    methods: {
        async getDataRole(){
            let response = await roleApi.getRoleList(this.currentPage)
            console.log("🚀 ~ file: Index.vue ~ line 132 ~ getDataRole ~ response", response)
            this.dataRole = response.data.data
            this.total = response.data.total
            this.from = response.data.from
            this.to = response.data.to
            this.handleCurrentChange = response.current_page
        },
        handleCurrentChange(value){
            this.currentPage = value
        },
        handleClose(){
            this.dialogVisible = false
        },
    },
    watch: {
        'currentPage'() {
            this.getDataRole()
        },
    },
}
</script>

<style>

</style>
