<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';

</script>
<template>
    <BreezeAuthenticatedLayout>
        <div class="intro-y flex items-center mt-8">
            <h2 class="text-lg font-medium mr-auto">
                Thêm danh mục sản phẩm
            </h2>
        </div>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="intro-y col-span-12 lg:col-span-6 m-auto">
                <!-- BEGIN: Form Layout -->
                <div class="intro-y box p-5">
                    <form @submit.prevent="submit">
                        <div class="mt-3">
                            <BreezeLabel>Tên danh mục</BreezeLabel>
                            <BreezeInput id="product_category"
                                    type="text"
                                    v-model="form.name"
                                    autofocus
                                    placeholder="Tên danh mục"
                                    autocomplete="product_category"
                                />
                        </div>

                        <div class="text-right mt-5">
                            <el-button type="primary" @click="submit">
                                Save
                            </el-button>
                        </div>
                    </form>
                </div>
                <!-- END: Form Layout -->
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
export default {
    data() {
        return {
            form: useForm({
                name: '',
            }),
        }
    },

    created(){
        // this.getUser()
    },
    methods: {
        submit() {
            axios
                .post(route('api.product_category.store'), this.form)
                    .then((res) => {
                        this.$toast.success('Cập nhật thành công!')
                    })
                    .catch((err) =>{
                        this.$toast.error('Cập nhật thất bại')
                    });
        },
    },
}
</script>

<style lang="scss" scoped>
.formLabel {
    position: absolute;
    right: 50%;
    bottom: 50%;
    cursor: pointer;
    z-index: 10;
    transform: translate(50%, 50%);
    padding: 10px;
    &:hover{
        color: #409eff
    }
}
</style>
