<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import { Edit, Delete, CircleCheck, CircleClose } from '@element-plus/icons-vue';
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';
import * as userApi from '@/Api/User'
import ShowPassword from '@/Mixins/showPassword.js';
import showAddress from '@/Mixins/showAddress.js';
import changeAvatar from '@/Mixins/changeAvatar.js';

</script>
<template>
    <BreezeAuthenticatedLayout>
        <div class="intro-y flex items-center mt-8">
            <h2 class="text-lg font-medium mr-auto">
                Sửa danh mục sản phẩm
            </h2>
        </div>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="intro-y col-span-12 lg:col-span-6 m-auto">
                <!-- BEGIN: Form Layout -->
                <div class="intro-y box p-5">
                    <form>
                        <div class="mt-3">
                            <BreezeLabel>Firstname</BreezeLabel>
                            <BreezeInput id="first_name"
                                    type="text"
                                    v-model="form.first_name"
                                    autofocus
                                    placeholder="Firstname"
                                    autocomplete="first_name"
                                />
                        </div>

                        <div class="text-right mt-5">
                            <el-button type="primary" @click="submit">
                                Save
                            </el-button>
                        </div>
                    </form>


                </div>
                <!-- END: Form Layout -->
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
export default {
    data() {
        return {
            form: useForm({
                name: '',
            }),
        }
    },

    created(){
        this.getUser()
    },
    methods: {
        getUser(){
            axios
                .get(route('api.product_category.show', this.$attrs.user_id))
                    .then((res) => {
                        this.form = JSON.parse(JSON.stringify(res.data?.data))

            })
        },

        submit() {
            axios
                .post(route('api.product_category.update'), this.form)
                    .then((res) => {
                        this.$toast.success('Cập nhật thành công!')
                    })
                    .catch((err) =>{
                        this.$toast.error('Cập nhật thất bại')
                    });
        },
    },
    watch: {
        'form.status'(e){
            if(e){
                this.form.status == 1;
            }else{
                this.form.status == 0;
            }

        }
    }


}
</script>

<style lang="scss" scoped>
.formLabel {
    position: absolute;
    right: 50%;
    bottom: 50%;
    cursor: pointer;
    z-index: 10;
    transform: translate(50%, 50%);
    padding: 10px;
    &:hover{
        color: #409eff
    }
}
</style>
