<script setup>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Edit, Delete, CircleCheck, CircleClose } from "@element-plus/icons-vue";
import { Link } from "@inertiajs/inertia-vue3";
import JbButton from "@/Components/JbButton.vue";
import * as productCategoryApi from "@/Api/ProductCategory";
import CheckRole from "@/Mixins/CheckRole.js";
import ShowPassword from '@/Mixins/showPassword.js';
import DataTable from "@/Components/DataTable.vue";

</script>
<template>
  <BreezeAuthenticatedLayout>
    <h2 class="intro-y text-lg font-medium mt-10">Danh mục sản phẩm</h2>
    <div class="grid grid-cols-12 gap-6 mt-5">
      <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
        <span v-if="check_role" :href="route('admin.product_category.create')" class="btn btn-primary shadow-md mr-2"
          >Thêm danh mục sản phẩm</span
        >
        <div class="dropdown" v-if="check_role">
          <a
            :href="route('admin.product_category.create')"
            class="dropdown-toggle btn px-2 box"
            aria-expanded="false"
            data-tw-toggle="dropdown"
          >
            <span class="w-5 h-5 flex items-center justify-center">
              <fa icon="plus" size="lg"></fa>
            </span>
          </a>
        </div>
        <div class="hidden md:block mx-auto text-slate-500">
          Hiển thị {{ from }} đến {{ to }} của {{ total }} mục
        </div>
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
          <div class="w-56 relative text-slate-500">
            <el-input
              v-model="search"
              class="form-control box"
              size="large"
              placeholder="Search..."
            />
          </div>
        </div>
      </div>
      <!-- BEGIN: Data List -->
      <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <data-table :data="filterTableData" style="width: 100%" ref="innerRef"
                disable-table-info
                footer-center
                :fields="fields"
                :items="dataProduct"
            >
            <template #action="{ row }">
                <el-button size="small">
                    <el-link
                    :underline="false"
                    :href="route('admin.product_category.edit', row.id)"
                    >
                    <el-icon :size="20"> <Edit /> </el-icon>
                    Edit
                    </el-link>
                </el-button>

                <el-button type="danger" size="small" @click="deleteUser(row.id)"
                    ><el-icon :size="20"> <Delete /> </el-icon> Delete</el-button
                >
            </template>
        </data-table>
      </div>
      <!-- END: Data List -->
      <!-- BEGIN: Pagination -->
      <div
        class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center"
      >
        <nav class="w-full sm:w-auto sm:mr-auto">
          <el-pagination
            v-model:current-page="currentPage"
            :page-sizes="[10, 25, 35, 40]"
            layout="prev, pager, next"
            :total="total"
            @current-change="handleCurrentChange"
          />
        </nav>
      </div>
      <!-- END: Pagination -->
    </div>
    <!-- BEGIN: Delete Confirmation Modal -->
    <el-dialog
      v-model="dialogVisible"
      title="Tips"
      width="30%"
      :before-close="handleClose"
    >
      <span>Bạn có muốn xóa ?</span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">Cancel</el-button>
          <el-button type="primary" @click="onDelete(rowId)">OK</el-button>
        </span>
      </template>
    </el-dialog>

    <!-- END: Delete Confirmation Modal -->
  </BreezeAuthenticatedLayout>
</template>

<script>
export default {
    name: "Index",
    mixins: [CheckRole],
    data(){
        return {
            perPage: '',
            currentPage: 1,
            total: 1,
            lastPage: 1,
            from: 1,
            to:1,
            dataProductCategory: [],
            rowId: '',
            dialogVisible: false,
            search: null,
            fields: [
                {
                    key: 'id', label: 'STT', align: 'center',
                },
                {
                    key: 'name', label: 'name', align: 'center',
                },
                {
                    key: 'action', label: 'Hành động', align: 'center',
                }
            ]

        }
    },
    created(){
        this.getdataProductCategory();
    },
    computed: {
        filterTableData(){
            return this.dataProductCategory.filter(
                (data) =>
                    !this.search ||
                    data.name.toLowerCase().includes(this.search.toLowerCase())
            )
        }
    },
    methods: {
        async getdataProductCategory(){
            let response = await productCategoryApi.getProductCategoryList(this.currentPage)
            this.dataProductCategory = response.data.data
            this.total = response.data.meta.total
            this.from = response.data.meta.from
            this.to = response.data.meta.to
            this.handleCurrentChange = response.data.meta.current_page
        },
        handleCurrentChange(value){
            this.currentPage = value
        },
        handleClose(){
            this.dialogVisible = false
        },
        async onDelete(rowId){
            const res = await productCategoryApi.deleteProductCategory(rowId)
                .then(() => {
                    this.dialogVisible = false
                    this.getdataProductCategory()
                    this.$toast.success('Xóa thành công')
                })
                .catch((e) => {
                    console.log(e)
                    this.$toast.error('Xóa thất bại !')
                })
        },
        deleteUser(item) {
            this.dialogVisible = true
            this.rowId = item
        },
    },
    watch: {
        'currentPage'() {
            this.getdataProductCategory()
        },
    },
};
</script>

<style></style>
