<script setup>
import { Link } from '@inertiajs/inertia-vue3';
</script>
<template>
    <div class="intro-x dropdown w-8 h-8">
        <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110" role="button" aria-expanded="false" data-tw-toggle="dropdown">
            <img class="absolute" v-if="$page.props.auth.user.profile_photo_path" :alt="$page.props.auth.user.first_name + $page.props.auth.user.last_name" :src="$page.props.auth.user.profile_photo_path" />
            <el-empty v-else description=" " />
        </div>
        <div class="dropdown-menu w-56" :class="{ 'show' : show}">
            <ul class="dropdown-content bg-primary/80 before:block before:absolute before:bg-black before:inset-0 before:rounded-md before:z-[-1] text-white">
                <li class="p-2">
                    <div class="font-medium">{{ $page.props.auth.user.first_name }} {{ $page.props.auth.user.last_name }}</div>
                    <div class="text-xs text-white/60 mt-0.5 dark:text-slate-500">{{ $page.props.auth.user.phone }}</div>
                </li>
                <li>
                    <hr class="dropdown-divider border-white/[0.08]">
                </li>
                <li>
                    <Link :href="route('admin.user_profile.index')" class="dropdown-item hover:bg-white/5"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> Trang cá nhân </Link>
                </li>
                <li>
                    <Link :href="route('admin.users.create')" class="dropdown-item hover:bg-white/5"> <i data-lucide="edit" class="w-4 h-4 mr-2"></i> Thêm người dùng </Link>
                </li>
                <li>
                    <!-- <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="lock" class="w-4 h-4 mr-2"></i> Reset Password </a> -->
                </li>
                <li>
                    <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="help-circle" class="w-4 h-4 mr-2"></i> Help </a>
                </li>
                <li>
                    <hr class="dropdown-divider border-white/[0.08]">
                </li>
                <li @click="toggleClass">
                    <Link :href="route('admin.logout')" class="dropdown-item hover:bg-white/5"> <i data-lucide="toggle-right" class="w-4 h-4 mr-2"></i> Đăng xuất </Link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            accountMenu: [],
            show: true
        }
    },

    methods: {
        toggleClass() {
            this.show = false;
        }
    }

}
</script>

<style>

</style>
