<script setup>
import { Link } from '@inertiajs/inertia-vue3';
</script>
<template>
    <Link :href="route('admin.dashboard')" class="-intro-x hidden md:flex">

        <span class="text-white text-lg ml-3"> Compare </span>
    </Link>
</template>

<script>
export default {

}
</script>

<style>

</style>
