<script setup>
import { Bell } from '@element-plus/icons-vue';
</script>
<template>
    <div class="intro-x dropdown mr-4 sm:mr-6">
        <div class="dropdown-toggle notification notification--bullet cursor-pointer" role="button" aria-expanded="false" data-tw-toggle="dropdown">  </div>
            <el-icon :size="30" style="color: #fff;"><Bell /></el-icon>
            <div class="notification-content pt-2 dropdown-menu">
                <div class="notification-content__box dropdown-content bg-slate-100 p-0">
                    <div class="notification-content__title">Thông báo
                    </div>
                    <div class="cursor-pointer relative flex items-center" v-for="(notice, key) in notifications" :key="key">
                        <div class="flex item-center w-full py-4" :class="[ isActive != notice[0].id ? '' : 'bg-white', notice[0].read_at ? 'bg-white' : '']" @click="readAt(notice[0].id, value)">
                            <div class="w-12 h-12 flex-none image-fit mr-1">
                            <!-- <img alt="Midone - HTML Admin Template" class="rounded-full" src="dist/images/profile-14.jpg"> -->
                            <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                            </div>
                            <div class="ml-2 overflow-hidden">
                                <div class="flex items-center">
                                    <a href="javascript:;" class="font-medium truncate mr-5">{{ notice[0].name }}</a>
                                    <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">{{ notice[0].login_time }}</div>
                                </div>
                                <div class="w-full truncate text-slate-500 mt-0.5">{{ notice[0].content }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
export default {
    data() {
        return {
            notifications: [],
            read_at: null,
            isActive: ''
        }
    },
    created() {
        this.getNotification();
    },
    methods: {
        getNotification(){
            axios.get(route('api.get-notification'))
                .then(res => {
                        this.notifications = res.data.data.map((notice) => {
                        return [
                            	{
                                	'id': notice.id,
                                	'read_at': notice.read_at,
                                	'name': JSON.parse(notice.data).name,
                                	'login_time': notice.customer_authentications.login_time,
                                	'content': JSON.parse(notice.data).content
                            	}

                        	]
                        })

            });
        },
        readAt(index){
            
            axios.put(route('api.read-at', index))
                .then(res => {
                    this.isActive = index;   
                })
                .catch(err => {
                    console.log("🚀 ~ file: Notifications.vue ~ line 67 ~ readAt ~ err", err)
                });

        }


    }
}
</script>

<style>

</style>
