<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import { ref } from 'vue'
import { Message, Phone } from '@element-plus/icons-vue'
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import changeAvatar from '@/Mixins/changeAvatar.js';
import DataForm from '@/Components/DataForm.vue';
const activeName = ref('first')


</script>
<template>
    <BreezeAuthenticatedLayout>
        <div class="intro-y flex items-center mt-8">
            <h2 class="text-lg font-medium mr-auto">
                Trang cá nhân
            </h2>
        </div>
        <!-- BEGIN: Profile Info -->
        <div class="intro-y box px-5 pt-5 mt-5">
            <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
                <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                    <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                        <img v-if="$page.props.auth.user.profile_photo_path" class="rounded-full" :src="$page.props.auth.user.profile_photo_path" alt="">
                        <img v-else src="../../../../public/dist/images/User-avatar.svg.png" alt="">
                    </div>
                    <div class="ml-5">
                        <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">{{ $page.props.auth.user.first_name }} {{ $page.props.auth.user.last_name }}</div>
                        <div class="text-slate-500">DevOps Engineer</div>
                    </div>
                </div>
                <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
                    <div class="font-medium text-center lg:text-left lg:mt-3">Chi tiết liên hệ</div>
                    <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                        <div class="truncate sm:whitespace-normal flex items-center"> <el-icon :size="20" class="mr-2"><Message /></el-icon>  {{ $attrs.auth.user.email }} </div>
                        <div class="truncate sm:whitespace-normal flex items-center mt-3"> <el-icon :size="20" class="mr-2"><Phone /></el-icon> {{ $attrs.auth.user.phone }} </div>
                    </div>
                </div>
                <div class="mt-6 lg:mt-0 flex-1 flex items-center justify-center px-5 border-t lg:border-0 border-slate-200/60 dark:border-darkmode-400 pt-5 lg:pt-0">
                </div>
            </div>
            <ul class="nav nav-link-tabs flex-col sm:flex-row justify-center lg:justify-start text-center" role="tablist" >
                <el-tabs v-model="activeName" class="demo-tabs">
                    <el-tab-pane label="Chi tiết" name="first" class="py-4" size="large">
                        <data-form label="Họ" v-model="$attrs.auth.user.first_name" type="text" disabled></data-form>
                        <data-form label="Tên" v-model="$attrs.auth.user.last_name" type="text" disabled></data-form>
                        <data-form label="Email" v-model="$attrs.auth.user.email" type="text" disabled></data-form>
                        <data-form label="Điện thoại" v-model="$attrs.auth.user.first_name" type="text" disabled></data-form>
                        <data-form label="Địa chỉ" v-model="address" type="text" disabled></data-form>

                    </el-tab-pane>
                    <el-tab-pane label="Đổi mật khẩu" name="second" class="nav-link py-4 px-8" size="large">
                        <template>
                            <div class="tab-content mt-5">
                                <div id="profile" class="tab-pane active" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="grid grid-cols-12 gap-6">
                                        <!-- BEGIN: Latest Uploads -->
                                        <div class="intro-y box col-span-12 lg:col-span-6">
                                            <div class="flex items-center px-5 py-5 sm:py-3 border-b border-slate-200/60 dark:border-darkmode-400">
                                                <h2 class="font-medium text-base mr-auto">
                                                    Latest Uploads
                                                </h2>
                                                <div class="dropdown ml-auto sm:hidden">
                                                    <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="more-horizontal" class="w-5 h-5 text-slate-500"></i> </a>
                                                    <div class="dropdown-menu w-40">
                                                        <ul class="dropdown-content">
                                                            <li> <a href="javascript:;" class="dropdown-item">All Files</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <button class="btn btn-outline-secondary hidden sm:flex">All Files</button>
                                            </div>
                                            <div class="p-5">
                                                <div class="flex items-center">
                                                    <div class="file"> <a href="" class="w-12 file__icon file__icon--directory"></a> </div>
                                                    <div class="ml-4">
                                                        <a class="font-medium" href="">Documentation</a>
                                                        <div class="text-slate-500 text-sm mt-0.5">40 KB</div>
                                                    </div>
                                                    <div class="dropdown ml-auto">
                                                        <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="more-horizontal" class="w-5 h-5 text-slate-500"></i> </a>
                                                        <div class="dropdown-menu w-40">
                                                            <ul class="dropdown-content">
                                                                <li>
                                                                    <a href="" class="dropdown-item"> <i data-lucide="users" class="w-4 h-4 mr-2"></i> Share File </a>
                                                                </li>
                                                                <li>
                                                                    <a href="" class="dropdown-item"> <i data-lucide="trash" class="w-4 h-4 mr-2"></i> Delete </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex items-center mt-5">
                                                    <div class="file">
                                                        <a href="" class="w-12 file__icon file__icon--file">
                                                            <div class="file__icon__file-name text-xs">MP3</div>
                                                        </a>
                                                    </div>
                                                    <div class="ml-4">
                                                        <a class="font-medium" href="">Celine Dion - Ashes</a>
                                                        <div class="text-slate-500 text-sm mt-0.5">40 KB</div>
                                                    </div>
                                                    <div class="dropdown ml-auto">
                                                        <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="more-horizontal" class="w-5 h-5 text-slate-500"></i> </a>
                                                        <div class="dropdown-menu w-40">
                                                            <ul class="dropdown-content">
                                                                <li>
                                                                    <a href="" class="dropdown-item"> <i data-lucide="users" class="w-4 h-4 mr-2"></i> Share File </a>
                                                                </li>
                                                                <li>
                                                                    <a href="" class="dropdown-item"> <i data-lucide="trash" class="w-4 h-4 mr-2"></i> Delete </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex items-center mt-5">
                                                    <div class="file"> <a href="" class="w-12 file__icon file__icon--empty-directory"></a> </div>
                                                    <div class="ml-4">
                                                        <a class="font-medium" href="">Resources</a>
                                                        <div class="text-slate-500 text-sm mt-0.5">0 KB</div>
                                                    </div>
                                                    <div class="dropdown ml-auto">
                                                        <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="more-horizontal" class="w-5 h-5 text-slate-500"></i> </a>
                                                        <div class="dropdown-menu w-40">
                                                            <ul class="dropdown-content">
                                                                <li>
                                                                    <a href="" class="dropdown-item"> <i data-lucide="users" class="w-4 h-4 mr-2"></i> Share File </a>
                                                                </li>
                                                                <li>
                                                                    <a href="" class="dropdown-item"> <i data-lucide="trash" class="w-4 h-4 mr-2"></i> Delete </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END: Latest Uploads -->
                                        <!-- BEGIN: Work In Progress -->
                                        <div class="intro-y box col-span-12 lg:col-span-6">
                                            <div class="flex items-center px-5 py-5 sm:py-0 border-b border-slate-200/60 dark:border-darkmode-400">
                                                <h2 class="font-medium text-base mr-auto">
                                                    Work In Progress
                                                </h2>
                                                <div class="dropdown ml-auto sm:hidden">
                                                    <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="more-horizontal" class="w-5 h-5 text-slate-500"></i> </a>
                                                    <div class="nav nav-tabs dropdown-menu w-40" role="tablist">
                                                        <ul class="dropdown-content">
                                                            <li> <a id="work-in-progress-mobile-new-tab" href="javascript:;" data-tw-toggle="tab" data-tw-target="#work-in-progress-new" class="dropdown-item" role="tab" aria-controls="work-in-progress-new" aria-selected="true">New</a> </li>
                                                            <li> <a id="work-in-progress-mobile-last-week-tab" href="javascript:;" data-tw-toggle="tab" data-tw-target="#work-in-progress-last-week" class="dropdown-item" role="tab" aria-selected="false">Last Week</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <ul class="nav nav-link-tabs w-auto ml-auto hidden sm:flex" role="tablist" >
                                                    <li id="work-in-progress-new-tab" class="nav-item" role="presentation"> <a href="javascript:;" class="nav-link py-5 active" data-tw-target="#work-in-progress-new" aria-controls="work-in-progress-new" aria-selected="true" role="tab" > New </a> </li>
                                                    <li id="work-in-progress-last-week-tab" class="nav-item" role="presentation"> <a href="javascript:;" class="nav-link py-5" data-tw-target="#work-in-progress-last-week" aria-selected="false" role="tab" > Last Week </a> </li>
                                                </ul>
                                            </div>
                                            <div class="p-5">
                                                <div class="tab-content">
                                                    <div id="work-in-progress-new" class="tab-pane active" role="tabpanel" aria-labelledby="work-in-progress-new-tab">
                                                        <div>
                                                            <div class="flex">
                                                                <div class="mr-auto">Pending Tasks</div>
                                                                <div>20%</div>
                                                            </div>
                                                            <div class="progress h-1 mt-2">
                                                                <div class="progress-bar w-1/2 bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <div class="mt-5">
                                                            <div class="flex">
                                                                <div class="mr-auto">Completed Tasks</div>
                                                                <div>2 / 20</div>
                                                            </div>
                                                            <div class="progress h-1 mt-2">
                                                                <div class="progress-bar w-1/4 bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <div class="mt-5">
                                                            <div class="flex">
                                                                <div class="mr-auto">Tasks In Progress</div>
                                                                <div>42</div>
                                                            </div>
                                                            <div class="progress h-1 mt-2">
                                                                <div class="progress-bar w-3/4 bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <a href="" class="btn btn-secondary block w-40 mx-auto mt-5">View More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END: Work In Progress -->

                                        <!-- BEGIN: Latest Tasks -->
                                        <div class="intro-y box col-span-12 lg:col-span-6">
                                            <div class="flex items-center px-5 py-5 sm:py-0 border-b border-slate-200/60 dark:border-darkmode-400">
                                                <h2 class="font-medium text-base mr-auto">
                                                    Latest Tasks
                                                </h2>
                                                <div class="dropdown ml-auto sm:hidden">
                                                    <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="more-horizontal" class="w-5 h-5 text-slate-500"></i> </a>
                                                    <div class="nav nav-tabs dropdown-menu w-40" role="tablist">
                                                        <ul class="dropdown-content">
                                                            <li> <a id="latest-tasks-mobile-new-tab" href="javascript:;" data-tw-toggle="tab" data-tw-target="#latest-tasks-new" class="dropdown-item" role="tab" aria-controls="latest-tasks-new" aria-selected="true">New</a> </li>
                                                            <li> <a id="latest-tasks-mobile-last-week-tab" href="javascript:;" data-tw-toggle="tab" data-tw-target="#latest-tasks-last-week" class="dropdown-item" role="tab" aria-selected="false">Last Week</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <ul class="nav nav-link-tabs w-auto ml-auto hidden sm:flex" role="tablist" >
                                                    <li id="latest-tasks-new-tab" class="nav-item" role="presentation"> <a href="javascript:;" class="nav-link py-5 active" data-tw-target="#latest-tasks-new" aria-controls="latest-tasks-new" aria-selected="true" role="tab" > New </a> </li>
                                                    <li id="latest-tasks-last-week-tab" class="nav-item" role="presentation"> <a href="javascript:;" class="nav-link py-5" data-tw-target="#latest-tasks-last-week" aria-selected="false" role="tab" > Last Week </a> </li>
                                                </ul>
                                            </div>
                                            <div class="p-5">
                                                <div class="tab-content">
                                                    <div id="latest-tasks-new" class="tab-pane active" role="tabpanel" aria-labelledby="latest-tasks-new-tab">
                                                        <div class="flex items-center">
                                                            <div class="border-l-2 border-primary dark:border-primary pl-4">
                                                                <a href="" class="font-medium">Create New Campaign</a>
                                                                <div class="text-slate-500">10:00 AM</div>
                                                            </div>
                                                            <div class="form-check form-switch ml-auto">
                                                                <input class="form-check-input" type="checkbox">
                                                            </div>
                                                        </div>
                                                        <div class="flex items-center mt-5">
                                                            <div class="border-l-2 border-primary dark:border-primary pl-4">
                                                                <a href="" class="font-medium">Meeting With Client</a>
                                                                <div class="text-slate-500">02:00 PM</div>
                                                            </div>
                                                            <div class="form-check form-switch ml-auto">
                                                                <input class="form-check-input" type="checkbox">
                                                            </div>
                                                        </div>
                                                        <div class="flex items-center mt-5">
                                                            <div class="border-l-2 border-primary dark:border-primary pl-4">
                                                                <a href="" class="font-medium">Create New Repository</a>
                                                                <div class="text-slate-500">04:00 PM</div>
                                                            </div>
                                                            <div class="form-check form-switch ml-auto">
                                                                <input class="form-check-input" type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END: Latest Tasks -->
                                    </div>
                                </div>
                            </div>
                        </template>
                    </el-tab-pane>
                </el-tabs>
            </ul>
        </div>
        <!-- END: Profile Info -->

    </BreezeAuthenticatedLayout>
</template>

<script>
export default {
    mixins: [changeAvatar],
    data() {
        return {
            address: "",
        }
    },
    created(){
        this.getAddress()
    },
    methods: {
        getAddress(){
            this.address = (this.$attrs.auth.user.ward ? this.$attrs.auth.user.ward : '') +
                           (this.$attrs.auth.user.district ? this.$attrs.auth.user.district : '') +
                           (this.$attrs.auth.user.city ? this.$attrs.auth.user.city : '')
        }
    }

}
</script>

<style>
.nav-link-tabs .el-tabs__item{
    padding: 0px 60px 10px 60px;
}
</style>
