<script setup>
import { ref } from 'vue';
import BreezeApplicationLogo from '@/Components/ApplicationLogo.vue';
import BreezeDropdown from '@/Components/Dropdown.vue';
import BreezeDropdownLink from '@/Components/DropdownLink.vue';
import BreezeNavLink from '@/Components/NavLink.vue';
import BreezeResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';
import Logo from '@/Components/TopBar/Logo.vue';
import Search from '@/Components/TopBar/Search.vue';
import Notifications from '@/Components/TopBar/Notifications.vue';
import AccountMenu from '@/Components/TopBar/AccountMenu.vue';
import MobileMenu from '@/Components/MobileMenu.vue';
import Breadcrumb from '@/Components/TopBar/Breadcrumb.vue';
import SideMenu from './SideMenu.vue';
import Impersonate from '@/Components/Impersonate.vue';

const showingNavigationDropdown = ref(false);
const props = defineProps({
  main: Boolean,
})

</script>

<template>
    <div :class="[main ? '' : 'px-12 pt-2']">
        <!-- BEGIN: Mobile Menu -->
        <mobile-menu></mobile-menu>
        <!-- END: Mobile Menu -->
        <!-- BEGIN: Top Bar -->
        <div class="top-bar-boxed h-[70px] z-[51] relative border-b border-white/[0.08] -mt-7 md:-mt-5 -mx-3 sm:-mx-8 px-3 sm:px-8 md:pt-0 mb-12">
            <div class="h-full flex items-center">
                <!-- BEGIN: Logo -->
                <logo></logo>
                <!-- END: Logo -->
                <!-- BEGIN: Breadcrumb -->
                <breadcrumb></breadcrumb>
                <!-- END: Breadcrumb -->
                <!-- BEGIN: Impersonate -->
                <impersonate v-if="this.$page.props.auth.impersonate"></impersonate>
                <!-- END: Impersonate -->
                <!-- BEGIN: Search -->
                <search></search>
                <!-- END: Search -->
                <!-- BEGIN: Notifications -->
                <notifications></notifications>
                <!-- END: Notifications -->
                <!-- BEGIN: Account Menu -->
                <account-menu></account-menu>
                <!-- END: Account Menu -->
            </div>
        </div>
        <!-- END: Top Bar -->
        <div class="wrapper">
            <div class="wrapper-box">
                <!-- BEGIN: Side Menu -->
                <side-menu></side-menu>
                <!-- END: Side Menu -->
                <!-- BEGIN: Content -->
                    <div class="content">
                        <slot/>
                    </div>
                <!-- END: Content -->
            </div>
        </div>

    </div>
</template>
<style>
.px-12{
    padding-left: 3rem;
    padding-right: 3rem;
}
</style>
