<script setup>
import BreezeApplicationLogo from "@/Components/ApplicationLogo.vue";
import { Link } from "@inertiajs/inertia-vue3";
</script>

<template>
  <!-- <div>
            <Link href="/">
                <BreezeApplicationLogo class="w-20 h-20 fill-current text-gray-500" />
            </Link>
        </div> -->
  <div class="wrapper">
    <div class="login">
      <div class="container sm:px-10">
        <div class="block xl:grid grid-cols-2 gap-4">
          <!-- BEGIN: Register Info -->
          <div class="hidden xl:flex flex-col min-h-screen">
            <a href="" class="-intro-x flex items-center pt-5"> </a>
          </div>
          <!-- END: Register Info -->
          <slot />
        </div>
      </div>
    </div>
  </div>
</template>
<style>
html body{
    padding: 0;
}
</style>
