<script setup>
import { Link } from '@inertiajs/inertia-vue3';
import { useEcommerceMenu, useDashboardMenu , useSettingMenu} from '@/Composables/menu'
import { ArrowDown, ArrowUp } from "@element-plus/icons-vue";
import { UserFilled, DataBoard } from '@element-plus/icons-vue'

</script>
<template>
    <nav class="side-nav">
        <ul>
            <li v-for="(menu, index) in menus" :key="'menu' + index">
                <Link :href="menu.link" class="side-menu"
                    :class="[ parseSubmenu([menu.link] || []).includes($page.url) ? 'side-menu--active' : '']"
                    v-if="!menu.child"
                >
                    <div class="side-menu__icon"><el-icon :icon="menu.icon"></el-icon></div>
                    <div class="side-menu__title">
                        {{ menu.name }}
                    </div>
                </Link>
                <div class="side-nav__devider my-6" v-if="menu.line"></div>
                <a href="javascript:;" class="side-menu" :class="activeMenu === index ? 'side-menu--open' : ''" @click="isClose(index)" v-if="menu.child">
                    <div class="side-menu__icon"> <el-icon :icon="menu.icon"></el-icon> </div>
                    <div class="side-menu__title">
                        {{ menu.name}}
                        <div class="side-menu__sub-icon">
                            <el-icon :size="15" v-if="menu.isAllow"><ArrowDown /></el-icon>
                            <el-icon :size="15" v-else><ArrowUp /></el-icon>
                        </div>
                    </div>
                </a>

                <ul v-if="menu.child" :class="activeMenu === index ? 'side-menu__sub-open' : ''">
                    <li v-for="submenu in menu.child" :key="submenu.id">
                        <Link :href="submenu.link" class="side-menu" @click="checkCaseMenu(submenu.link, index)">
                            <div class="side-menu__title"> {{ submenu.name}} </div>
                        </Link>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    data() {
        return {
            locationOrigin: '',
            prefixMenu: '',
            list: '',
            activeMenu: ''

        };
    },
    created() {
        this.prefixMenu = window.location.pathname
    },
    computed: {
        user() {
            return this.$page?.props?.auth?.user
        },
        menus() {
            const type = this.$page?.admin?.type
            const open = true

            let menus = [
                ...this.$page?.props.dashboardMenu
            ]
            return menus
        },
    },
    methods: {
        checkCaseMenu(submenuLink, index){
            const pageUrl = this.$page.url?.split('?')[0]

            if(submenuLink == window.location.origin + pageUrl){
                this.activeMenu = index
            }else{
                this.activeMenu != index
            }
        },
        isClose(index){
            this.activeMenu = index
        },
        hasPermission(permission) {
            const permissions = this.user?.permissions
                return permissions.find((item) => item.name === permission)
        },
        hasRole(roleName) {
        const role = this.user?.roles?.first()
            return role?.name === roleName
        },
        filterMenuAllow(menus, key = 'isAllow') {
            return menus.filter((item) => item[key])
        },
        parseSubmenu(subMenus) {
            return (subMenus || []).map((item) => {
                try {
                    return new URL(item).pathname
                } catch (error) {
                    return item
                }
                })
            },
        },
    }
</script>

<style>

</style>
