<script setup>
import { Head, useForm } from '@inertiajs/inertia-vue3';
import BreezeButton from '@/Components/Button.vue';
import BreezeGuestLayout from '@/Layouts/Guest.vue';
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';
import BreezeValidationErrors from '@/Components/ValidationErrors.vue';
import ShowPassword from '@/Mixins/showPassword.js';
const form = useForm({
    password: '',
});

const submit = () => {
    form.post(route('password.confirm'), {
    })
};
</script>

<template>
    <BreezeGuestLayout>
        <Head title="Confirm Password" />


        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
            <div
                class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
            >
                <div class="mb-4 text-sm text-gray-600">
                    Đây là một khu vực an toàn của ứng dụng. Vui lòng xác nhận mật khẩu của bạn trước khi tiếp tục.
                </div>
                    <form>
                        <div class="intro-x mt-8">
                            <div class="mt-4 relative">
                                <BreezeLabel for="password" value="Password" />
                                <BreezeInput
                                        :type="showPassword ? 'text' : 'password'"
                                        v-model="form.password"
                                        autofocus
                                        placeholder="Password"
                                        autocomplete="new-password"
                                        :rules="[rules.required, rules.min, rules.strength]"
                                    />
                                <fa :icon="showPassword ? 'fa-eye' : 'fa-eye-slash'" size="lg" class="absolute z-50 top-1/3 right-0 mr-2" style="top: 57%" @click="showPassword = !showPassword"></fa>
                                <div v-if="form.errors?.password">
                                    <span class="text-sm text-red-600 dark:text-red-400 mt-1 font-medium flex"> {{ form.errors.password }} </span>
                                </div>
                            </div>

                            <div class="flex justify-end mt-4">
                                <BreezeButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                    Confirm
                                </BreezeButton>
                            </div>
                        </div>
                    </form>
            </div>
        </div>

    </BreezeGuestLayout>
</template>
<script>

export default {
    mixins: [ShowPassword],
    data (){
        return {
            mixins: [ShowPassword],
        }
    }
}
</script>
