<script setup>
import BreezeButton from "@/Components/Button.vue";
import BreezeGuestLayout from "@/Layouts/Guest.vue";
import JbButton from "@/Components/JbButton.vue";
import JbButtons from "@/Components/JbButtons.vue";
import BreezeInput from '@/Components/Input.vue';
import BreezeValidationErrors from "@/Components/ValidationErrors.vue";
import { Head, useForm } from "@inertiajs/inertia-vue3";

defineProps({
  status: String,
});

const form = useForm({
  email: "",
});

</script>

<template>
  <BreezeGuestLayout>
    <Head title="Forgot Password" />
    <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
      <div
        class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
      >
        <div class="intro-x mt-2 text-slate-400 xl:hidden text-center"></div>
        <div class="intro-x mt-8">
          <form>
            <div>
              <BreezeInput
                id="email"
                type="email"
                v-model="form.email"
                required
                autofocus
                placeholder="Email"
                autocomplete="email"
                class="mt-4"
              />
              <div
                v-if="form.errors?.email"
                class="text-sm text-red-500 dark:text-red-400 mt-1 font-medium flex"
              >
                <span> {{ form.errors.email }} </span>
              </div>
            </div>

            <div class="flex items-center text-center">
              <jb-buttons class="w-full">
                <jb-button
                  active
                  label="Liên kết đặt lại mật khẩu qua email"
                  :class="{ 'opacity-25': form.processing }"
                  class="text-white button"
                  @click="submit"
                ></jb-button>
              </jb-buttons>
            </div>
          </form>
        </div>
      </div>
    </div>
  </BreezeGuestLayout>
</template>
<script>
export default {
    methods: {
        submit(){
            this.form.post(route("password.email"), {
                onFinish: () => {
                        if (!this.form.hasErrors) {
                            this.$toast.success('Đã gửi email xác nhận đổi mật khẩu, hãy kiểm tra')
                        }
                    }
            });
        }
    }
}
</script>
<style scoped>
.button{
    width:16rem;
}
</style>
