<script setup>
import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
import BreezeCheckbox from "@/Components/Checkbox.vue";
import BreezeGuestLayout from "@/Layouts/Guest.vue";
import BreezeInput from "@/Components/Input.vue";
import BreezeLabel from "@/Components/Label.vue";
import BreezeValidationErrors from "@/Components/ValidationErrors.vue";
import JbButton from "@/Components/JbButton.vue";
import JbButtons from "@/Components/JbButtons.vue";
import ShowPassword from "@/Mixins/showPassword.js";
import Loading from "@/Components/Loading.vue";

defineProps({
    canResetPassword: Boolean,
    status: String,
    message: String,
});
</script>

<template>
    <Loading v-if="isLoading" />
    <BreezeGuestLayout>
        <!-- BEGIN: Login Form -->
        <img class="absolute top-0 left-0 z-10" src="https://humg.edu.vn/Publishing_Resources/web/images/logo.png" alt="">
        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
            <div
                class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
            >
                <h2
                    class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left"
                >
                    Đăng nhập
                </h2>
                <div class="intro-x mt-8">
                    <div
                        v-if="$page.props?.status"
                        class="text-sm text-success dark:text-red-400 mt-1 font-medium flex"
                    >
                        <span> {{ $page.props?.status }} </span>
                    </div>
                    <form @submit.prevent="submit">
                        <BreezeInput
                            id="email"
                            type="email"
                            v-model="form.email"
                            autofocus
                            placeholder="Email"
                            autocomplete="email"
                            class="mt-4"
                            :class="form.errors.email ? 'border-red-600' : ''"
                        />
                        <div
                            v-if="form.errors?.email"
                            class="text-sm text-red-500 dark:text-red-400 mt-1 font-medium flex"
                        >
                            <span> {{ form.errors.email }} </span>
                        </div>
                        <div class="relative mt-4">
                            <BreezeInput
                                :type="showPassword ? 'text' : 'password'"
                                v-model="form.password"
                                autofocus
                                placeholder="Mật khẩu"
                                autocomplete="new-password"
                                :class="
                                    form.errors.password ? 'border-red-600' : ''
                                "
                            />
                            <fa
                                :icon="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                                size="lg"
                                class="absolute z-50 right-0 mr-2 cursor-pointer"
                                style="bottom: 15px"
                                @click="showPassword = !showPassword"
                            ></fa>
                        </div>
                        <div
                            v-if="form.errors?.password"
                            class="text-sm text-red-500 dark:text-red-400 mt-1 font-medium flex"
                        >
                            <span> {{ form.errors.password }} </span>
                        </div>
                        <div
                            v-if="$page.props.flash.error"
                            class="text-sm text-red-500 dark:text-red-400 mt-1 font-medium flex"
                        >
                            <span> {{ $page.props.flash.error }} </span>
                        </div>
                        <div
                            class="mt-4 flex items-center"
                            style="justify-content: space-between"
                        >
                            <label class="flex items-center">
                                <BreezeCheckbox
                                    name="remember"
                                    v-model:checked="form.remember"
                                />
                                <span class="ml-2 text-sm text-gray-600"
                                    >Ghi nhớ</span
                                >
                            </label>
                            <Link
                                :href="route('password.request')"
                                v-if="canResetPassword"
                                class="underline text-sm text-gray-600 hover:text-gray-900"
                            >
                                Quên mật khẩu?
                            </Link>
                        </div>

                        <jb-buttons>
                            <jb-button
                                label="Đăng nhập"
                                @click="submit"
                                active
                                class="py-3 px-4"
                            />
                            <jb-button
                                :href="route('admin.register')"
                                outline
                                label="Đăng ký"
                                class="py-3 px-4"
                            />
                        </jb-buttons>
                    </form>
                </div>
            </div>
        </div>
        <!-- END: Login Form -->
    </BreezeGuestLayout>
</template>
<script>
export default {
    mixins: [ShowPassword],
    props: {
        errors: {
            type: Object,
        },
        status: {
            type: Object,
        },
    },
    data() {
        return {
            form: useForm({
                email: "",
                password: "",
            }),
            isLoading: false,
        };
    },
    methods: {
        submit() {
            this.form.post(route("admin.login.post"), {
                onStart: (visit) => {
                    this.isLoading = true;
                },
                onFinish: () => {
                    this.isLoading = false;
                    this.form.reset("password");
                },
            });
        },
    },
    watch: {
        "form.email"() {
            this.form.errors.email = "";
        },
        "form.password"() {
            this.form.errors.password = "";
        },
    },
};
</script>
