<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import BreezeButton from '@/Components/Button.vue';
import BreezeGuestLayout from '@/Layouts/Guest.vue';
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';
import BreezeValidationErrors from '@/Components/ValidationErrors.vue';
import JbButton from '@/Components/JbButton.vue';
import JbButtons from '@/Components/JbButtons.vue';
import ShowPassword from '@/Mixins/showPassword.js';
import Loading from '@/Components/Loading.vue';


</script>

<template>
    <Loading v-if="isLoading" />
    <BreezeGuestLayout>
        <!-- BEGIN: Register Form -->
            <img class="absolute top-0 left-0 z-10" src="https://humg.edu.vn/Publishing_Resources/web/images/logo.png" alt="">
            <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                    <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                        Đăng ký
                    </h2>
                    <form @submit.prevent="submit">
                        <div class="intro-x mt-8">
                            <BreezeInput id="first_name"
                                type="text"
                                v-model="form.first_name"
                                autofocus
                                placeholder="Họ"
                                autocomplete="first_name"
                                :class="form.errors.first_name ? 'border-red-600' : ''"
                            />
                            <div
                                v-if="form.errors?.first_name"
                                class="text-sm text-red-600 dark:text-red-400 mt-1 font-medium flex"
                            >
                                <span> {{ form.errors.first_name }} </span>
                            </div>
                            <BreezeInput id="last_name"
                                type="text"
                                v-model="form.last_name"
                                autofocus
                                placeholder="Tên"
                                autocomplete="last_name"
                                class="mt-4"
                                :class="form.errors.last_name ? 'border-red-600' : ''"
                            />
                            <div
                                v-if="form.errors?.last_name"
                                class="text-sm text-red-600 dark:text-red-400 mt-1 font-medium flex"
                            >
                                <span> {{ form.errors.last_name }} </span>
                            </div>
                            <BreezeInput id="email"
                                type="email"
                                v-model="form.email"
                                autofocus
                                placeholder="Email"
                                autocomplete="email"
                                class="mt-4"
                                :class="form.errors.email ? 'border-red-600' : ''"
                            />
                            <div
                                v-if="form.errors?.email"
                                class="text-sm text-red-600 dark:text-red-400 mt-1 font-medium flex"
                            >
                                <span> {{ form.errors.email }} </span>
                            </div>
                            <div class="relative mt-4">
                                <BreezeInput
                                    :type="showPassword ? 'text' : 'password'"
                                    v-model="form.password"
                                    autofocus
                                    placeholder="Mật khẩu"
                                    autocomplete="new-password"
                                    :rules="[rules.required, rules.min, rules.strength]"
                                    :class="form.errors.password ? 'border-red-600' : ''"
                                />
                                <fa :icon="showPassword ? 'fa-eye' : 'fa-eye-slash'" size="lg" class="absolute z-50 right-0 mr-2" style="bottom: 15px" @click="showPassword = !showPassword"></fa>

                            </div>
                            <div
                                v-if="form.errors?.password"
                                class="text-sm text-red-600 dark:text-red-400 mt-1 font-medium flex"
                            >
                                <span> {{ form.errors.password }} </span>
                            </div>
                            <div class="intro-x w-full grid grid-cols-1 h-1 mt-3 relative">
                                <div class="col-span-3 h-full rounded bg-slate-100 dark:bg-darkmode-800 absolute w-full"></div>
                                <div class="h-full rounded z-10 transition-all delay-150 duration-300" :style="{'background-color': color, 'width': width}"
                                ></div>
                            </div>
                            <a href="" class="intro-x text-slate-500 block mt-2 text-xs sm:text-sm">Độ an toàn ?</a>
                            <BreezeInput
                                type="password"
                                v-model="form.password_confirmation"
                                autofocus
                                placeholder="Nhập lại mật khẩu"
                                autocomplete="new-password"
                                class="mt-4"
                                :class="form.errors.password_confirmation ? 'border-red-600' : ''"
                            />
                            <div
                                v-if="form.errors?.password_confirmation"
                                class="text-sm text-red-600 dark:text-red-400 mt-1 font-medium flex"
                            >
                                <span> {{ form.errors.password_confirmation }} </span>
                            </div>
                        </div>
                        <div class="intro-x flex items-center text-slate-600 dark:text-slate-500 mt-4 text-xs sm:text-sm">
                            <input
                                v-model="condition"
                                id="condition"
                                type="checkbox"
                                class="form-check-input border mr-2">
                            <label class="cursor-pointer select-none" for="remember-me">Tôi đồng ý với các yêu cầu</label>
                            <Link class="text-primary dark:text-slate-200 ml-1" :href="''">Privacy Policy</Link>.
                        </div>
                        <jb-buttons class="flex">
                            <jb-button
                                label="Đăng ký"
                                computedType="primary"
                                class="py-3 px-4"
                                active
                                @click="register"
                            />
                            <jb-button
                                :href="route('admin.login')"
                                outline
                                label="Đăng nhập"
                                class="py-3 px-4"
                            />
                        </jb-buttons>
                    </form>
                </div>
            </div>
        <!-- END: Register Form -->

    </BreezeGuestLayout>
</template>
<script>

export default {
    mixins: [ShowPassword],
    data(){
        return {
            form: useForm({
                email: '',
                first_name: '',
                last_name: '',
                phone: '',
                zip_code: '',
                password: '',
                password_confirmation: '',
                active: '',
            }),
            isLoading: false,
            condition: false,
        }
    },
    props: {
		errors: {
			type: Object,
		}
    },
    methods: {
        register(){
            if (!this.condition){
                this.$toast.warning('Vui lòng chọn đồng ý')
                return
            }else{
                this.form.post(route('admin.register.post'), {
                onStart: (visit) => {
                    this.isLoading = true;
                },
                onError: (errors) => {
                    this.isLoading = false;
                },
                onFinish: () => {
                    if (!this.form.hasErrors) {
                        this.isLoading = false;
                        this.$toast.success('Đăng ký tài khoản thành công, hãy vào kiểm tra email cuả bạn')
                    }
                },
                });
            }
        }
    },
}
</script>
<style scoped>
html body{
    padding: 0;
}
</style>
