<script setup>
import BreezeGuestLayout from '@/Layouts/Guest.vue';
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';
import JbButton from '@/Components/JbButton.vue'
import JbButtons from '@/Components/JbButtons.vue'
import { Head, useForm } from '@inertiajs/inertia-vue3';
import ShowPassword from '@/Mixins/showPassword.js'

const props = defineProps({
    email: String,
    token: String,
});

const form = useForm({
    token: props.token,
    email: props.email,
    password: '',
    password_confirmation: '',
});

</script>

<template>
    <BreezeGuestLayout>
        <Head title="Reset Password" />
        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
            <div
                class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
            >
                <div class="intro-x mt-2 text-slate-400 xl:hidden text-center"></div>
                <div class="intro-x mt-8">
                    <form>
                        <div>
                            <BreezeLabel for="email" value="Email" />
                            <BreezeInput
                                id="email"
                                type="email"
                                v-model="form.email"
                                required
                                autofocus
                                placeholder="Email"
                                autocomplete="email"
                                class="mt-4"
                                disabled
                            />
                        </div>
                        <div class="mt-4 relative">
                            <BreezeLabel for="password" value="Password" />
                            <BreezeInput
                                    :type="showPassword ? 'text' : 'password'"
                                    v-model="form.password"
                                    autofocus
                                    placeholder="Password"
                                    autocomplete="new-password"
                                    :rules="[rules.required, rules.min, rules.strength]"
                                />
                            <fa :icon="showPassword ? 'fa-eye' : 'fa-eye-slash'" size="lg" class="absolute z-50 top-1/3 right-0 mr-2" @click="showPassword = !showPassword"></fa>
                            <div
                                v-if="form.errors?.password"
                            >
                                <span class="text-sm text-red-600 dark:text-red-400 mt-1 font-medium flex"> {{ form.errors.password }} </span>
                            </div>
                        </div>

                        <div class="mt-4">
                            <BreezeLabel for="password_confirmation" value="Confirm Password" />
                            <BreezeInput
                                type="password"
                                v-model="form.password_confirmation"
                                autofocus
                                placeholder="Confirm Password"
                                autocomplete="new-password"
                                class="mt-4"
                            />
                            <div
                                v-if="form.errors?.password_confirmation"
                                class="text-sm text-red-600 dark:text-red-400 mt-1 font-medium flex"
                            >
                                <span> {{ form.errors.password_confirmation }} </span>
                            </div>
                        </div>

                        <div class="flex items-center justify-end mt-4">
                            <jb-buttons class="w-full">
                                <jb-button
                                    label="Đặt lại mật khẩu"
                                    :class="{ 'opacity-25': form.processing }"
                                    class="text-white xl:w-60"
                                    :disabled="form.processing"
                                    active
                                    @click="submit"
                                ></jb-button>
                            </jb-buttons>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </BreezeGuestLayout>
</template>
<script>
export default {
    mixins: [ShowPassword],
    methods: {
        submit(){
            this.form.post(route('password.update'), {
                onFinish: () => {
                    if(!this.form.hasErrors){
                        this.$toast.success('Đổi mật khẩu thành công')
                        form.reset('password', 'password_confirmation')
                    }else{
                        this.$toast.error(this.form.errors.email)
                    }
                }
            });
        }
    }
}
</script>
