<script setup>
import { computed, reactive, onMounted } from "vue";
import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
import BreezeButton from "@/Components/Button.vue";
import JbButton from "@/Components/JbButton.vue";
import JbButtons from "@/Components/JbButtons.vue";
import BreezeGuestLayout from "@/Layouts/Guest.vue";
import Loading from '@/Components/Loading.vue';

const props = defineProps({
  status: String,
});

const form = useForm();
let isLoading = reactive({
    value: false
})

const submit = () => {
    isLoading.value = true
    form.post(route("verification.send"), {
        onFinish: () => {
            isLoading.value = false
        },
    });
};

const verificationLinkSent = computed(() => props.status === "verification-link-sent");
</script>

<template>
    <Loading v-if="isLoading.value" />
    <BreezeGuestLayout>
        <Head title="Email Verification" />
        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
            <div
                class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
            >
                <div class="intro-x mt-2 text-slate-400 xl:hidden text-center"></div>
                <div class="intro-x mt-8">
                <div class="mb-4 text-sm text-gray-600">
                    Cảm ơn bạn đã đăng ký! Trước khi bắt đầu, bạn hãy xác minh địa chỉ email
                    của mình bằng cách nhấp vào liên kết mà chúng tôi vừa gửi qua email cho bạn
                    . Nếu bạn không nhận được email, chúng tôi sẽ gửi cho bạn một
                    email khác.
                </div>

                <div
                    class="mb-4 font-medium text-sm text-success"
                    v-if="verificationLinkSent"
                >
                    Một liên kết xác minh mới đã được gửi đến địa chỉ email bạn đã cung cấp trong
                    quá trình đăng ký.
                </div>

                <form>
                    <jb-buttons class="w-full">
                    <jb-button
                        active
                        label="Gửi email xác nhận"
                        :class="{ 'opacity-25': form.processing }"
                        class="text-white xl:w-40"
                        :disabled="form.processing"
                        @click="submit"
                    ></jb-button>
                    <jb-button
                        :href="route('admin.logout')"
                        label="Đăng xuất"
                        class="el-link--danger"
                        type="danger"

                    />

                    </jb-buttons>
                </form>
                </div>
            </div>
        </div>
    </BreezeGuestLayout>
</template>
<script>
export default {
    data(){
        return {
            isLoading: false
        }
    }
}
</script>
